<!-- DISCUSSION -->

         <div class="btn-wrap">
           <div class="yes btn">yes!</div>
           <div class="no btn">no!</div>
         </div>
         
          <!-- selected module -->
          <div class="selected">
             <div class="yes sel yescolor">
               <h1 class="one"><span><%- main.stats.data.debateTotals.yes %> Agree</span></h1>
             </div>
             <div class="no sel nocolor">
               <h1 class="one"><span><%- main.stats.data.debateTotals.no %> Disagree</span></h1>             
             </div>             
             <div class="clearb"></div>             
          </div>
          
          
         <div class="debates answer">             
             <div id="feedsform">
               <div class="text"><span class="yourvote"></span></div>
               <input type="text" name="opinion" value="Leave a comment..."/>
               <div class="reply"><span class="btn">SAY IT</span></div>
             </div>
          </div>
          
        <!-- debate module -->
          <div class="debate total">
            <div class="top">number of opinions</div>
            
            <div class="content">
              <div class="agree textblue"><%- main.stats.data.debateTotals.yes %> Agree</div>
              <div class="disagree textorange"><%- main.stats.data.debateTotals.no %> Disagree</div>
              <div class="line"></div>
              <div class="clearb"></div>
              <div class="btn statsBtn "><a >SEE DEBATE STATISTICS</a></div>              
            </div>
            
          </div>
        <!-- debate module -->
          
          
       
         
        
       
    <!-- DISCUSSION -->
 