{% extends "/layouts/public.html" %}
{% block page_title %}{% endblock %}
{% block content %} 
<div class="shim">     
  
  <div class="debates-gallery">
    <div class="gallery-container">
      <ul class="debates"></ul>
      <div class="arrows">
        <img class="arrow-left" src="{{ media_root }}/images/arrow_left.png"/>
        <img class="arrow-right" src="{{ media_root }}/images/arrow_right.png"/>
      </div>
      <div class="detail"></div>
      <div class="question">
        <hr class="top"/>
          <span class="question-text"></span>
        <hr class="bottom"/>
      </div>
      <a class="browse-all" href='#'>View All Debaters</a>
    </div>
  </div>
  
  <div class="stats-outer"></div>
  <div class="responses-outer"></div>
  <div class="join-outer"></div>
</div>
{% endblock %}


{% block page_templates %}
  <!-- Templates --> 
  <script type="text/template" id="gallery-item-template">
    <a href="#/questions/<%= qid %>/debates/<%= id %>" class="hit-area"><img src="{{ media_root }}<%= firstPost.author.webImages.large %>" width="550" height="647"/><div class="color-overlay">&nbsp;</div></a>
  </script> 
  
  <script type="text/template" id="debate-detail-template">
    <div class="stats">
      <a href="#" class="stats-btn"><img src="{{ media_root }}/images/stats_button.png"/></a>
    </div>
    <div class="message-body <%= yesNoClass %>">
      <div class="headline"><%= firstPost.author.username %> Says: <% if(firstPost.yesNo ==1) { %>Yes<% } else { %>No<% } %>!</div>
      <div class="rag"><%= raggedText %></div>
    </div>
    <div class="menu <%= yesNoClass %>">
      <a class="like btn {% if not current_user.is_authenticated() %}disabled{% endif %}" href="#"><strong><%= firstPost.likes %></strong><img src="{{ media_root }}/images/like_icon.png"/><span class="divider">&nbsp;</span>Like</a>
      <% if(hasReplies) { %>
      <a class="responses btn" href="#/questions/<%= question.id %>/debates/<%= id %>/posts"><span class="response-amt">0 </span> Responses</a>
      <% } else { %>
      <a class="responses btn {% if current_user.is_authenticated() %}respond-btn{% else %}join-prevent{% endif %}" href="#">Be the first to respond!</a>
      <% } %>
      <a class="flag btn" href="#"><img src="{{ media_root }}/images/flag_icon.png"/></a>
    </div>
    <div class="join"><a href="#" class="{% if current_user.is_authenticated() %}join-debate-btn{% else %}join-prevent{% endif %}"><img src="{{ media_root }}/images/join_debate_button.png"/></a></div>
  </script>
  
  <script type="text/template" id="responses-template">
    <div class="top-bar">
      <a href="#/questions/<%= qid %>/debates/<%= did %>"><img class="close-btn" src="{{ media_root }}/images/close_x_btn_black.png"/></a>
    </div>
    <div class="responses-list"></div>
  </script>
  
  <script type="text/template" id="responses-item-template">
    <div class="col1">
      <img src="{{ media_root }}<%= author.webImages.thumb %>" width="77" height="110"/>
      <p class="answer-bar"><%= answer %>!</p>
    </div>
    <div class="col2">
      <h4><span><%= author.username %>'s Response</span> at <%= created %></h4>
      <div class="rag"><%= raggedText %></div>
    </div>
    <a class="flag btn" href="#"><img src="{{ media_root }}/images/flag_icon.png" width="9" height="9"/></a>
    <% if(author.id != "{{ current_user.id }}") { %>
    <a href="#" class="debate-this {% if current_user.is_authenticated() %}reply-btn{% else %}signin-btn{% endif %}">Debate This!</a>
    <% } %>
  </script>
  
  <script type="text/template" id="join-debate-template">
  	<div class="question-header">
  	  <h3>Add a New Opinion</h3>
  		<div class="question"><%= raggedQuestion %></div>
  		<a href="#" class="close-btn"><img src="{{ media_root }}/images/close_x_btn.png"/></a>
  	</div>
  	<div class="step step-1">
  	  <p>&nbsp;</p>
  		<p><button class="next add">Add a new opinion</button> OR <button class="reply"><img src="{{ media_root }}<%= firstPost.author.webImages.thumb %>" width="45" height="60"/> Debate <%= firstPost.author.username %>...</button></p>
  	</div>
  	<div class="step step-2">
  		<p>Your Opinion is: <span style="color:#636466;font-weight:500;">(Please Select One)</span></p>
  		<p><button class="next yes">Yes!</button> OR <button class="next no">No!</button></p>
  	</div>
  	<div class="step step-3">
  	  <form action="" method="POST">
  	    <input type="hidden" name="author" value="{{ current_user.get_id() }}"/>
        <input type="hidden" name="yesno" value="1"/>
        <input type="hidden" name="origin" value="web"/>
    		<p>You said:</p>
    		<p><span class="yes">Yes!</span><span class="no">No!</span></p>
    		<p>What would you say to convince others of your opinion?</p>
    		<p class="error-msg"></p>
    		<div class="chars-left">
    		  <textarea name="text"></textarea>
    		  <p><span></span> Characters Left</p>
    		</div>
    		<p>Follow this debate via:</p>
    		<div class="span-20">
          {% if current_user.phoneNumber %}<p><input type="checkbox" name="follow_sms" class="fancy" value="yes"/> SMS</p>{% endif -%}
          <p><input type="checkbox" name="follow_email" class="fancy" value="yes"/> Email</p>
        </div>
        <div class="buttons">
      		<button class="prev">Back</button>
      		<button>Next</button>
      	</div>
      </form>
  	</div>
  	<div class="step step-4">
      <div class="share-view prepend-8">
        <h4>Success!!</h4>
        <h5>Expand the debate, share your ideas with friends.</h5>
        <div class="summary span-24">
          <div class="user-image">
            {% if current_user.is_authenticated() %}
            <img src="{{ media_root }}{{ current_user.get_profile_image('thubnail') }}" width="80" height="110"/>
            {% endif %}
            <p class="answer-bar"></p> 
          </div>
          <div class="span-19 body">
            <h5 class="headline">You said:</h5>
            <div class="rag"></div>
          </div>
        </div>
        <div class="col-1 span-16">
          <button class="share-btn" title="facebook">Share on Facebook</button><br/>
          <button class="share-btn" title="twitter">Share on Twitter</button>
        </div>
        <div class="col-2 span-16">
          <a href="#" class="view-opinion">View my opinion</a>
        </div>
      </div>
    </div>
    <div>
      <hr class="top"/>
      <hr class="bottom"/>
    </div>
  </script>
  
  <script type="text/template" id="reply-template">
    <a href="#" class="close-btn"><img src="{{ media_root }}/images/close_x_btn.png"/></a>
    <div class="screen screen-1">
      <div class="panel-header">
        <h4>Add a Response</h4>
      </div>
      <div class="response-to">
        <div class="user-image">
          <img src="{{ media_root }}<%= author.webImages.thumb %>" width="80" height="110"/>
          <p class="answer-bar"></p>
        </div>
        <div class="span-20">
          <h5 class="headline"><%= author.username %>'s Statement:</h5>
          <div class="rag"><%= raggedText %></div>
        </div>
      </div>
      <div class="reply-form-outer">
        <form action="/api/threads/<%= did %>/posts">
          <input type="hidden" name="author" value="{{ current_user.get_id() }}"/>
          <input type="hidden" name="yesno" value="1"/>
          <input type="hidden" name="origin" value="web"/>
          <div>Select Your Answer:</div>
          <div class="response-buttons">
            <button class="yes">Yes!</button>
            <button class="no unselected">No!</button>
          </div>
          <div>What would you say to convince others of your opinion?</div>
          <div class="reply-input-wrap">
            <p class="error-msg"></p>
            <div><textarea class="reply-input" name="text" maxlength="140"></textarea></div>
            <div class="chars-left"><span></span> Characters Left</div>
          </div>
          <div class="follow span-8">
            <p>Follow this debate via:</p>
            {% if current_user.phoneNumber %}<p><input type="checkbox" name="follow_sms" class="fancy" value="yes"/> SMS</p>{% endif -%}
            <p><input type="checkbox" name="follow_email" class="fancy"  value="yes"/> Email</p>
          </div>
          <div class="span-35" style="text-align:right;margin-bottom:30px">
            <button type="submit" class="submit-btn">Submit This Debate</button>
          </div>
        </form>
      </div>
    </div>
    <div class="screen screen-2">
      <div class="share-view prepend-8">
        <h4>Success!!</h4>
        <h5>Expand the debate, share your ideas with friends.</h5>
        <div class="summary span-24">
          <div class="user-image">
            {% if current_user.is_authenticated() %}
            <img src="{{ media_root }}{{ current_user.get_profile_image('thubnail') }}" width="80" height="110"/>
            {% endif %}
            <p class="answer-bar"></p> 
          </div>
          <div class="span-19 body">
            <h5 class="headline">You said:</h5>
            <div class="rag"></div>
          </div>
        </div>
        <div class="col-1 span-16">
          <button class="share-btn" title="facebook">Share on Facebook</button><br/>
          <button class="share-btn" title="twitter">Share on Twitter</button>
        </div>
        <div class="col-2 span-18">
           <a href="#" class="skip-btn">Skip this and go back to debate</a>
        </div>
      </div>
    </div>
    <div class="bottom">
      <hr class="top"/>
      <hr class="bottom">
    </div>
  </script>
  
  <script type="text/template" id="browse-menu-template">
    <div class="sort-menu">
      Sort By:
      <ul>
        <li><a href="#" title="recent">Recent</a></li>
        <li><a href="#" title="yes">Yes</a></li>
        <li><a href="#" title="no">No</a></li>
        <li><a href="#" title="responses">Most Debated</a></li>
      </ul> 
      <a href="#" class="close-btn"><img src="{{ media_root }}/images/close_x_btn_black.png"/></a>
    </div>
    <div class="menu-items"></div>
    <div class="more"><img class="spinner" src="{{ media_root }}/images/spinner.gif"/><a href="#" class="more-btn">More</a></div>
  </script>
  
  <script type="text/template" id="browse-menu-item-template">
    <a href="/questions/<%= qid %>/debates/<%= id %>">
      <div>
        <img src="{{ media_root }}<%= firstPost.author.webImages.thumb %>" width="60" height="85"/>
        <p class="answer-bar"><%= answer %>!</p>
      </div>
      <div>
        <p class="username"><%= username %></p>
        <p class="responses"><%= posts.count-1 %> Responses</p>
      </div>
    </a>
  </script>
  
  <script type="text/template" id="stats-screen-template">
    <div class="container">
      <div class="stats-header span-47">
        <h3>Statistics</h3>
        <h4><%= question.text %></h4>
        <ul class="stats-menu">
          <li class="screen-1"><a href="#" class="screen-1">Most Debated Opinions</a></li>
          <li class="screen-2"><a href="#" class="screen-2">Frequently Used Words</a></li>
          <li class="screen-3"><a href="#" class="screen-3">Most Liked Opinions</a></li>
          <li class="screen-4"><a href="#" class="screen-4">Number of Opinions</a></li>
        </ul>
        <a href="#" class="close-btn"><img src="{{ media_root }}/images/close_x_btn.png"/></a>
      </div>
    </div>
    <div class="most-debated screen screen-1 container">
      <div class="prepend-6 span-39">
        <div class="detail-view">
          <ul></ul>
        </div>
        <div class="menu-view">
          <ul></ul>
        </div>
      </div>
    </div>
    <div class="frequent-words screen screen-2">
      <div class="word-menu">
        <div class="word-row-outer dummy-row">&nbsp;</div>
        <div class="word-row-outer">
          <div class="word-row"></div>
        </div>
        <div class="word-row-outer">
          <div class="word-row"></div>
        </div>
        <div class="word-row-outer">
          <div class="word-row"></div>
        </div>
        <div class="word-row-outer">
          <div class="word-row"></div>
        </div>
        <div class="word-row-outer dummy-row">&nbsp;</div>
      </div>
      <div class="word-detail">
        <div class="container">
          <div class="prepend-1 span-21 the-word">
            <a href="#" class="back-btn">Back</a>
            <p><span></span></p>
          </div>
          <div class="responses span-20">
            <div class="responses-list"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="most-liked screen screen-3 container">
      <div class="prepend-6 span-39">
        <div class="detail-view">
          <ul></ul>
        </div>
        <div class="menu-view">
          <ul></ul>
        </div>
      </div>
    </div>
    <div class="num-opinions screen screen-4">
      <div class="opinions-bar">
        <div class="bar yes-bar">
          <div class="total-view">
            <p>Yes</p>
            <p><%= debateTotals.yes %></p>
          </div>
          <img src="{{ media_root }}/images/stats_arrow_yes.gif"/>
        </div>
        <div class="bar no-bar">
          <img src="{{ media_root }}/images/stats_arrow_no.gif"/>
          <div class="total-view">
            <p>No</p>
            <p><%= debateTotals.no %></p>
          </div>
        </div>
      </div>
    </div>
    
  </script>
  
  <script type="text/template" id="stats-most-liked-detail-template">
    <img src="{{ media_root }}<%= firstPost.author.webImages.large %>" width="350" height="390"/>
    <div class="body <% if(firstPost.yesNo ==1) { %>yes<% } else { %>no<% } %>">
      <div class="headline"><%= firstPost.author.username %> Says: <% if(firstPost.yesNo ==1) { %>Yes<% } else { %>No<% } %>!</div>
      <div class="rag"><%= raggedText %></div>
    </div>
    <a class="goto-btn" href="/questions/<%= qid %>/debates/<%= id %>">Go To Debate</a>
  </script>
  
  <script type="text/template" id="stats-most-liked-menu-template">
    <div class="span-3 rank">
      <%= rank %>.
    </div>
    <div class="span-12">
      <p><%= firstPost.author.username %>: <%= firstPost.created %></p>
      <p><%= likes %> Likes</p>
    </div>
  </script>
  
  <script type="text/template" id="stats-most-debated-detail-template">
    <img src="{{ media_root }}<%= firstPost.author.webImages.large %>" width="350" height="390"/>
    <div class="body <% if(firstPost.yesNo ==1) { %>yes<% } else { %>no<% } %>">
      <div class="headline"><%= firstPost.author.username %> Says: <% if(firstPost.yesNo ==1) { %>Yes<% } else { %>No<% } %>!</div>
      <div class="rag"><%= raggedText %></div>
    </div>
    <a class="goto-btn" href="/questions/<%= qid %>/debates/<%= id %>">Go To Debate</a>
  </script>
  
  <script type="text/template" id="stats-most-debated-menu-template">
    <div class="span-3 rank">
      <%= rank %>.
    </div>
    <div class="span-12">
      <p><%= firstPost.author.username %>: <%= firstPost.created %></p>
      <p><%= commentCount - 1 %> Responses</p>
    </div>
  </script>
  
  <script type="text/template" id="what-is-this-template">
    <div class="contents">
      <div class="screen-1"><img src="{{ media_root }}/images/whatisthis/screen-1.jpg" width="550" height="568"/></div>
      <div class="screen-2"><img src="{{ media_root }}/images/whatisthis/screen-2.jpg" width="550" height="568"/></div>
      <div class="screen-3"><img src="{{ media_root }}/images/whatisthis/screen-3.jpg" width="550" height="568"/></div>
      <div class="screen-4"><img src="{{ media_root }}/images/whatisthis/screen-4.jpg" width="550" height="568"/></div>
      <a href="#/questions/<%= qid %>/debates/<%= did %>" class="close-btn"><img src="{{ media_root }}/images/close_x_btn.png"/></a>
    </div>
    <div class="nav">
      <ul>
        <li><a href="#" class="screen-1"><img src="{{ media_root }}/images/whatisthis/screen-1-nav.jpg" width="125" height="60"/></a></li>
        <li><a href="#" class="screen-2"><img src="{{ media_root }}/images/whatisthis/screen-2-nav.jpg" width="125" height="60"/></a></li>
        <li><a href="#" class="screen-3"><img src="{{ media_root }}/images/whatisthis/screen-3-nav.jpg" width="125" height="60"/></a></li>
        <li><a href="#" class="screen-4"><img src="{{ media_root }}/images/whatisthis/screen-4-nav.jpg" width="125" height="60"/></a></li>
      </ul>
    </div>
  </script>
{% endblock %}

{% block page_scripts %}
  <script>
    var questionId = {% if question_id %}'{{ question_id }}'{% else %}undefined{% endif %};
    var debateOffset = {% if debate_offset %}'{{ debate_offset}}'{% else %}undefined{% endif %};
  </script>
  
  {% assets "js_home" %}
  <script defer type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}
