{% extends "/layouts/public.html" %}

{% block content %}
      
<div class="debates-gallery">
  
  <div class="gallery-container">
    <ul class="debates"></ul>
    <div class="detail"></div>
    <div class="question">
      <hr class="top"/>
      Do you think our public education system provides our children with a very thorough education?
      <hr class="bottom"/>
    </div>
    <a class="browse-all" href='#something'>Browse all responses</a>
  </div>
  
</div>

<div class="responses-outer"></div>

{% endblock %}

{% block page_scripts %}
  {% assets "js_home" %}
  <script defer type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
  
  <!-- <script defer src="{{ media_root_versioned }}/js/app/home.js"></script> -->

  <!-- Templates --> 
  <script type="text/template" id="gallery-item-template">
    <a href="#/questions/<%= qid %>/debates/<%= id %>" class="hit-area"><img src="{{ media_root }}/images/<%= startedBy.id %>.jpg" width="550" height="647"/></a>
  </script> 
  
  <script type="text/template" id="debate-detail-template">
    <div class="stats">
      <a href="#"><img src="/static/images/stats_button.png"/></a>
    </div>
    <div class="body <%= yesNoClass %>">
      <div class="headline"><%= firstPost.author.username %> Says: <%= firstPost.yesNo ? 'Yes' : 'No' %>!</div>
      <div class="rag"><%= raggedText %></div>
    </div>
    <div class="menu <%= yesNoClass %>">
      {% if current_user.is_authenticated() %}
      <a class="like btn" href="#"><strong><%= firstPost.likes %></strong><img src="/static/images/like_icon.png"/><span class="divider">&nbsp;</span>Like</a>
      {% else %}
      <a class="like btn" href=""><strong><%= firstPost.likes %></strong><img src="/static/images/like_icon.png"/></a>
      {% endif %}
      <a class="responses btn" href="#/questions/<%= question.id %>/debates/<%= id %>/posts"><span class="response-amt"><%= posts.length - 1 %></span> Responses</a>
      <a class="flag btn" href="#"><img src="/static/images/flag_icon.png"/></a>
    </div>
    <div class="join"><a href="#"><img src="/static/images/join_debate_button.png"/></a></div>
  </script>
  
  <script type="text/template" id="responses-template">
    <div>
      <a href="#/questions/<%= qid %>/debates/<%= did %>">Close</a>
    </div>
    <ul class="responses-list"></ul>
  </script>
  
  <script type="text/template" id="responses-item-template">
    <p>
      <%= text %><br/>
      Posted by: <% if(author.id != '{{ current_user.id }}') { %><%= author.username %><% } else { %>You<% } %>
      <% if(author.id != '{{ current_user.id }}') { %> | {% if current_user.is_authenticated() %}<a href="#" class="reply-btn">Reply</a>{% else %}<a href="#" class="signin-btn">Sign In To Reply</a>{% endif %}<% } %> 
    </p>
    <p>
      <%= text %><br/>
      Posted by: <% if(author.id != '{{ current_user.id }}') { %><%= author.username %><% } else { %>You<% } %>
      <% if(author.id != '{{ current_user.id }}') { %> | {% if current_user.is_authenticated() %}<a href="#" class="reply-btn">Reply</a>{% else %}<a href="#" class="signin-btn">Sign In To Reply</a>{% endif %}<% } %> 
    </p>
    <p>
      <%= text %><br/>
      Posted by: <% if(author.id != '{{ current_user.id }}') { %><%= author.username %><% } else { %>You<% } %>
      <% if(author.id != '{{ current_user.id }}') { %> | {% if current_user.is_authenticated() %}<a href="#" class="reply-btn">Reply</a>{% else %}<a href="#" class="signin-btn">Sign In To Reply</a>{% endif %}<% } %> 
    </p>
    <p>
      <%= text %><br/>
      Posted by: <% if(author.id != '{{ current_user.id }}') { %><%= author.username %><% } else { %>You<% } %>
      <% if(author.id != '{{ current_user.id }}') { %> | {% if current_user.is_authenticated() %}<a href="#" class="reply-btn">Reply</a>{% else %}<a href="#" class="signin-btn">Sign In To Reply</a>{% endif %}<% } %> 
    </p>
    <p>
      <%= text %><br/>
      Posted by: <% if(author.id != '{{ current_user.id }}') { %><%= author.username %><% } else { %>You<% } %>
      <% if(author.id != '{{ current_user.id }}') { %> | {% if current_user.is_authenticated() %}<a href="#" class="reply-btn">Reply</a>{% else %}<a href="#" class="signin-btn">Sign In To Reply</a>{% endif %}<% } %> 
    </p>
    <p>
      <%= text %><br/>
      Posted by: <% if(author.id != '{{ current_user.id }}') { %><%= author.username %><% } else { %>You<% } %>
      <% if(author.id != '{{ current_user.id }}') { %> | {% if current_user.is_authenticated() %}<a href="#" class="reply-btn">Reply</a>{% else %}<a href="#" class="signin-btn">Sign In To Reply</a>{% endif %}<% } %> 
    </p>
  </script>
  
  <script type="text/template" id="reply-popup-template">
    <div class="step step-1">
      <form action="/api/threads/<%= did %>/posts", method="POST">
        <textarea rows="2" cols="20" name="text"></textarea>
        <input type="hidden" name="yesno" value="1" />
        <input type="hidden" name="author" value="{{ current_user.id }}" />
        <input type="hidden" name="origin" value="web" />
        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="step step-2">
      Step 2
    </div>
  </script>
{% endblock %}
