{% extends "/layouts/public.html" %}

{% block page_title %}Privacy Policy{% endblock %}

{% block content %}
<div class="container">
  <h3>Privacy Policy</h3>
  <hr class="top"/>
  <p>Content specifically added by administrators of the Bob Graham Center's Civil Debate Wall are official Bob Graham Center content. Opinions expressed by other users do not reflect the opinion of the University of Florida or the Bob Graham Center for Public Service. User provided content is screened for profanity during the submission process.</p>
  <p>All content is bound by the UF Acceptable Use Policy (<a href="http://www.it.ufl.edu/policies/aupolicysummary.html">http://www.it.ufl.edu/policies/aupolicysummary.html</a>).</p> 
  <p>Users are expected to abide by applicable laws, regulations, rules and policies including the University Student Code of Conduct (<a href="http://www.dso.ufl.edu/sccr/honorcodes/conductcode.php">http://www.dso.ufl.edu/sccr/honorcodes/conductcode.php</a>), the University's Sexual Harassment Policy (<a href="http://www.admin.ufl.edu/ddd/dd96-97/96DD070A.htm">http://www.admin.ufl.edu/ddd/dd96-97/96DD070A.htm</a>), and other regulations and policies concerning public communications (<a href="http://www.it.ufl.edu/policies/aupolicy.html">http://www.it.ufl.edu/policies/aupolicy.html</a>).</p>
  <p>We reserve the right to remove content at any time.</p>
  <p>We encourage users to report content that violates Facebook's Code of Conduct (<a href="http://www.facebook.com/terms.php?ref=pf">http://www.facebook.com/terms.php?ref=pf</a>) by using the official Facebook procedure.</p>
  <hr class="bottom"/>
</div>
{% endblock %}
