{% extends "/layouts/public.html" %}
{% block section_selector %}profile{% endblock %}
{% block page_selector %}profile-index{% endblock %}
{% block content %}
<div class="container">
  <div class="span-47">
    <h2>YOUR PROFILE</h2>
  </div>
  <div class="profile-col1 span-20">
    <h3>{{ current_user.username }}</h3>
    <img width="300" height="400" src="{{ media_root }}/images/users/{{ current_user.id }}.jpg"/><br/>
    <a href="#">Change profile picture</a>
  </div>
  <div class="span-27">
    <div>
      <h4>My Debates</h4>
      {% if threads|length > 0 %}
      {% for thread in threads %}
      <p>
         {{ thread.question.text }}<br/>
         {{ thread.created }} | {{ thread.posts|length }} posts
      </p>
      {% endfor %}
      {% else %}
      <p>You haven't participated in any debates yet.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block page_scripts %}
<script defer src="{{ media_root_versioned }}/js/app/profile.js"></script>
{% endblock %}
