{% extends "/layouts/public.html" %}

{% block content %}
<div class="container black-page">
  <div class="prepend-11 span-30">
    <h2 class="welcome">Welcome<br/>
      {{ current_user.username }} !
    </h2>
    <h4>Your account has been completed</h4>
    <p><img src="/static/images/users/{{ current_user.get_id() }}-web.jpg" width="150" height="200"/></p>
    <p><a href="/">Continue on and Debate</a></p>
    <p><a href="/profile">View Your Profile</a></p>
  </div>
  <div class="prepend-3 span-41">
    <div class="span-41">
      <hr class="top"/>
      <hr class="bottom"/>
    </div>
  </div>
</div>
{% endblock %}
