{% extends "/layouts/public.html" %}

{% block content %}
<div class="shim-tall">
  <div class="container white-on-black">
    <div class="prepend-3 span-41">
      <h3 class="page-title">Create an Account</h3>
      <p><strong>Take a Photo!</strong></p>
      <div class="span-8 append-2">
        <img src="{{ media_root }}/images/users/{{ current_user.webProfilePicture }}" width="150" height="200"/>
      </div>
      <div class="span-31">
        <p>This photo will be used every time you post your thoughts on The Wall. <br/>
          You can change it later on your profile page</p>
        <a class="btn large photo-booth" href="#">Take My Photo</a> <a class="btn large" href="/register/complete">Use My Existing Photo</a>
      </div>
    </div>
    <div class="prepend-13 span-31" style="height:100px">
      <div>&nbsp;</div>
    </div>
    <div class="prepend-13 span-31">
      <div><a href="/register/complete">Continue without Photo</a></div>
    </div>
    <div class="prepend-13 span-31" style="height:40px">
      <div>&nbsp;</div>
    </div>
    <div class="prepend-3 span-41">
      <hr class="top"/>
      <hr class="bottom"/>
    </div>
    <div class="prepend-3 span-41">
      <div>&nbsp;</div>
      <div class="right">
        <strong>Step 2</strong> of <strong>2</strong>
      </div>
    </div>
  </div>
</div>
{% endblock %}
