{% extends "/layouts/public.html" %}

{% block page_title %}Suggest A Question{% endblock %}

{% block content %}
<div class="shim-tall white-on-black">
  <div class="container">
    <div class="prepend-2 span-43 append-2">
      {%- include "/partials/flash_messages.html" %}
      <h3 class="sub-title">Suggest A Question</h3>
      <h4>Please phrase a question as having a <span style="color:#67b6fd;font-weight:700;">YES</span> or <span style="color:#e0681c;font-weight:700;">NO</span> answer.</h4>
      <form action="/suggest" method="POST">
        {{ form.csrf }}
        <textarea class="question-input" name="question">Enter your question here...</textarea>
        <h3 style="font-weight:700;">Tag your question with a category</h3>
        <div class="span-43">
          {{ form.category }}
        </div>
        <div class="span-29" style="text-align:right;"><button type="submit">Submit This Question</button></div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
