{% extends "/layouts/public.html" %}

{% block page_title %}Suggest A Question{% endblock %}

{% block content %}
<div class="container">
  <form action="/suggest" method="POST">
    {{ form.csrf }}
    <h3>Suggest a question</h3>
    <p><span>Please phrase a question as having a YES or NO answer.</span></p>
    <textarea class="question-input" name="question">Enter your question here...</textarea>
    <h3>Tag your question with a category</h3>
    <p>
      <select>
        <option value="">I am not sure...</option>
        {% for cat in categories %}
        <option value="{{ cat.id }}">{{ cat.name }}</option>
        {% endfor %}
      </select>
    </p>
    <p><input type="submit" value="Submit This Question"/></p>
  </form>
</div>
{% endblock %}
