<%
   var dentry = main.stats.data.mostDebatedOpinions[0],
       dself  = dentry.firstPost,
       isResponse   = (dentry.threadAuthor.username !== dentry.author.username) ? true :  false,
       vote = CDW.utils.misc.yesNo(dself.yesNo),
       responseTo = (!isResponse) ? "": "@"+entry.threadAuthor.username + " ", 
%>

        <!-- debate module -->
          
          <div class="debate <%- vote %>" data-did="<%- dentry.id %>" data-isresponse="<%- isResponse %>" data-postid="<%- dself.id %>">
            <div class="top <%- vote %>"><a href="stats.html#/questions/<%= main.current.data.id %>/stats/debated">#1 Debated  |  <%- dentry.commentCount %> Responses</a></div>
            
            <div class="content">            
              
              <div class="user">
                <div class="pic <%- vote %>">
                  <div class="w"><!--img src="http://civildebatewall.s3.amazonaws.com<%- dself.author.webImages.large %>" border="0" /-->
                  <img src="http://civildebatewall.s3.amazonaws.com/media/images/web/508554d6106dfe107400002c.jpg" border="0" />
                  </div>
                </div>
                
                <div class="opinion  <%- vote %>">
                  <%- dself.author.username %> says <span class="yesno"><%- vote %>!</span>
                  <div class="date"><%- CDW.utils.misc.daysDifference(dself.created) %></div>
                </div>
                
                
              </div>
              
              <div class="text">
              
                <div class="desc">"<%- responseTo %><%- dself.text %>"</div>
              
                <div class="likes"><span class="star"></span><span class="count"><%- dentry.likes%></span></div>
              
                 <div class="reply"><span class="btn">Reply</span></div>
              
              </div>
              
              
              <div class="clearb"></div>
              
            </div>
            
          </div>
        <!-- debate module -->
        
<%
   var lentry = main.stats.data.mostLikedOpinions[0],
       lself  = lentry.firstPost,
       lisResponse   = (dentry.responseTo) ? "true" :  "false",
       lvote = CDW.utils.misc.yesNo(lself.yesNo),
       lresponseTo = (lentry.responseTo) ? "@"+lentry.responseTo : "";
%>

           <!-- debate module -->
          
          <div class="debate <%- lvote %>" data-did="<%-lentry.id %>" data-isresponse="<%- lisResponse %>" data-postid="<%- lself.id %>">
            <div class="top <%- vote %>"><a href="stats.html#/questions/<%= main.current.data.id %>/stats/liked">#1 Favorited  |  <%- lentry.commentCount %> Responses</a></div>
            
            <div class="content">            
              
              <div class="user">
                <div class="pic  <%- lvote %>">
                  <div class="w">
                  <!--img src="http://civildebatewall.s3.amazonaws.com<%- dself.author.webImages.large %>" border="0" /-->
                  <img src="http://civildebatewall.s3.amazonaws.com/media/images/web/508554d6106dfe107400002c.jpg" border="0" />
                  
                  </div>
                </div>
                
                <div class="opinion  <%- lvote %>">
                  <%- lself.author.username %> says <span class="yesno"><%- lvote %>!</span>
                  <div class="date"><%- CDW.utils.misc.daysDifference(lself.created) %></div>
                </div>
                
                
              </div>
              
              <div class="text">
              
                <div class="desc">"<%- lresponseTo %><%- lself.text %>"</div>
              
                <div class="likes"><span class="star"></span><span class="count"><%- lself.likes%></span></div>
              
                 <div class="reply"><span class="btn">Reply</span></div>
              
              </div>
              
              
              <div class="clearb"></div>
              
            </div>
            
          </div>
        <!-- debate module -->
        
        