# ----------------------
# Fabric specific values
# ----------------------

# Server username
user = ubuntu

# Path to the key which was used to create the EC2 instance
key_filename = /path/to/key.pem

# EC2 host to deploy to 
host_string = add.this.after.creating.ec2.server.com

# A directory to temporarily work in while deploying
build_dir = /path/to/build/dir


# -------------------
# EC2 specific values
# -------------------

# Your EC2 account key
ec2_key = ec2_key

# Your EC2 account secret
ec2_secret = ec2 secret

# The AMI to create a server from. This is from alestic.com us-east-1 
ec2_amis = ami-fd589594

# A keypair name from your EC2 account
ec2_keypair = keypair

# A comma separated list of security groups
ec2_secgroups = civildebate

# The instance size to launch
ec2_instancetype = t1.micro


# ----------------------
# Server specific values
# ----------------------

# Server home directory
server_home_dir = /home

# Name to tag the EC2 instance with
server_tag = cdw-something

# Path to uWSGI config directory. 
server_uwsgi_config_dir = /etc/uwsgi

# Path to nginx config directory
server_nginx_config_dir = /etc/nginx


# ---------------------------
# Application specific values
# ---------------------------
app_id = cdw

app_scm_url = git@git.assembla.com:lp-cdw.4.git
app_scm_branch = origin/master

app_host_scheme = http
app_host_domain = civildebatewall.com 
app_host_port = 80

app_environment = development
app_debug = True or False
app_secret_key = secret_key_phrase

app_admin_emails = matt@localprojects.net,you@somehwere.com

app_log_file_name = main.log
app_log_file_level = WARN
app_log_email_sender = errors@civildebatewall.com
app_log_email_server = 127.0.0.1
app_log_email_level = ERROR

app_cache_type = filesystem
app_cache_dir = cache
app_cache_memcached_servers = None

app_uwsgi_module = application
app_uwsgi_callable = app

app_media_root = /static

app_contact_email = matt@localprojects.net

app_intro_video_id = 35397675

app_mongodb_db = cdw_flask
app_mongodb_username = None
app_mongodb_password = None
app_mongodb_host = localhost
app_mongodb_port = 27017

app_image_storage_type = local or s3
app_temp_dir = /tmp
app_user_images_dir = /path/to/static/images/users

app_kiosk1_phone = 5555555555
app_kiosk2_phone = 
app_kiosk3_phone = 
app_kiosk4_phone = 
app_kiosk5_phone = 

app_twilio_account_sid = something
app_twilio_auth_token = something
app_twilio_app_id = something
app_switchboard_number = +15555555555

app_aws_access_key_id = aws_key
app_aws_secret_access_key = aws_secret
app_aws_s3bucket = 

app_beanstalk_host = localhost
app_beanstalk_port = 11300

app_use_sms_queue = False
app_smsqueue_purge_on_startup = False

app_api_secret_key = secretkey
app_auth_password_encryptor = auth.NoOpPasswordEncryptor
app_auth_salt = salty

app_facebook_app_id = app_id
app_facebook_app_secret = app_secret

app_bitly_user = bitly_user
app_bitly_apikey = api_key

app_google_analytics_id = 

app_local_request = http://dev.www.civildebatewall.com:5000