Fabric==1.4.3

# Flask and extensions
Flask==0.9
Flask-Assets==0.8
Flask-Cache==0.3.4
Flask-Login==0.1.3
Flask-OAuth==0.12
Flask-Script==0.5.1
Flask-WTF==0.8
Flask-Testing==0.4
flask-mongoengine==0.6

Jinja2==2.6
PIL==1.1.7
PyJWT==0.1.4
PyYAML==3.10
WTForms==1.0.2
Werkzeug==0.8.3
argparse==1.2.1
beanstalkc==0.2.0
bitlyapi==0.1.1
blinker==1.1
boto==2.1.1
cropresize==0.1.6
cssmin==0.1.4
factory_boy==1.0.0
httplib2==0.7.4
lorem-ipsum-generator==0.3
mongoengine==0.7.7
nose==1.1.2
oauth2==1.5.211
paramiko==1.9.0
pycrypto==2.6
pymongo==2.4
twilio==3.3.2
webassets==0.8
wsgiref==0.1.2
simplejson==2.6.1
requests==1.1.0

# For development only, but won't hurt in production
jsmin==2.0.3
lesscss==0.1.4
