Flask==0.8
Flask-Assets==0.6.2
Flask-Cache==0.3.4
Flask-Login==0.1
Flask-OAuth==0.11
Flask-WTF==0.5.2
blinker==1.1
nose==1.1.2
boto==2.0
fabric==1.2.0
pyyaml
mongoengine
twilio
beanstalkc
PIL
cropresize
cssmin
