<!-- debate module -->
   <div class="debate">
        <div class="content">
                <div class="text">
                        <div class="category">Politics</div>
                          <div class="desc">"Come on, why are we even debating this. What are you going to do - make them be homeless?"</div>
                          <div class="date">09/01/2012</div>
                           <div class="likes"><span class="star"></span></div>
                        </div>
                <div class="clearb"></div>
         </div>
   </div>
<!-- debate module -->
                     
                  