 <% for (var index = 0; index < main.length; index++){ 
           var entry = main[index];
          
              
 %>
          
<!-- debate module -->
   <div class="debate">
        <div class="content">
                <div class="text">
                        <div class="category"><%- entry.category.name %></div>
                          <div class="desc">"<%- entry.text %>"</div>                      
                        </div>
                <div class="clearb"></div>
         </div>
   </div>
<!-- debate module -->
<% } %>                     
                  