<div id="reg-overlay" class="overlay">
      
         <div class="header"><div class="close"></div></div>
         
         <div class="body">
          
            <div class="prompt-auth">
              <div class="textwrap">
                   
                   <div class="intro">
                     <div class="big">Great!</div>
                     <div class="sm5">Please Log in or sign up via Facebook, Twitter or your debate wall account.</div>
                   </div>
                  
         
                  
              </div>
              <div class="formwrap">
                  <div class="row sbtn"><img src="css/mobile/images/fb_lg.png" border="0" /></div>                  
                  <div class="divider sm5">OR</div>  
                  <div class="row sbtn"><img src="css/mobile/images/tw_lg.png" border="0" /></div>                  
                  <div class="divider sm5">OR</div>
                  
                  
                   <div class="row">
                    <div id="login_or_signup_form">
                      <div class="error-msg"></div>
                      <div class="cozy username"><input name="email" type="text"  title="EMAIL ADDRESS"></div>
                      <div class="divider sm5"></div> 
                      <div class="cozy password"><input name="password" type="password" class="text password defaulttext" title="PASSWORD"></div>
                      <div class="divider sm5"></div> 
                      <div class="submit"><span class="btn">register/sign in</span></div>                      
                    </div>
                  </div>
                  
             </div>     
                  
                 
                  
            </div>
            
         </div>
         
       <div class="footer"></div>
</div>