img.typekit-badge {
  display: none !important;
}
.gallery-item {
  width: 550px;
  height: 648px;
}
html, body, div.content-outer {
  height: 100%;
}
div.content-outer {
  height: auto;
  min-height: 100%;
}
div.content-inner {
  position: relative;
  padding: 75px 0 50px;
  overflow: auto;
}
.shadowed {
  box-shadow: 3px 3px 7px #000000;
  -moz-box-shadow: 3px 3px 7px #000000;
  -webkit-box-shadow: 3px 3px 7px #000000;
}
.cozy {
  margin: 0;
  padding: 0;
}
.fullscreen {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.auto-center {
  position: relative;
  width: 940px;
  margin: 0 auto;
  overflow: auto;
  text-align: center;
}
.white-on-black {
  color: #FFFFFF;
  background-color: #000000;
}
div.flashes {
  text-align: center;
  background-color: #CCCCCC;
  color: #000000;
  display: none;
}
div.flashes div.flash {
  padding: 5px 0;
}
div.popup-outer {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  z-index: 9000;
}
div.popup-outer div.popup-inner {
  /*.shadowed;*/

  position: relative;
  z-index: 9001;
  margin: 0 auto;
  width: 500px;
}
div.popup-outer div.popup-inner div.login-popup a {
  text-decoration: underline;
}
div.popup-outer div.popup-inner div.login-popup input {
  color: #666666;
}
div.popup-outer div.popup-inner div.login-popup input.active {
  color: #000000;
}
div.popup-outer div.popup-inner div.login-popup div:first-child {
  background-color: #67b6fd;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 1.4em;
}
div.popup-outer div.popup-inner div.login-popup div:first-child img {
  position: absolute;
  right: 30px;
  top: 15px;
}
div.popup-outer div.popup-inner div.login-popup div:last-child {
  background-color: #e0681c;
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  color: #FFFFFF;
  font-size: 0.8em;
}
div.popup-outer div.popup-inner div.login-popup div:last-child a {
  color: #FFFFFF;
}
div.popup-outer div.popup-inner div.login-popup div {
  padding: 10px;
  background-color: #FFFFFF;
  text-align: center;
}
div.popup-outer div.popup-inner div.login-popup div.error-msg {
  margin: 0 0 5px;
  display: none;
  color: #CC0000;
}
div.popup-outer div.popup-inner div.photo-booth {
  background-color: #CCCCCC;
  height: 500px;
}
div.popup-outer div.popup-inner div.reply-popup {
  background-color: #CCCCCC;
  height: 300px;
}
div.popup-outer div.popup-inner div.reply-popup div.step {
  display: none;
}
div.popup-outer div.popup-inner div.reply-popup div.step-1 {
  display: block;
}
div.popup-outer div.popup-mask {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #000000;
  opacity: 0.85;
  z-index: -1;
}
div.header {
  color: #FFFFFF;
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
div.header div.title-bar {
  margin: 0;
  padding: 0;
  width: 800px;
  line-height: 0;
  margin: 0 auto;
  overflow: auto;
}
div.header div.title-bar h1 {
  margin: 10px 220px 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 800;
  float: left;
}
div.header div.title-bar img {
  vertical-align: middle;
  float: left;
}
div.header div.nav {
  position: relative;
  width: 940px;
  margin: 0 auto;
  overflow: auto;
  text-align: center;
  padding: 10px 0;
  background-color: #FFFFFF;
  width: 100%;
}
div.header div.nav div {
  display: inline;
}
div.header div.nav div.col2 {
  margin: 0 190px 0 230px;
  text-transform: uppercase;
  font-weight: 800;
}
div.header div.nav div.col3 {
  color: #666666;
}
div.header div.nav div.col3 a.user {
  font-weight: 800;
}
div.header div.nav div.col3 span.divider {
  border-right: 1px solid #000000;
  padding-left: 2px;
  margin-right: 5px;
}
div.footer {
  clear: both;
  position: relative;
  height: 40px;
  padding-top: 10px;
  margin-top: -50px;
  background-color: #FFFFFF;
}
div.footer img {
  vertical-align: text-bottom;
}
div.footer div.inner {
  position: relative;
  width: 940px;
  margin: 0 auto;
  overflow: auto;
  text-align: center;
}
div.footer div.inner div.share {
  text-align: left;
}
div.footer div.inner div.util {
  text-align: right;
}
div.footer div.inner div.util ul {
  margin: 0;
  padding: 0;
}
div.footer div.inner div.util ul li {
  margin: 0;
  padding: 0;
  display: inline;
  list-style: none;
  margin-left: 12px;
}
/* Home Page */
body.home-index div.debates-gallery {
  height: 650px;
  overflow: hidden;
}
body.home-index div.debates-gallery div.gallery-container {
  position: relative;
  height: 650px;
}
body.home-index div.debates-gallery div.gallery-container ul.debates {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
body.home-index div.debates-gallery div.gallery-container ul.debates li {
  width: 550px;
  height: 648px;
  position: absolute;
  background-color: #ccc;
}
body.home-index div.debates-gallery div.gallery-container ul.debates li a {
  width: 550px;
  height: 648px;
}
body.home-index div.debates-gallery div.gallery-container ul.debates li div {
  position: absolute;
}
body.home-index div.debates-gallery div.gallery-container ul.debates li.selected a.hit-area {
  display: none;
}
body.home-index div.debates-gallery div.gallery-container ul.debates li.selected div.content-container {
  display: block;
}
body.home-index div.debates-gallery div.gallery-container ul.debates li.unselected a.hit-area {
  display: block;
}
body.home-index div.debates-gallery div.gallery-container ul.debates li.unselected div.content-container {
  display: none;
}
body.home-index div.debates-gallery div.detail {
  width: 550px;
  height: 648px;
  position: absolute;
  top: 0;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.yes div.headline {
  background-color: #00b9ff;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.yes div.rag span {
  background-color: #67b6fd;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.yes .btn {
  background-color: #00b9ff;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.no div.headline {
  background-color: #ff5a00;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.no div.rag span {
  background-color: #e0681c;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.no .btn {
  background-color: #ff5a00;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.stats {
  position: relative;
  left: 424px;
  margin: 260px 0 5px;
  display: inline-block;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.body {
  position: relative;
  display: inline-block;
  left: 40px;
  margin: 0 0 12px;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.body div.headline {
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: 800;
  padding: 4px 8px;
  top: 340px;
  text-transform: uppercase;
  display: inline-block;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.body div.rag {
  position: relative;
  font-size: 1.5em;
  width: 470px;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.body div.rag span:first-child {
  padding: 6px 8px 0;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.body div.rag span:last-child {
  padding: 0 8px 4px;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.body div.rag span {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  float: left;
  clear: both;
  padding: 2px 8px;
  margin-top: -5px;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.menu {
  position: relative;
  display: inline-block;
  left: 40px;
  width: 470px;
  margin: 0 0 15px;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.menu img {
  vertical-align: middle;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.menu .like img {
  margin: 0 4px;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.menu .btn {
  padding: 5px 8px;
  color: #FFFFFF;
  border: 0;
  font-size: 1.2em;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.menu .btn span.divider {
  border-right: 1px solid #FFFFFF;
  margin-right: 6px;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.menu .btn:hover {
  text-decoration: none;
  background-color: #000000;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.join {
  position: relative;
  display: inline-block;
  left: 240px;
}
body.home-index div.debates-gallery div.question {
  position: absolute;
  top: 0;
  left: 0;
  width: 510px;
  text-align: center;
  font-size: 1.4em;
  font-weight: 800;
  line-height: 1.25em;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 0 20px;
}
body.home-index div.debates-gallery div.question hr {
  margin: 15px 0;
  height: 3px;
}
body.home-index div.debates-gallery div.question hr.top {
  background-color: #00b9ff;
}
body.home-index div.debates-gallery div.question hr.bottom {
  background-color: #ff5a00;
}
body.home-index div.debates-gallery a.browse-all {
  position: absolute;
  width: 550px;
  bottom: 0;
  padding: 7px 0;
  color: #4D4d4F;
  background-color: #F2F2F3;
  font-size: 1.4em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
body.home-index div.debates-gallery a.browse-all:hover {
  text-decoration: none;
  background-color: #E2E2E2;
}
body.home-index div.responses-outer {
  position: absolute;
  top: 75px;
}
body.home-index div.responses-outer div.responses {
  position: relative;
  width: 550px;
  background-color: #DDDDDD;
}
body.home-index div.join-outer {
  position: absolute;
  top: 75px;
  width: 100%;
  background-color: #000000;
}
body.home-index div.join-outer div.join-debate {
  position: relative;
  width: 550px;
  height: 650px;
  margin: 0 auto;
  padding-top: 45px;
}
body.home-index div.join-outer div.join-debate div.question-header img {
  position: absolute;
  top: 45px;
  right: 0px;
}
body.home-index div.join-outer div.join-debate h3, body.home-index div.join-outer div.join-debate h4, body.home-index div.join-outer div.join-debate p {
  color: #FFFFFF;
}
body.home-index div.join-outer div.join-debate h3 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
}
body.home-index div.join-outer div.join-debate h4 {
  background-color: #262626;
  font-size: 1.6em;
  font-weight: 800;
  padding: 10px 20px;
}
body.home-index div.join-outer div.join-debate div.step {
  display: none;
}
body.home-index div.join-outer div.join-debate div.step textarea {
  width: 550px;
  height: 150px;
  font-size: 1.5em;
}
body.home-index div.join-outer div.join-debate div.step select {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  width: 100px;
  margin-right: 200px;
  padding: 15px 25px;
  color: #666666;
  background-color: #FFFFFF;
  border: 0;
  font-style: normal;
  font-weight: 800;
  font-family: "museo-slab-1";
  font-size: 1.6em;
}
body.home-index div.join-outer div.join-debate div.step .btn {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-size: 1.4em;
  font-weight: 700;
  color: #666666;
  background-color: #FFFFFF;
  font-weight: 800;
}
body.home-index div.join-outer div.join-debate div.step .btn:hover {
  text-decoration: none;
  background-color: #DDDDDD;
}
body.home-index div.join-outer div.join-debate div.step a {
  display: inline-block;
}
body.home-index div.join-outer div.join-debate div.step a, body.home-index div.join-outer div.join-debate div.step span {
  text-transform: uppercase;
}
body.home-index div.join-outer div.join-debate div.step .yes {
  background-color: #00b9ff;
  color: #FFFFFF;
}
body.home-index div.join-outer div.join-debate div.step .yes:hover {
  background-color: #244055;
}
body.home-index div.join-outer div.join-debate div.step .no {
  background-color: #ff5a00;
  color: #FFFFFF;
}
body.home-index div.join-outer div.join-debate div.step .no:hover {
  background-color: #5e1900;
}
body.home-index div.join-outer div.join-debate div.step .large {
  padding: 30px 20px;
}
body.home-index div.join-outer div.join-debate div.step .small {
  padding: 10px 20px;
}
body.home-index div.join-outer div.join-debate div.step .fixed-width {
  width: 270px;
  text-align: center;
  font-size: 4em;
  float: left;
  padding: 0;
}
body.home-index div.join-outer div.join-debate div.step .fixed-width:last-child {
  margin-left: 10px;
}
/* Privacy Page */
body.privacy div.content-outer {
  background-color: #000000;
}
body.privacy div.container {
  padding: 50px 0;
}
body.privacy div.container h3, body.privacy div.container p {
  color: #FFFFFF;
  padding: 0 80px 0 80px;
  font-size: 13px;
}
body.privacy div.container hr {
  margin-left: 50px;
  width: 850px;
}
body.privacy div.container hr.top {
  background-color: #00b9ff;
}
body.privacy div.container hr.bottom {
  margin-top: 100px;
  margin-bottom: 30px;
  background-color: #ff5a00;
}
body.privacy div.container a {
  color: #0073ff;
}
body.suggest div.content-outer {
  background-color: #000000;
}
body.suggest div.container {
  padding: 50px 40px 40px 80px;
}
body.suggest div.container h3, body.suggest div.container p {
  font-size: 1.2em;
  margin: 0;
}
body.suggest div.container h3 {
  padding: 0 80px 10px;
  color: #FFFFFF;
  text-transform: uppercase;
}
body.suggest div.container p {
  padding: 5px 40px;
  color: #666666;
}
body.suggest div.container p span {
  background-color: #EEEEEE;
  padding: 7px 40px;
}
body.suggest div.container textarea {
  margin: 0 0 20px 40px;
  padding: 20px 40px;
  border: 0;
  font-size: 1.2em;
  width: 580px;
  height: 150px;
  display: block;
}
body.suggest div.container select {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  margin: 0 0 50px 40px;
  width: 275px;
  padding: 15px 25px;
  color: #666666;
  background-color: #FFFFFF;
  border: 0;
  font-style: normal;
  font-weight: 700;
  font-family: "museo-slab-1";
  font-size: 1.2em;
}
body.suggest div.container input {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  margin: 0 0 0 40px;
  padding: 15px 25px;
  color: #666666;
  background-color: #FFFFFF;
  border: 0;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 800;
  font-family: "museo-slab-1";
  font-size: 1.2em;
}
body.suggest div.container input:hover {
  background-color: #DDDDDD;
}
body.questions-archive div.content-outer {
  background-color: #000000;
}
body.questions-archive div.container {
  padding-top: 30px;
}
body.questions-archive table.archive-table {
  margin-top: 10px;
}
body.questions-archive table.archive-table tr {
  border-bottom: 1px solid #000000;
}
body.questions-archive table.archive-table tr:last-child {
  border-bottom: none;
}
body.questions-archive table.archive-table th, body.questions-archive table.archive-table td {
  text-align: center;
  border-bottom: 1px solid #CCCCCC;
}
body.questions-archive table.archive-table td {
  padding: 10px;
}
body.questions-archive table.archive-table th {
  font-size: 1.2em;
  font-weight: 700;
  border-bottom: none;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #4d4d4f;
}
body.questions-archive table.archive-table td {
  color: #4d4d4f;
}
body.questions-archive table.archive-table td.left {
  text-align: left;
}
body.questions-archive table.archive-table td:nth-child(odd) {
  background-color: #EEEEEE;
}
body.questions-archive table.archive-table td:nth-child(even) {
  background-color: #FFFFFF;
}
body.contact {
  color: #FFFFFF;
}
body.contact h3 {
  text-transform: uppercase;
}
body.contact input {
  border: 0;
  color: #666666;
  margin: 0;
  padding: 8px 4px;
}
body.contact input.half {
  width: 200px;
  margin-right: 10px;
}
body.contact input.full {
  width: 410px;
}
body.contact h1,
body.contact h2,
body.contact h3,
body.contact p {
  color: #FFFFFF;
}
body.contact hr {
  margin: 15px 0;
  height: 1px;
}
body.contact hr.top {
  background-color: #00b9ff;
}
body.contact hr.bottom {
  background-color: #ff5a00;
}
body.contact div.form-row {
  margin: 0 0 15px 0;
  overflow: auto;
}
body.contact div.label {
  text-align: right;
  padding: 8px 5px 0 0;
}
body.contact div.content-outer {
  background-color: #000000;
}
body.contact div.content-outer div.container {
  padding: 50px 0;
}
body.contact select {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-right: 200px;
  color: #666666;
  background-color: #FFFFFF;
  border: 0;
  font-style: normal;
  font-weight: 700;
  font-family: "museo-slab-1";
  font-size: 1.4em;
}
body.contact textarea {
  width: 410px;
  height: 200px;
  font-size: 1.2em;
}
body.contact input.active {
  color: #000000;
}
input[type=submit], button[type=submit] {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #FFFFFF;
  color: #666666;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "museo-slab-1";
}
input[type=submit]:hover, button[type=submit]:hover {
  background-color: #EEEEEE;
}
input[type=submit].large, button[type=submit].large {
  width: 200px;
  height: 40px;
  font-weight: 800;
  font-size: 1.4em;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}
input[type=submit].small, button[type=submit].small {
  width: 100px;
  height: 35px;
  font-weight: 800;
  font-size: 1.2em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
input[type=submit].gray, button[type=submit].gray {
  background-color: #f1f1f1;
  color: #4d4d4f;
}
input[type=submit].gray:hover, button[type=submit].gray:hover {
  background-color: #DDDDDD;
}
