img.typekit-badge {
  display: none !important;
}
.gallery-item {
  width: 550px;
  height: 648px;
}
html, body, div.content-outer {
  height: 100%;
}
div.content-outer {
  height: auto;
  min-height: 100%;
}
div.content-inner {
  position: relative;
  padding: 0 0 50px;
  overflow: auto;
}
/*
div.pattern {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1; 
}

div.pattern-left {
  background-image: url('/static/images/bg_pattern_1.jpg');
  right: 50%;
  left: 0;
}

div.pattern-right {
  background-image: url('/static/images/bg_pattern_2.jpg');
  right: 0;
  left: 50%;
}
*/
div.shim {
  margin-top: 78px;
}
.shadowed {
  box-shadow: 3px 3px 7px #000000;
  -moz-box-shadow: 3px 3px 7px #000000;
  -webkit-box-shadow: 3px 3px 7px #000000;
}
.cozy {
  margin: 0;
  padding: 0;
}
.fullscreen {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.auto-center {
  position: relative;
  width: 940px;
  margin: 0 auto;
  overflow: auto;
  text-align: center;
}
.white-on-black {
  color: #FFFFFF;
  background-color: #000000;
}
hr {
  height: 1px;
}
hr.top {
  background-color: #00b9ff;
}
hr.bottom {
  background-color: #ff5a00;
}
div.flashes {
  text-align: center;
  background-color: #CCCCCC;
  color: #000000;
  display: none;
}
div.flashes div.flash {
  padding: 5px 0;
}
div.popup-outer {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  z-index: 9000;
}
div.popup-outer div.popup-inner {
  /*.shadowed;*/

  position: relative;
  z-index: 9001;
  margin: 0 auto;
  width: 500px;
}
div.popup-outer div.popup-inner div.spinner-popup {
  text-align: center;
  padding: 0 0 90px;
}
div.popup-outer div.popup-inner div.login-popup a {
  text-decoration: underline;
}
div.popup-outer div.popup-inner div.login-popup input {
  color: #666666;
}
div.popup-outer div.popup-inner div.login-popup input.active {
  color: #000000;
}
div.popup-outer div.popup-inner div.login-popup div:first-child {
  background-color: #67b6fd;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 1.4em;
}
div.popup-outer div.popup-inner div.login-popup div:first-child img {
  position: absolute;
  right: 30px;
  top: 15px;
}
div.popup-outer div.popup-inner div.login-popup div:last-child {
  background-color: #e0681c;
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  color: #FFFFFF;
  font-size: 0.8em;
}
div.popup-outer div.popup-inner div.login-popup div:last-child a {
  color: #FFFFFF;
}
div.popup-outer div.popup-inner div.login-popup div {
  padding: 10px;
  background-color: #FFFFFF;
  text-align: center;
}
div.popup-outer div.popup-inner div.login-popup div.error-msg {
  margin: 0 0 5px;
  display: none;
  color: #CC0000;
}
div.popup-outer div.popup-inner div.photo-booth {
  background-color: #CCCCCC;
  height: 500px;
}
div.popup-outer div.popup-mask {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #000000;
  opacity: 0.85;
  z-index: -1;
}
div.header {
  color: #FFFFFF;
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
div.header div.title-bar {
  margin: 0;
  padding: 0;
  width: 800px;
  line-height: 0;
  margin: 0 auto;
  overflow: auto;
}
div.header div.title-bar h1 {
  margin: 10px 220px 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 800;
  float: left;
}
div.header div.title-bar img {
  vertical-align: middle;
  float: left;
}
div.header div.nav {
  position: relative;
  width: 940px;
  margin: 0 auto;
  overflow: auto;
  text-align: center;
  padding: 10px 0;
  background-color: #FFFFFF;
  width: 100%;
}
div.header div.nav a {
  color: #666666;
}
div.header div.nav div {
  display: inline;
}
div.header div.nav div.col2 {
  margin: 0 190px 0 230px;
  text-transform: uppercase;
  font-weight: 700;
}
div.header div.nav div.col2 a.selected {
  text-decoration: underline;
  color: #000000;
}
div.header div.nav div.col3 {
  color: #666666;
}
div.header div.nav div.col3 a.user {
  font-weight: 800;
}
div.header div.nav span.divider {
  border-right: 1px solid #000000;
  padding-left: 2px;
  margin-right: 5px;
}
div.footer {
  clear: both;
  position: relative;
  height: 40px;
  padding-top: 10px;
  margin-top: -50px;
  background-color: #FFFFFF;
}
div.footer img {
  vertical-align: text-bottom;
}
div.footer div.inner {
  position: relative;
  width: 940px;
  margin: 0 auto;
  overflow: auto;
  text-align: center;
}
div.footer div.inner div.share {
  text-align: left;
}
div.footer div.inner div.util {
  text-align: right;
}
div.footer div.inner div.util ul {
  margin: 0;
  padding: 0;
}
div.footer div.inner div.util ul li {
  margin: 0;
  padding: 0;
  display: inline;
  list-style: none;
  margin-left: 12px;
}
/* Home Page */
body.home-index div.debates-gallery {
  height: 650px;
  overflow: hidden;
  background-color: #e6e7e8;
}
body.home-index div.debates-gallery div.gallery-container {
  visibility: hidden;
  position: relative;
  height: 650px;
}
body.home-index div.debates-gallery div.gallery-container ul.debates {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
body.home-index div.debates-gallery div.gallery-container ul.debates li {
  width: 550px;
  height: 648px;
  position: absolute;
  background-color: #ccc;
}
body.home-index div.debates-gallery div.gallery-container ul.debates li a {
  width: 550px;
  height: 648px;
}
body.home-index div.debates-gallery div.gallery-container ul.debates li div {
  position: absolute;
}
body.home-index div.debates-gallery div.gallery-container ul.debates li.selected a.hit-area {
  display: none;
}
body.home-index div.debates-gallery div.gallery-container ul.debates li.selected div.content-container {
  display: block;
}
body.home-index div.debates-gallery div.gallery-container ul.debates li.unselected a.hit-area {
  display: block;
}
body.home-index div.debates-gallery div.gallery-container ul.debates li.unselected div.content-container {
  display: none;
}
body.home-index div.debates-gallery div.detail {
  width: 550px;
  height: 648px;
  position: absolute;
  top: 0;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.yes div.headline {
  background-color: #00b9ff;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.yes div.rag span {
  background-color: #67b6fd;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.yes .btn {
  background-color: #00b9ff;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.no div.headline {
  background-color: #ff5a00;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.no div.rag span {
  background-color: #e0681c;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.no .btn {
  background-color: #ff5a00;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.stats {
  position: relative;
  left: 424px;
  margin: 260px 0 5px;
  display: inline-block;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.body {
  position: relative;
  display: inline-block;
  left: 40px;
  margin: 0 0 12px;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.body div.headline {
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: 800;
  padding: 4px 8px;
  top: 340px;
  text-transform: uppercase;
  display: inline-block;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.body div.rag {
  position: relative;
  font-size: 1.5em;
  width: 470px;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.body div.rag span:first-child {
  padding: 6px 8px 0;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.body div.rag span:last-child {
  padding: 0 8px 4px;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.body div.rag span {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  float: left;
  clear: both;
  padding: 2px 8px;
  margin-top: -5px;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.menu {
  position: relative;
  display: inline-block;
  left: 40px;
  width: 470px;
  margin: 0 0 15px;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.menu img {
  vertical-align: middle;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.menu .like img {
  margin: 0 4px;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.menu .btn {
  padding: 5px 8px;
  color: #FFFFFF;
  border: 0;
  font-size: 1.2em;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.menu .btn span.divider {
  border-right: 1px solid #FFFFFF;
  margin-right: 6px;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.menu .btn:hover {
  text-decoration: none;
  background-color: #000000;
}
body.home-index div.debates-gallery div.detail div.detail-inner div.join {
  position: relative;
  display: inline-block;
  left: 240px;
}
body.home-index div.debates-gallery div.question {
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  text-align: center;
  font-size: 1.6em;
  font-weight: 800;
  line-height: 1.25em;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 0;
}
body.home-index div.debates-gallery div.question hr {
  margin: 10px 0;
  height: 2px;
}
body.home-index div.debates-gallery a.browse-all {
  position: absolute;
  width: 550px;
  bottom: 0;
  padding: 7px 0;
  color: #4D4d4F;
  background-color: #F2F2F3;
  font-size: 1.4em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
body.home-index div.debates-gallery a.browse-all:hover {
  text-decoration: none;
  background-color: #E2E2E2;
}
body.home-index div.responses-outer {
  position: absolute;
  width: 550px;
  overflow: auto;
}
body.home-index div.responses-outer div.responses {
  position: relative;
  width: 550px;
  background-color: #FFFFFF;
  overflow: auto;
  padding: 20px 0 0;
  margin-top: 25px;
}
body.home-index div.responses-outer div.responses div.top-bar {
  position: fixed;
  top: 78px;
  height: 25px;
  width: 530px;
  padding: 5px 10px;
  overflow: auto;
  z-index: 8050;
  background-color: #EEEEEE;
}
body.home-index div.responses-outer div.responses div.top-bar .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
body.home-index div.responses-outer div.responses div.response-item {
  overflow: auto;
  margin: 0 0 10px;
  width: 550px;
}
body.home-index div.responses-outer div.responses div.response-item h4 {
  margin: 0 0 10px;
  padding: 0 0 3px;
}
body.home-index div.responses-outer div.responses div.response-item div.rag {
  position: relative;
  font-size: 1.2em;
  width: 360px;
}
body.home-index div.responses-outer div.responses div.response-item div.rag span:first-child {
  padding: 6px 4px 0;
}
body.home-index div.responses-outer div.responses div.response-item div.rag span:last-child {
  padding: 0 8px 4px;
}
body.home-index div.responses-outer div.responses div.response-item div.rag span {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  float: left;
  clear: both;
  padding: 2px 8px;
  margin-top: -5px;
}
body.home-index div.responses-outer div.responses div.response-item a.debate-this {
  position: absolute;
  right: 10px;
  width: 60px;
  height: 56px;
  padding: 20px 6px 0;
  line-height: 1.2em;
  color: #FFFFFF;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  background-image: url('/static/images/speech_bubble_yes.png');
}
body.home-index div.responses-outer div.responses div.no a.debate-this {
  background-image: url('/static/images/speech_bubble_no.png');
}
body.home-index div.responses-outer div.no div.response-to {
  background-color: #fcc894;
}
body.home-index div.responses-outer div.no h4 {
  color: #e0681c;
  border-bottom: 1px solid #e0681c;
}
body.home-index div.responses-outer div.no div.rag span {
  background-color: #e0681c;
}
body.home-index div.responses-outer div.yes div.response-to {
  background-color: #c6e3fa;
}
body.home-index div.responses-outer div.yes h4 {
  color: #67b6fd;
  border-bottom: 1px solid #67b6fd;
}
body.home-index div.responses-outer div.yes div.rag span {
  background-color: #67b6fd;
}
body.home-index div.responses-outer div.browse-menu {
  position: relative;
  overflow: hidden;
  width: 550px;
  background-color: #e6e7e8;
}
body.home-index div.responses-outer div.browse-menu div.sort-menu {
  text-align: center;
  padding: 8px;
  position: fixed;
  top: 78px;
  background-color: #EEEEEE;
  width: 534px;
  text-transform: uppercase;
}
body.home-index div.responses-outer div.browse-menu div.sort-menu a.close-btn {
  position: absolute;
  right: 8px;
  top: 10px;
}
body.home-index div.responses-outer div.browse-menu div.sort-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
}
body.home-index div.responses-outer div.browse-menu div.sort-menu ul li {
  list-style: none;
  display: inline;
  padding: 0 5px;
  margin: 0;
  border-right: 1px solid #999999;
}
body.home-index div.responses-outer div.browse-menu div.sort-menu ul li a.selected {
  text-decoration: underline;
}
body.home-index div.responses-outer div.browse-menu div.sort-menu ul li:last-child {
  border-right: 0;
}
body.home-index div.responses-outer div.browse-menu div.menu-items {
  width: 562px;
  overflow: auto;
  margin-top: 46px;
}
body.home-index div.responses-outer div.browse-menu div.menu-items div.browser-menu-item {
  margin: 0 11px 10px 0;
  padding: 10px;
  background-color: #FFFFFF;
  float: left;
  width: 156px;
  height: 85px;
}
body.home-index div.responses-outer div.browse-menu div.menu-items div.browser-menu-item p {
  margin: 0;
  padding: 0;
}
body.home-index div.responses-outer div.browse-menu div.menu-items div.browser-menu-item p.username {
  font-weight: 700;
  text-transform: uppercase;
}
body.home-index div.responses-outer div.browse-menu div.menu-items div.browser-menu-item img {
  float: left;
  margin: 0 5px 5px 0;
}
body.home-index div.responses-outer div.browse-menu div.menu-items .yes {
  color: #67b6fd;
}
body.home-index div.responses-outer div.browse-menu div.menu-items .no {
  color: #e0681c;
}
body.home-index div.responses-outer div.browse-menu div.more {
  text-align: center;
  font-size: 1.4em;
  font-weight: 800;
  padding: 5px;
  background-color: #EEEEEE;
}
body.home-index div.join-outer {
  position: absolute;
  width: 100%;
  background-color: #000000;
}
body.home-index div.join-outer div.join-debate {
  position: relative;
  width: 870px;
  height: 650px;
  margin: 0 auto;
  padding-top: 45px;
}
body.home-index div.join-outer div.join-debate div.question-header {
  margin: 0 0 50px;
}
body.home-index div.join-outer div.join-debate div.question-header img {
  position: absolute;
  top: 45px;
  right: 0px;
}
body.home-index div.join-outer div.join-debate h3, body.home-index div.join-outer div.join-debate h4, body.home-index div.join-outer div.join-debate p {
  color: #FFFFFF;
}
body.home-index div.join-outer div.join-debate h3 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
}
body.home-index div.join-outer div.join-debate h4 {
  background-color: #262626;
  font-size: 1.6em;
  font-weight: 800;
  padding: 10px 20px;
}
body.home-index div.join-outer div.join-debate div.step {
  display: none;
  font-weight: 700;
  font-size: 1.2em;
}
body.home-index div.join-outer div.join-debate div.step .yes {
  background-color: #67b6fd;
  color: #FFFFFF;
}
body.home-index div.join-outer div.join-debate div.step .no {
  background-color: #e0681c;
  color: #FFFFFF;
}
body.home-index div.join-outer div.join-debate div.step-1 button {
  width: 270px;
  height: 100px;
  margin-right: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border: 0;
  color: #666666;
  background-color: #FFFFFF;
  font-size: 1.4em;
  font-weight: 800;
  font-family: "museo-slab-1";
  text-transform: uppercase;
  cursor: pointer;
}
body.home-index div.join-outer div.join-debate div.step-1 button img {
  vertical-align: middle;
}
body.home-index div.join-outer div.join-debate div.step-1 button:last-child {
  margin-left: 10px;
}
body.home-index div.join-outer div.join-debate div.step-2 button {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border: 0;
  font-size: 2.2em;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "museo-slab-1";
  cursor: pointer;
  height: 100px;
  padding: 0 40px;
  margin-right: 10px;
  height: 100px;
  width: 270px;
}
body.home-index div.join-outer div.join-debate div.step-2 button:last-child {
  margin-left: 10px;
}
body.home-index div.join-outer div.join-debate div.step-3 p {
  margin: 0 0 12px;
}
body.home-index div.join-outer div.join-debate div.step-3 span.yes, body.home-index div.join-outer div.join-debate div.step-3 span.no {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: 0;
  width: 110px;
  height: 50px;
  font-weight: 800;
  font-size: 1.8em;
  text-transform: uppercase;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  padding: 9  px 0 0 0;
}
body.home-index div.join-outer div.join-debate div.step-3 span.unselected {
  background-color: #636466;
}
body.home-index div.join-outer div.join-debate div.step-3 textarea {
  width: 550px;
  height: 85px;
  background-color: #262626;
  border: 0;
  padding: 10px;
  font-size: 1.2em;
  font-family: "museo-slab-1";
  font-weight: 700;
  color: #FFFFFF;
}
body.home-index div.join-outer div.join-debate div.step-3 div.chars-left {
  width: 550px;
  text-align: right;
}
body.home-index div.join-outer div.join-debate div.step-3 div.chars-left p {
  color: #666666;
  font-size: 0.8em;
  font-weight: 500;
}
body.home-index div.join-outer div.join-debate div.step-3 div.buttons {
  float: right;
  margin: -70px 0 0 0;
}
body.home-index div.join-outer div.join-debate div.step-3 div.buttons button {
  width: 150px;
  height: 50px;
  margin-right: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border: 0;
  color: #666666;
  background-color: #FFFFFF;
  font-size: 1.4em;
  font-weight: 800;
  font-family: "museo-slab-1";
  text-transform: uppercase;
  cursor: pointer;
}
body.home-index div.join-outer div.reply {
  position: relative;
  width: 870px;
  height: 650px;
  margin: 0 auto;
  padding-top: 45px;
}
body.home-index div.join-outer div.reply div.panel-header {
  margin: 0 0 50px;
}
body.home-index div.join-outer div.reply div.panel-header img {
  position: absolute;
  top: 45px;
  right: 0px;
}
body.home-index div.join-outer div.reply div.reply-form-outer, body.home-index div.join-outer div.reply div.response-to {
  padding: 10px 40px;
  overflow: auto;
}
body.home-index div.join-outer div.reply div.reply-form-outer div {
  margin: 0 0 12px;
}
body.home-index div.join-outer div.reply div.reply-form-outer button {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 12px 0;
  width: 110px;
  border: 0;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 800;
  font-family: "museo-slab-1";
  color: #FFFFFF;
  cursor: pointer;
}
body.home-index div.join-outer div.reply div.reply-form-outer div.response-buttons button.yes {
  background-color: #67b6fd;
}
body.home-index div.join-outer div.reply div.reply-form-outer div.response-buttons button.no {
  background-color: #e0681c;
}
body.home-index div.join-outer div.reply div.reply-form-outer div.response-buttons button.unselected {
  background-color: #646466;
}
body.home-index div.join-outer div.reply div.reply-form-outer button.submit-btn {
  background-color: #646464;
  width: auto;
  padding: 12px;
  margin: 25px 0 0 54px;
}
body.home-index div.join-outer div.reply div.reply-form-outer div.chars-left {
  font-size: 0.85em;
  font-weight: 500;
  text-align: right;
  margin: -15px 0 5px;
}
body.home-index div.join-outer div.reply div.reply-form-outer textarea {
  font-size: 1.2em;
}
body.home-index div.join-outer div.reply div.response-to {
  background-color: #e9e9ea;
}
body.home-index div.join-outer div.reply div.response-to h4 {
  margin: 0 0 10px;
  padding: 0 0 3px;
}
body.home-index div.join-outer div.reply div.response-to div.rag {
  position: relative;
  font-size: 1.2em;
  width: 360px;
}
body.home-index div.join-outer div.reply div.response-to div.rag span:first-child {
  padding: 6px 4px 0;
}
body.home-index div.join-outer div.reply div.response-to div.rag span:last-child {
  padding: 0 8px 4px;
}
body.home-index div.join-outer div.reply div.response-to div.rag span {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  float: left;
  clear: both;
  padding: 2px 8px;
  margin-top: -5px;
}
body.home-index div.join-outer div.reply div.reply-form-outer {
  color: #636466;
  font-size: 13px;
  font-weight: 700;
}
body.home-index div.join-outer div.reply div.reply-form-outer textarea {
  width: 470px;
  height: 85px;
}
body.home-index div.join-outer div.reply div.reply-form-outer div.follow p {
  margin: 0 0 5px;
}
body.home-index div.join-outer div.reply div.stripe {
  width: 550px;
  height: 3px;
  background-color: #666666;
  position: absolute;
  bottom: 8px;
}
body.home-index div.stats-outer {
  position: absolute;
  width: 100%;
  background-color: #000000;
}
body.home-index div.stats-outer div,
body.home-index div.stats-outer h1,
body.home-index div.stats-outer h2,
body.home-index div.stats-outer h3,
body.home-index div.stats-outer h4,
body.home-index div.stats-outer h5,
body.home-index div.stats-outer h6,
body.home-index div.stats-outer p {
  color: #FFFFFF;
}
body.home-index div.stats-outer div.stats-view {
  position: relative;
  height: 650px;
  margin: 0 auto;
  padding-top: 45px;
}
body.home-index div.stats-outer div.stats-view div.stats-header {
  margin: 0 0 10px;
}
body.home-index div.stats-outer div.stats-view div.stats-header h4 {
  background-color: #262626;
}
body.home-index div.stats-outer div.stats-view h3, body.home-index div.stats-outer div.stats-view h4, body.home-index div.stats-outer div.stats-view p {
  color: #FFFFFF;
}
body.home-index div.stats-outer div.stats-view h3 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
}
body.home-index div.stats-outer div.stats-view h4 {
  /*background-color: #262626;*/

  font-size: 1.6em;
  font-weight: 800;
  padding: 10px 20px;
}
body.home-index div.stats-outer div.stats-view div.num-opinions {
  overflow: auto;
}
body.home-index div.stats-outer div.stats-view div.num-opinions div.opinions-bar {
  overflow: auto;
}
body.home-index div.stats-outer div.stats-view div.num-opinions div.opinions-bar div.bar {
  position: relative;
  height: 390px;
  width: 50%;
  float: left;
  overflow: auto;
}
body.home-index div.stats-outer div.stats-view div.num-opinions div.opinions-bar div.bar img {
  position: absolute;
}
body.home-index div.stats-outer div.stats-view div.num-opinions div.opinions-bar div.bar div.total-view {
  position: absolute;
  width: 100px;
  margin: 150px 0 0;
}
body.home-index div.stats-outer div.stats-view div.num-opinions div.opinions-bar div.bar div.total-view p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
}
body.home-index div.stats-outer div.stats-view div.num-opinions div.opinions-bar div.bar div.total-view p:first-child {
  border-bottom: 1px solid #FFFFFF;
  font-weight: 800;
}
body.home-index div.stats-outer div.stats-view div.num-opinions div.opinions-bar div.yes-bar {
  background-color: #67b6fd;
}
body.home-index div.stats-outer div.stats-view div.num-opinions div.opinions-bar div.yes-bar div.total-view {
  right: 66px;
}
body.home-index div.stats-outer div.stats-view div.num-opinions div.opinions-bar div.yes-bar img {
  right: 0;
}
body.home-index div.stats-outer div.stats-view div.num-opinions div.opinions-bar div.no-bar {
  background-color: #e0681c;
}
body.home-index div.stats-outer div.stats-view div.num-opinions div.opinions-bar div.no-bar div.total-view {
  left: 66px;
}
body.home-index div.stats-outer div.stats-view div.num-opinions div.opinions-bar div.no-bar img {
  left: 0;
}
body.home-index div.stats-outer div.stats-view div.most-debated {
  position: relative;
}
body.home-index div.stats-outer div.stats-view div.most-debated ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.detail-view {
  position: relative;
  overflow: auto;
  width: 350px;
  height: 390px;
  margin: 0 10px 0 0;
  float: left;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.detail-view ul li {
  position: absolute;
  height: 390px;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: #999999;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.detail-view ul li a.goto-btn {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #666666;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-weight: 700;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.detail-view ul li div.body {
  position: absolute;
  top: 230px;
  left: 20px;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.detail-view ul li div.body div.headline {
  color: #FFFFFF;
  font-size: 1.1em;
  font-weight: 800;
  padding: 4px 8px;
  top: 340px;
  text-transform: uppercase;
  display: inline-block;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.detail-view ul li div.rag {
  width: 250px;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.detail-view ul li div.rag span:first-child {
  padding: 6px 8px 0;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.detail-view ul li div.rag span:last-child {
  padding: 0 8px 4px;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.detail-view ul li div.rag span {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  float: left;
  clear: both;
  padding: 2px 8px;
  margin-top: -5px;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.detail-view ul li.yes div.rag span {
  background-color: #67b6fd;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.detail-view ul li.yes div.headline {
  background-color: #00b9ff;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.detail-view ul li.yes a.goto-btn {
  background-color: #00b9ff;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.detail-view ul li.no div.rag span {
  background-color: #e0681c;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.detail-view ul li.no div.headline {
  background-color: #ff5a00;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.detail-view ul li.no a.goto-btn {
  background-color: #ff5a00;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.menu-view {
  width: 350px;
  float: left;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.menu-view ul li {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 10px 0 6px 20px;
  margin: 0 0 10px;
  text-decoration: none;
  background-color: #222322;
  overflow: auto;
  cursor: pointer;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.menu-view ul li div.rank {
  text-align: center;
  color: #636466;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.menu-view ul li p {
  margin: 0;
  padding: 0;
  color: #636466;
  font-weight: 700;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.menu-view ul li p:last-child {
  font-size: 2em;
  font-weight: 500;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.menu-view ul li a.yes {
  background-color: #67b6fd;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.menu-view ul li a.no {
  background-color: #e0681c;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.menu-view ul li.selected-yes {
  color: #FFFFFF;
  background-color: #67b6fd;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.menu-view ul li.selected-yes div.rank, body.home-index div.stats-outer div.stats-view div.most-debated div.menu-view ul li.selected-yes p {
  color: #FFFFFF;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.menu-view ul li.selected-no {
  color: #FFFFFF;
  background-color: #e0681c;
}
body.home-index div.stats-outer div.stats-view div.most-debated div.menu-view ul li.selected-no div.rank, body.home-index div.stats-outer div.stats-view div.most-debated div.menu-view ul li.selected-no p {
  color: #FFFFFF;
}
body.home-index div.stats-outer div.stats-view div.frequent-words {
  position: relative;
  background-color: #FFFFFF;
  padding: 20px 0 12px;
}
body.home-index div.stats-outer div.stats-view div.frequent-words div.word-row-outer {
  background-color: #f1f2f2;
  margin: 0 0 10px;
}
body.home-index div.stats-outer div.stats-view div.frequent-words div.dummy-row {
  height: 49px;
}
body.home-index div.stats-outer div.stats-view div.frequent-words div.word-row {
  margin: 0 auto;
  background-color: #FFFFFF;
}
body.home-index div.stats-outer div.stats-view div.frequent-words div.word-row button.word-btn {
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #999999;
  color: #FFFFFF;
  padding: 10px;
  margin: 0 0 0 10px;
  font-size: 2em;
  font-weight: 700;
  font-family: 'museo-slab-1';
  border: 0;
  display: inline-block;
}
body.home-index div.stats-outer div.stats-view div.frequent-words div.responses-outer {
  position: relative;
}
body.home-index div.stats-outer div.stats-view div.frequent-words div.response-item {
  position: relative;
  overflow: auto;
  margin: 0 0 10px;
  width: 540px;
  background-color: #f4f4f4;
  padding: 5px;
}
body.home-index div.stats-outer div.stats-view div.frequent-words div.response-item h4 {
  margin: 0 0 10px;
  padding: 0 0 3px;
}
body.home-index div.stats-outer div.stats-view div.frequent-words div.response-item div.rag {
  position: relative;
  font-size: 1.2em;
  width: 360px;
}
body.home-index div.stats-outer div.stats-view div.frequent-words div.response-item div.rag span:first-child {
  padding: 6px 4px 0;
}
body.home-index div.stats-outer div.stats-view div.frequent-words div.response-item div.rag span:last-child {
  padding: 0 8px 4px;
}
body.home-index div.stats-outer div.stats-view div.frequent-words div.response-item div.rag span {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  float: left;
  clear: both;
  padding: 2px 8px;
  margin-top: -5px;
}
body.home-index div.stats-outer div.stats-view div.frequent-words div.response-item a.debate-this {
  position: absolute;
  right: 10px;
  top: 35px;
  width: 60px;
  height: 56px;
  padding: 20px 6px 0;
  line-height: 1.2em;
  color: #FFFFFF;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  background-image: url('/static/images/speech_bubble_yes.png');
}
body.home-index div.stats-outer div.stats-view div.frequent-words div.no a.debate-this {
  background-image: url('/static/images/speech_bubble_no.png');
}
body.home-index div.stats-outer div.stats-view div.frequent-words div.no div.response-to {
  background-color: #fcc894;
}
body.home-index div.stats-outer div.stats-view div.frequent-words div.no h4 {
  color: #e0681c;
  border-bottom: 1px solid #e0681c;
}
body.home-index div.stats-outer div.stats-view div.frequent-words div.no div.rag span {
  background-color: #e0681c;
}
body.home-index div.stats-outer div.stats-view div.frequent-words div.yes div.response-to {
  background-color: #c6e3fa;
}
body.home-index div.stats-outer div.stats-view div.frequent-words div.yes h4 {
  color: #67b6fd;
  border-bottom: 1px solid #67b6fd;
}
body.home-index div.stats-outer div.stats-view div.frequent-words div.yes div.rag span {
  background-color: #67b6fd;
}
/* Common styles between sub pages */
body.questions,
body.register,
body.privacy,
body.contact,
body.suggest {
  color: #FFFFFF;
  background-color: #000000;
}
body.questions div.login-popup h4,
body.register div.login-popup h4,
body.privacy div.login-popup h4,
body.contact div.login-popup h4,
body.suggest div.login-popup h4,
body.questions div.login-popup p,
body.register div.login-popup p,
body.privacy div.login-popup p,
body.contact div.login-popup p,
body.suggest div.login-popup p {
  color: #111111;
}
body.questions h1,
body.register h1,
body.privacy h1,
body.contact h1,
body.suggest h1,
body.questions h2,
body.register h2,
body.privacy h2,
body.contact h2,
body.suggest h2,
body.questions h3,
body.register h3,
body.privacy h3,
body.contact h3,
body.suggest h3,
body.questions h4,
body.register h4,
body.privacy h4,
body.contact h4,
body.suggest h4,
body.questions h5,
body.register h5,
body.privacy h5,
body.contact h5,
body.suggest h5,
body.questions h6,
body.register h6,
body.privacy h6,
body.contact h6,
body.suggest h6 {
  text-transform: uppercase;
  color: #FFFFFF;
}
body.questions h1,
body.register h1,
body.privacy h1,
body.contact h1,
body.suggest h1,
body.questions h2,
body.register h2,
body.privacy h2,
body.contact h2,
body.suggest h2,
body.questions h3,
body.register h3,
body.privacy h3,
body.contact h3,
body.suggest h3 {
  font-weight: 800;
}
body.questions h4,
body.register h4,
body.privacy h4,
body.contact h4,
body.suggest h4,
body.questions h5,
body.register h5,
body.privacy h5,
body.contact h5,
body.suggest h5,
body.questions h6,
body.register h6,
body.privacy h6,
body.contact h6,
body.suggest h6 {
  font-weight: 700;
}
body.questions h3.page-title,
body.register h3.page-title,
body.privacy h3.page-title,
body.contact h3.page-title,
body.suggest h3.page-title {
  font-size: 1.2em;
}
body.questions p,
body.register p,
body.privacy p,
body.contact p,
body.suggest p {
  color: #FFFFFF;
}
body.questions div.container,
body.register div.container,
body.privacy div.container,
body.contact div.container,
body.suggest div.container {
  padding-top: 120px;
}
body.questions div.container a,
body.register div.container a,
body.privacy div.container a,
body.contact div.container a,
body.suggest div.container a {
  color: #0073FF;
}
/* Privacy Page */
body.privacy h3, body.privacy p {
  padding: 0 80px 0 80px;
  font-size: 13px;
}
body.privacy hr {
  margin-left: 50px;
  width: 850px;
}
body.privacy hr.bottom {
  margin-top: 100px;
  margin-bottom: 30px;
}
/* Suggest a question page */
body.suggest h3, body.suggest p {
  font-size: 1.2em;
  margin: 0;
}
body.suggest h3 {
  padding: 0 80px 10px;
  color: #FFFFFF;
  text-transform: uppercase;
}
body.suggest p {
  padding: 5px 40px;
  color: #666666;
}
body.suggest p span {
  background-color: #EEEEEE;
  padding: 7px 40px;
}
body.suggest textarea {
  margin: 0 0 20px 40px;
  padding: 20px 40px;
  border: 0;
  font-size: 1.2em;
  width: 580px;
  height: 150px;
  display: block;
}
body.suggest select {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  margin: 0 0 50px 40px;
  width: 275px;
  padding: 15px 25px;
  color: #666666;
  background-color: #FFFFFF;
  border: 0;
  font-style: normal;
  font-weight: 700;
  font-family: "museo-slab-1";
  font-size: 1.2em;
}
body.suggest input {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  margin: 0 0 0 40px;
  padding: 15px 25px;
  color: #666666;
  background-color: #FFFFFF;
  border: 0;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 800;
  font-family: "museo-slab-1";
  font-size: 1.2em;
}
body.suggest input:hover {
  background-color: #DDDDDD;
}
/* Question archive */
body.questions-archive table.archive-table {
  margin-top: 10px;
}
body.questions-archive table.archive-table tr {
  border-bottom: 1px solid #000000;
}
body.questions-archive table.archive-table tr:last-child {
  border-bottom: none;
}
body.questions-archive table.archive-table th, body.questions-archive table.archive-table td {
  text-align: center;
  border-bottom: 1px solid #CCCCCC;
}
body.questions-archive table.archive-table td {
  padding: 10px;
}
body.questions-archive table.archive-table th {
  font-size: 1.2em;
  font-weight: 700;
  border-bottom: none;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #4d4d4f;
}
body.questions-archive table.archive-table td {
  color: #4d4d4f;
}
body.questions-archive table.archive-table td.left {
  text-align: left;
}
body.questions-archive table.archive-table td:nth-child(odd) {
  background-color: #EEEEEE;
}
body.questions-archive table.archive-table td:nth-child(even) {
  background-color: #FFFFFF;
}
/* Contact page */
body.contact h3 {
  text-transform: uppercase;
}
body.contact input {
  border: 0;
  color: #666666;
  margin: 0;
  padding: 8px 4px;
}
body.contact input.half {
  width: 200px;
  margin-right: 10px;
}
body.contact input.full {
  width: 410px;
}
body.contact h1,
body.contact h2,
body.contact h3,
body.contact p {
  color: #FFFFFF;
}
body.contact hr {
  margin: 15px 0;
}
body.contact div.form-row {
  margin: 0 0 15px 0;
  overflow: auto;
}
body.contact div.label {
  text-align: right;
  padding: 8px 5px 0 0;
}
body.contact select {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-right: 200px;
  color: #666666;
  background-color: #FFFFFF;
  border: 0;
  font-style: normal;
  font-weight: 700;
  font-family: "museo-slab-1";
  font-size: 1.4em;
}
body.contact textarea {
  width: 410px;
  height: 200px;
  font-size: 1.2em;
}
body.contact input.active {
  color: #000000;
}
/* Profile page */
body.profile h3 {
  text-transform: uppercase;
}
body.profile p,
body.profile h1,
body.profile h2,
body.profile h3,
body.profile h4,
body.profile h5 {
  color: #FFFFFF;
}
body.profile div.left-col {
  margin: 47px 0 0;
}
body.profile img.profile-image {
  margin: 0 0 10px;
}
body.profile div.content-outer {
  background-color: #000000;
  padding-top: 100px;
}
body.profile div.profile-username {
  background-image: url('/static/images/profile-username-bg.png');
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  width: 150px;
  padding: 6px 0;
  margin: 0 0 20px;
}
body.profile a.profile-btn {
  background-image: url('/static/images/profile-btn.png');
  display: block;
  width: 150px;
  padding: 6px 0;
  margin: 0;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 0 20px;
}
body.profile div.panel {
  background-color: #FFFFFF;
  color: #666666;
  overflow: auto;
  padding: 0;
}
body.profile div.panel div.panel-title {
  background-color: #e6e7e8;
  padding: 13px 0 13px 30px;
}
body.profile div.panel div.panel-title h4 {
  margin: 0;
  padding: 0;
  color: #666666;
  text-transform: uppercase;
  font-weight: 700;
}
body.profile div.panel div.panel-content {
  padding: 10px 0 10px 30px;
}
body.profile div.panel h2, body.profile div.panel h3, body.profile div.panel h4 {
  color: #666666;
}
body.profile div.panel p {
  color: #666666;
  margin: 0;
  padding: 0;
}
body.profile div.panel p.no-results {
  padding: 0 0 300px;
}
body.profile div.panel p.meta {
  margin: 0 0 20px;
}
body.profile-index ul.util-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 0 10px;
}
body.profile-index ul.util-nav li {
  display: inline;
  margin: 0 0 5px;
}
body.profile-index ul.util-nav li a {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 8px 20px;
  background-color: #FFFFFF;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 700;
}
body.profile-index ul.util-nav li a.selected {
  background-color: #DDDDDD;
}
body.profile-edit div.edit-profile form {
  overflow: auto;
}
body.profile-edit div.edit-profile p {
  margin: 0 0 12px;
}
body.profile-edit div.edit-profile button {
  position: relative;
  right: 0;
}
body.profile-edit div.edit-profile input {
  margin: 0;
}
body.profile-edit div.edit-profile input[type=password] {
  width: 270px;
  margin: 0 0 40px;
}
body.profile-edit div.edit-profile input[type=text] {
  width: 340px;
}
body.profile-edit div.edit-profile input[type=text], body.profile-edit div.edit-profile input[type=password] {
  font-size: 1.4em;
  padding: 10px;
  background-color: #e7e7e8;
  border: 0;
}
body.profile-edit div.edit-profile input.small {
  width: 75px;
  font-size: 1em;
  padding: 5px;
  background-color: #c7c8ca;
}
body.profile-edit div.edit-profile input.phone3 {
  width: 70px;
  margin-right: 4px;
}
body.profile-edit div.edit-profile label {
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
}
body.profile-edit div.edit-profile input.phone4 {
  width: 110px;
}
body.profile-edit div.edit-profile div.save {
  text-align: right;
}
body.profile-edit div.edit-profile button {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #636466;
  border: 0;
  color: #FFFFFF;
}
body.profile-edit div.edit-profile button.save-btn {
  font-weight: 800;
  font-size: 1.3em;
  padding: 15px 50px;
  margin: 28px 0 60px;
}
body.profile-edit div.edit-profile button.small {
  font-weight: 800;
  font-size: 1em;
  padding: 10px 0;
  line-height: 1em;
}
body.profile-edit div.edit-profile div.verify-code {
  background-color: #EEEEEE;
  overflow: auto;
  padding: 5px;
  margin-bottom: 16px;
}
body.profile-edit div.edit-profile .verify-msg {
  margin: 0;
  padding: 0;
  font-weight: 700;
}
body.register div.content-inner input[type=text], body.register div.content-inner input[type=password] {
  padding: 15px;
  font-size: 1.4em;
  color: #DDDDDD;
  background-color: #262626;
  border: 0;
  margin: 0 5px 0 0;
}
body.register div.content-inner input.username {
  width: 100%;
  padding: 20px;
  font-size: 3em;
}
body.register div.content-inner div.form-item {
  overflow: hidden;
  margin: 0 0 20px;
}
body.register div.content-inner div.form-item p {
  color: #666666;
}
body.register div.content-inner div.form-item p.note {
  margin: 0;
  padding: 0;
}
body.register div.content-inner div.form-item label {
  color: #FFFFFF;
  font-weight: 700;
}
body.register div.content-inner input.phone3 {
  width: 70px;
}
body.register div.content-inner input.phone4 {
  width: 110px;
}
body.register div.content-inner div.verify-code {
  padding: 10px;
  background-color: #FFFFFF;
  color: #666666;
}
body.register div.content-inner div.verify-code button {
  background-color: #666666;
  color: #FFFFFF;
  width: 70px;
  height: 30px;
  font-size: 1em;
}
body.register div.content-inner div.verify-code input {
  width: 70px;
  background-color: #c7c8ca;
  padding: 8px;
  color: #000000;
  font-size: 1em;
}
body.register div.content-inner button {
  width: 150px;
  height: 50px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #666666;
  font-size: 1.2em;
  text-transform: uppercase;
  border: 0;
  background-color: #FFFFFF;
  font-family: "museo-slab-1";
  font-weight: 800;
}
body.register div.content-inner div.finish {
  text-align: right;
  margin: 0 0 50px;
}
input[type=submit], button[type=submit] {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #FFFFFF;
  color: #666666;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "museo-slab-1";
}
input[type=submit]:hover, button[type=submit]:hover {
  background-color: #EEEEEE;
}
input[type=submit].large, button[type=submit].large {
  width: 200px;
  height: 40px;
  font-weight: 800;
  font-size: 1.4em;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}
input[type=submit].small, button[type=submit].small {
  width: 100px;
  height: 35px;
  font-weight: 800;
  font-size: 1.2em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
input[type=submit].gray, button[type=submit].gray {
  background-color: #f1f1f1;
  color: #4d4d4f;
}
input[type=submit].gray:hover, button[type=submit].gray:hover {
  background-color: #DDDDDD;
}
