/* For general iPad layouts 
@media only screen and (device-width: 768px) {
  
}
*/
/* For portrait layouts only
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
   
}
*/
/* For landscape layouts only
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
   
}
*/
/*retina displays
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2) {
  yourtag {

  }
}
*/


html {
	height: 100%;

}

body {
 background:#000;
 font-family:museo-slab,serif;
 font-style:normal;
 margin:0;
 padding:0;
 height: 100%;
 font-size:1em;
 overflow-x: hidden;

}
.museo-slab{
	font-family:museo-slab,serif;	
}
#body-wrapper{
	display:none;
}

/*
 * jquery mobile override
 */
.ui-content {
    padding: 0;
}


.ui-header-fullscreen, .ui-footer-fullscreen {
    opacity: 1.0;
}


/*
.ui-header .ui-btn-icon-top .ui-icon, .ui-footer .ui-btn-icon-top .ui-icon, .ui-mini.ui-btn-icon-top .ui-icon, .ui-mini .ui-btn-icon-top .ui-icon {
    left: 15px;
}
*/
.ui-header .ui-btn-inner{
	 font-family:museo-slab,serif;
}
.ui-header .ui-btn-icon-left .ui-icon{
	left: 15px;

}


.ui-header .ui-btn-icon-top .ui-icon, .ui-footer .ui-btn-icon-top .ui-icon, .ui-mini.ui-btn-icon-top .ui-icon, .ui-mini .ui-btn-icon-top .ui-icon {
 	margin-top: -9px;
    position: absolute;
    top: 50%;
    right:15px;
}


.ui-navbar li .ui-btn-icon-top .ui-btn-inner {
    padding-bottom: 0.8em;
    padding-top: 0.7em;
}

.titleBar{
	text-align:center;
	font-family:museo-slab,serif;
	/*font-size:0.8em;*/
	font-size: 12.5px;	/*used by other jqm header btns*/
	padding-bottom: 0.8em;
    padding-top: 0.7em;
}

.ui-grid-c .dropdownBtn .ui-block-d,.ui-grid-c .dropdownBtn a{
	
}
.mainmenu li.ui-block-a {
	margin-right: -0.5px;
    width: 50%;
}

.mainmenu  li.ui-block-b {
    margin-right: -0.5px;
    width: 35%;
}
/*
 * Select the dropdown btn
 */
.mainmenu li.ui-block-c {
    margin-right: -0.5px;
    width: 15%;
}



.ui-btn-active {
   /* background: linear-gradient(#444444, #555555) repeat scroll 0 0 #666666;*/
    background: linear-gradient(#444444, #2D2D2D) repeat scroll 0 0 #333333;
 }  
    
/*Make navbar with only outer rounded*/
 
 .stats-tab li.ui-block-a a{
 	border-radius: 6px 0px 0px 6px;
 }    
.stats-tab li.ui-block-b a{
    	 border-radius:0;
 } 
  .stats-tab li.ui-block-c a{
 	border-radius: 0px 6px 6px 0px;
 } 
 
 .ui-btn-hover-c, .ui-btn-focus-c,.ui-btn-up-c{
   /* background: linear-gradient(#888888, #818181) repeat scroll 0 0 #666666;*/
 border-radius: 6px 6px 6px 6px;
}



.ui-icon-menuicon {
	background:none;
	border-radius:0;
	box-shadow:0 0 0 0;
	background-image: url("images/menuicon_18x18.png");
	
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-menuicon {
		background-image: url("images/menuicon_36x36.png");
		background-size: 18px 18px;
	}

}


.logo{
		background-image: url("images/logoarrows.png");
		background-position:center;
		background-repeat:no-repeat;
}


#popupMenu li.ui-corner-top, #popupMenu li.ui-corner-bottom, #popupMenu div.ui-corner-top, #popupMenu div.ui-corner-bottom,
#popupMenuLogged li.ui-corner-top, #popupMenuLogged li.ui-corner-bottom, #popupMenuLogged div.ui-corner-top, #popupMenuLogged div.ui-corner-bottom{
	border-top-left-radius: 0;
    border-top-right-radius: 0;
	border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
	
}
    
/*
 * JQM over
 */

.loginName{
	display:hidden;	
	text-transform:uppercase;
}

a, a:hover, a:visited  {
  text-decoration:none;
  color:#000000;
  
}

.desctext {
  font-size:0.8em;
  font-weight:900;
}

/* Header*/

ul.nav {
 list-style:none;
 width:100%;
 height:40px;
 border-bottom:1px solid #3c3c3c;
 border-top:1px solid #3c3c3c;
 margin:0;
 padding:0;
 position: fixed;
 background:#000;
}

p.err {
 text-align:center;
 padding-top:10px;
}

.debate div.top a span.big{
  font-weight:900;
}

ul.nav li.active {
  /*background:#fff;
  color:#000;*/
}

ul.nav li a{
 text-decoration:none;
 color:#fff; 
}

ul.nav li.active a{
  color:#000;
}

ul.nav li.left, ul.nav li.left {
 /*width:20%; */
}

ul.nav li.middle {
 width:100%;
 /*margin-left:60px;*/
 font-weight:500;
}

ul.nav li.right {
 /*width:27.9%;
 background:#262626;*/
 /*border-left:1px solid #3c3c3c;*/
}

ul.nav li.right.loggedin {
 display:none;
}


ul.nav li.right.notloggedin a{  
 /* margin-right:20px;
  text-transform:uppercase;
  */
}

ul.nav li.right.loggedin a{  
  background:url("images/profileBtn.png") no-repeat scroll 0 7px transparent;
}

ul.nav li.right a {
 /*float:right;
 display:block;
 width:40px;
 height:40px;*/
}


/* Header*/


/*Side menu*/


div#sidemenu-container{
	background:url("images/bg-menu.png");
	width:200px;
	height:100%;
	position:fixed;
	z-index:0;
	left:0;
	top:0;
	
}

div#sidemenu-container ul li a{
	color:#FFFFFF;
	line-height:120%;
 	font-size:0.8em;
}
ul.sidemenu{
  list-style-type: none;
 } 
/*Side menu*/
/*Global*/

.arrow-w {
  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  display: -moz-inline-box;
  display: inline-block;
  font-size:0.8em;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
}

.arrow-w {
  border-right-width: 0.8em;
  border-right-style: solid;
  border-right-color: #fff;
  right: 0.25em;
  bottom:0.15em;
}



.spacer {
  width:100%;
  height:40px;
}

.bodyspacer{
	width:100%;
  height:30px;
	
}


.sm8 {
  font-size:0.8em
}

.sm9 {
  font-size:0.9em
}

.textgrey {
  color:#808080;
}

.btn {
 background:#f1f1f1;
 -moz-border-radius:6px;
 -webkit-border-radius:6px;
 border-radius:6px;
 border:1px solid #ced0d1;
 display:inline-block;
 color:#333;
 font-size:0.8em;
 font-weight:900;
 text-decoration:none;
 cursor:pointer;
 padding:15px 20px;
 text-transform:uppercase;
 text-align:center;
   text-shadow: 0 0 0;
}

.btn:hover{
  background:#b9bcbe;
}

.yes.btn {
 background:#00b7ff;
 color:#fff;
 font-weight:900;
 text-transform:uppercase;
 width:30%;
 margin-right:7%;
 font-size:1.4em;
 text-align:center;
 border:0px;
}

.no.btn {
background:#FF5A00;
color:#fff;
font-weight:900;
text-transform:uppercase;
width:30%;
font-size:1.4em;
border:0px;
}

.yes.btn.notselect, .no.btn.notselect {
  color:#000;
  background:#666666;
}



.yes.sel, .yes.notselected  {
 margin-right:6%;
}


.yes.sel, .no.sel,.no.notselected, .yes.notselected {
 display:inline-block;
 padding:15px 0 5px 0;
 width:47%;
 border:0px; 
 float:left;
}

.notselect{
	 color:#666666;
}
.yescolor{
	color:#0073ff;
}
.nocolor{
	  color:#ff5900;
}
.yesbg {
  background:url("images/yes-sel-bg.png") repeat-x scroll 0 22px transparent;
}

.nobg {
   background:url("images/no-sel-bg.png") repeat-x scroll 0 22px transparent;
}

.notselbg{
   background:url("images/gray-sel-bg.png") repeat-x scroll 0 22px transparent;	
}

.btn-wrap, .discussion .selected {
   text-align:center;
}



.error input {
  margin-right:10px;
  border:1px #f00 solid;
}

.error-msg:before {
   padding: 2em;
}

.error-msg {
  color:#f00;
  font-size:0.8em;
  font-weight:500;
  text-transform:uppercase;
}

#reg-overlay .error-msg {
   font-size:0.8em;
}

.error {
  font-size:0.8em;
  font-weight:500;
  text-transform:uppercase;
  color:#f00;
}



/*Global*/

/*Question Section*/

.notsupported {
  display:none;
  color:#fff;
}

.question {
	background:#000000;
margin-top:0px;
border-bottom:1px solid #FF5A00;
border-top:1px solid #68B7FD;
min-height:80px;
font-size:1.0em;
font-weight:900;
}

 .question .text {
	color:#fff;
float:left;
width:66%;
margin:10px 0 0 2.5%;
cursor:pointer;
 font-family:museo-slab,serif;
}

/*Align center for popup*/
#voteform .content{
	text-align:center;	
	 font-family:museo-slab,serif;
}


.question .reply {
float:right;
margin:0 2.5% 0 0;
}

/*No pen here*/
#comments  .question .text, #stats .question .text,#voteform  .question .text{
	width:90%;
}

#comments .question .reply, #stats .question .reply{
	display:none;
}

.penup{
	background:url(images/penUp.png) no-repeat;
	background-size:44px 60px;
}

.penside{
	background:url(images/penSide.png) no-repeat;
	background-size:44px 60px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.penup{
	background:url(images/penUp_retina.png) no-repeat;
	background-size:44px 60px;
}

.penside{
	background:url(images/penSide_retina.png) no-repeat;
	background-size:44px 60px;
}

}
.question .reply a {
margin-top:4px;
width:57px;
height:77px;
display:block;
}


/*Question Section*/

/* content wrapper*/

.content {
 width:95%;
 margin:10px 2.5% 0;
}

.content-wrapper {
 background:#333;
 padding-top:2px;
 margin-top:6px;
}


#voteform .content-wrapper {
 background:#000;
}
/*content wrapper*/


/*footer*/
#footer-container {
  text-align:center;
  padding:20px 0 20px 0;
}

.pagefooter{
  margin:0 auto;
  padding:0;
  list-style-type: none;
  color:#a6a8ab;
  line-height:20px;
  text-transform:uppercase;
  font-size:0.8em; 
  width:240px;
  text-align:center;
  font-weight:500;
}
 
.pagefooter li { float: left; }
.pagefooter li a {
  color:#a6a8ab;
  text-decoration:none;
}
.pagefooter li.pipe:after { content: "|"; padding: 0 .8em; }
.pagefooter li.center:before { content: ""; padding: 1.2em; }

/*footer*/

/* comments*/

#comments .content .debates.to {
border-bottom-left-radius:0;
border-bottom-right-radius:0;
-webkit-border-bottom-left-radius:0;
-webkit-border-bottom-right-radius:0;
-moz-border-bottom-left-radius:0;
-moz-border-bottom-right-radius:0;
background:none;
}

#comments .content .debates {
  min-height:70px;
}

#comments .content .debates.to .debate{
  background:#fff;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-top-left-radius:5px;
  -moz-border-top-right-radius:5px;
}

#comments .content .debates.to .debates.answer {
margin-top:0;
padding-bottom:10px;

border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
-moz-border-bottom-left-radius:5px;
-moz-border-bottom-right-radius:5px;

border-top-left-radius:0;
border-top-right-radius:0;
-webkit-border-top-left-radius:0;
-webkit-border-top-right-radius:0;
-moz-border-top-left-radius:0;
-moz-border-top-right-radius:0;

}

#comments .bottom .debate:first-child {
  padding-top:0;
}

#comments .top.black {
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-top-left-radius:5px;
  -moz-border-top-right-radius:5px;
  color:#fff;
  line-height:22px;
  text-align:center;
  text-decoration:uppercase;
}

.confirm-msg {
  background:gray;
}



/* feeds */

#feeds #footer-container {
  display:none;
}

.blackbg {
	background:#000000;
  	margin:0;
  	padding:0;
  	width:100%;
  	height:100%;
/*  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.55);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.55);*/
}

/* feeds*/

/* photos */

#profilepicture{
	float:left;
	margin-right:10px;
	margin:bottom:10px;
}

#photo .question .text {
    margin:40px 0 0 2.5%
}
  
#photo .instruction .added {
  margin-top:60px;
}

 #profile ul.nav li.left a, #photo ul.nav li.left a {
      width:15%;
      font-size:0.75em;      
 }
 
 .container {
   color:#fff;
 }



#photo .instruction .add{
  text-transform:uppercase;
  color:#fff;
  font-size:0.8em;
  font-weight:900;
}

#photo .instruction .added{
  font-size:0.8em;
  font-weight:700;
  color:#fff;
}

#photo .sm10.textgrey {
  font-size:0.8em;
}

#photo .instruction .w {
  margin:10px 0 10px 0;
}

#photo .instruction .w img{
  width:45%;
  min-width:45%;
}


#photo .save .btn{
  width:30%;
  text-align:center;
  float:right;  
}

#photo #done {
  display:none;
}

/* photos */

/* Discussion */

.line {
 clear:both;
 background:#f1f1f1;
 height:1px;
 width:100%;
}


.discussion .selected .number {
 border:0;
 display:inline-block;
 text-transform:uppercase;
 width:40%;
 margin:10px 10px 0 0;
}


.clearb {
clear:both;
}

h1 {
 position:relative;
 margin-top:20px;
  font-family:museo-slab,serif;
}

h1.one {
margin-top:0;
font-size:1em;
text-align:center;
}

h1.one:before {
content:"";
display:block;
border-top:0;
width:100%;
height:1px;
position:absolute;
top:50%;
z-index:1;
}


h1.one span {
	background:#333;/*This to make a hole in the line*/
	position:relative;
	z-index:5;
	text-transform:none;
	padding:0 2%;
}

#voteform h1.one span {
	background:#000;
}

.yes.number h1.one:before {
border-top:solid 1px #0073ff;
color:#0073ff;
}

.no.number h1.one:before {
border-top:solid 1px #ff5900;
color:#ff5900;
}

.no.number h1.one span {
color:#ff5900;
}

.textblue,.yes.number h1.one span {
color:#0073ff;
}

.discussion .agree, .discussion .disagree {
 font-size:1.2em;
 width:50%;
 float:left;
 padding:20px 0 10px;
    text-shadow: 0 0 0;
     font-weight:700;
}

.discussion .agree {
  text-align:right;
  padding-right:40px;
  width:47%;
}
.discussion .disagree {
 text-align:left;
 width:40%;
}

.line {
 clear:both;
 background:#f1f1f1;
 height:1px;
 width:100%;
}

.discussion .btn-wrap, .discussion .selected, .discussion .total, .discussion .answer{
  display:none;
}

/* Discussion */


/** OVERLAY **/


.seemore .loader, .seemore .btn.past{
  display:none;
}

.seemore {
  width:100%;
  min-height:75px;
  padding: 25px 0 0 0;
  text-align:center
}

.seemore .more {
  display:none;
}

#feeds .debates.top .loader, .seemore .loader, .tmpl .loader{
  background:url(images/ajax-loader.gif) no-repeat 15% 0;
  width:100%;
  height:75px;
  margin-left: 35%;
}

#feeds .debates.top .loader{
  background:url(images/ajax-loader.gif) no-repeat 30% 30px;
  width:50%;
}

.tmpl .loader {
  background:url(images/ajax-loader-trans.gif) no-repeat 30% 17px;
  width:50%;
}

.tmpl .seemore .loader {
	 background:url(images/ajax-loader.gif) no-repeat  30% 17px;
}


.overlay {
    backgound:#000;
    position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	width:100%;

	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/

	min-height:100%; /* real browsers */
	
}

.overlay {
		min-height:100%;
		position:relative;
}

.prompt-answer .sm900 {
  text-transform:uppercase;
}

.prompt-answer .btn-wrap .btn {
  padding:10px 20px;
  width:20%;
}

.prompt-answer .btn-wrap .btn.select {
  background:gray;
}

.overlay .body .prompt-auth .textwrap{
  margin-top:0;
}

.prompt-answer .textcontainer {
  width:80%;
  margin-left:10%;
}



.prompt-answer .sm900 {
  font-size: 0.75em;
  font-weight:900;
  text-decoration:uppercase;
}

.prompt-answer .sm500 {
  font-size: 0.5em;
  font-weight:900;
}


.overlay .header {
		background:#68B7FD;
		height:25px;
}

.overlay .header .close {
  display:block;
  width:30px;
  height:30px;
  margin:0;
  padding:0;
  float:right;
  background:url('images/close_sm.png') 0 0 no-repeat;
  margin-top:3px;
}

.overlay .header span{
  float:right;  
  margin:12px 2% 0 0 ;
  color:#eefaff;
  font-size:1em;
}

.overlay .body {
  text-align:center;
  font-size:1.0em;
  color:#fff;
  /*min-height:450px;*/
}

.formTitle{
	margin-bottom:0px;
	padding-bottom:0px;	
}

#yesno-overlay .body {
  min-height:420px;
}


.overlay .row { 
  width:100%;
  text-align:left;
  margin-top:10px;
}

.overlay .body .textwrap{
  text-align:center;
  margin:95px 0 0 5%;
}

#yesno-overlay .body .textwrap{
  margin:15px 0 0 0;
}

.overlay .body .formwrap{
  width:70%;
  margin:0 0 0 15%;

}

.overlay .body .textwrap p{
  height:17px;
  display:block;
}

#login_or_signup_form input{
  height:35px;
  width:85%;
}

.loginBtn a .ui-btn-inner .ui-btn-text{
	padding-left:24px;
	background:url('images/loginicon_18x18.png') 0px -2px no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.loginBtn a .ui-btn-inner .ui-btn-text{
		background:url('images/loginicon_36x36.png') 0 -2px  no-repeat;
		background-size:18px 18px;
	}
}

#login_or_signup_form .btn {
  text-transform:uppercase;
  font-size:0.8em;
  font-weight:700;
  width:70%;
}
.overlay .body .ques{
  border-top:#ff5a00 2px solid;
  border-bottom:#00b7ff 2px solid;
  margin:20px 0 20px 0;
  padding:20px 0 20px 0;
}

#yesno-overlay .body .ques {
  font-size:0.8em;
  font-weight:900;
}

#yesno-overlay .body .btn-wrap {
  font-size:1em;
}

#yesno-overlay .btn-wrap {
  margin:20px 0 0 0;
  padding:0;
}

#yesno-overlay .body .btn-wrap .yes.btn, #yesno-overlay .body .btn-wrap .no.btn, #yesno-overlay .body .cancel.btn{
  font-size:0.625em;
  font-weight: 900;
}

#yesno-overlay .body .cancel.btn{
  margin-top:20px;
  padding: 10px 20px;
  width: 25%;
}

.overlay .body .btn-wrap {
 padding-top:80px;
 margin-left:0;
}

.overlay .discussion .selected, .overlay .btn-wrap {
  margin-left:0;
}

.overlay .discussion .selected .number {
    width: 37%;
}

.overlay h1.one {
  font-size:0.8em;
}


.overlay h1.one span {
  background:#000;
}
.overlay .body .btn-wrap .yes.btn, .overlay .body .btn-wrap .no.btn{
  font-size:1em;
  
}

.overlay .footer {
		position:absolute;
		bottom:0;
		width:100%;
		height:25px;			/* Height of the footer */
		background:#ff5a00;
}

.overlay .big {
  font-size:0.75em;
  font-weight:900;
}

.overlay .sm5 {
  font-size:0.8em;
  font-weight:500;
}


.divider {
 margin:10px 0 10px 0;
 width:100%;
 text-align:center;
}

.overlay .intro {
  margin:10px 0 10px 0;
}

#login_or_signup_form .btn {
    padding:10px 15px;
}

.sbtn img, .sbtn img{
  width:100%;
  cursor:pointer;
}

/** OVERLAY **/

#reg-overlay .sbtn img{
  width:90%;
}

/*STATS*/


#stats .bottom .debate {
  padding-top: 0;
}  

#stats .bottom .debate .content {
  margin-top:10px;
}


#stats .debates.bottom.liked, #stats .debates.bottom.debated{
  display:none;
}

.opinion-bar{
   height:75%;
   position:relative;
   display:none;
}

.opinion-bar .bar{
  width:100%;
  font-size:0.8em;
  font-weight: 900;
}

.opinion-bar .text{
  text-align:center;
  color:#fff;
  font-size:2em;
  text-shadow: 0 0 0;
}

.opinion-bar .yes {
  background:#00b7ff;
}

.opinion-bar .yes .text{
  
}

.opinion-bar .no { 
  width:100%;  
  background:#ff5900;
}

.opinion-bar .no .text{
  padding-top:10px;
} 

#stats .stats-tab {
  padding-bottom:15px;
}

#stats .stats-tab .btn{
  text-align:center;
  /*width:16%;*/
  font-size:0.6em;
  font-weight:500;
  
  padding: 5px 5px;
}

     /* #triangle-blue {	
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 50px 200px 0 200px;
        border-color: #00B7FF transparent transparent transparent;
        background: #FF5900;
      }
      
      #triangle-orange {	
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 200px 50px;
        border-color: transparent transparent #FF5900 transparent;
        background: #00B7FF;
      }*/
      
      #stats-arrow-divider{
      	  
      	  width:100%;
      	  height:40px;
      	
      }
      .triangle-orange {
      		background:url(images/stats_arrow_blue.png) no-repeat;
      	  	background-size:102% 40px;
      }
      .triangle-blue {
      		background:url(images/stats_arrow_orange.png) no-repeat;
      	  	background-size:102% 40px;
      }
.top.black {
  background:#000;
}

/*STATS*/

/*Debates*/

.debate.clicked {
 -moz-transition: background-color 0.5s linear;
 -o-transition: background-color 0.5s linear;
 -webkit-transition: background-color 0.5s linear; 
}

.debate .responseto {
  font-weight:bold;
}


.debate.no.clicked, .debate.no.self:first-child {
  background:#ffe5d8; 
}

#comments .debate.no.self {
 background:#ffe5d8; 
}

.debate:first-child {

border-top-left-radius:5px;
border-top-right-radius:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-moz-border-top-left-radius:5px;
-moz-border-top-right-radius:5px;

}

.debate.yes.clicked, .debate.yes.self:first-child, #comments .debate.yes.self {
  background:#d9f5ff;
}


.bottom .debate {
padding-top:0px;
border-bottom:1px solid #f1f1f1;
}

.bottom .debate:last-child {
  border-bottom:0px;
}



.debate .content .text .reply .btn, #feedsform .btn, #commentsform .btn {
    font-size:0.9em;
    font-weight:700;
    padding:8px 15px;
    text-shadow: 0 0 0;
}

.debate .content .text .reply .btn {
    float: right;    
}

.debate div.top {
display:block;
width:100%;
height:20px;
border-top-left-radius:5px;
border-top-right-radius:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-moz-border-top-left-radius:5px;
-moz-border-top-right-radius:5px;
text-align:center;
color:#fff;
margin-top:0px;
padding-top:3px;
text-transform:uppercase;
}

#stats .debate div.top{
	padding-top:6px;
}

.debates.answer.quickreply .line {
  display:none;
}

#quickreplyform .sayit{
  float:rigt;  
}

#quickreplyform .btn{
  padding:10px 10px;
}

.likes {
	width:100px;
	height:30px;
	float:left;
}

.likes .star {
  height:26px;
  width:100%;
  cursor:pointer;
}


.likes .star {
   background:url('images/likes.png') 0 0 no-repeat;
    width:20px;
   height:20px;
   background-size:20px 20px;
   display:block;
   float:left;
}

.likes.liked  .star {
  background:url('images/likes_on.png') 0 0 no-repeat;
   width:20px;
   height:20px;
   background-size:20px 20px;
   display:block;
   float:left;
}

.likes .count {
  display:block;
  float:left;
  margin:3px 0 0 10px;
  font-size:1.0em;
  font-weight:700;
  color: #000;
  text-shadow: 0 0 0;
}

.debate div.top a{
  text-decoration:none;
  color: #fff;
  font-size:0.8em;
  font-weight:700;
  text-shadow: 0 0 0;
}

.pic.yes{
	background:#68B7FD;
	  width:78px;
  height:113px;
}
.pic.no{
	  background: #FF5A00;
  width:78px;
  height:113px;
}
.blue,  .top.yes {
  background:url(images/arrows.png) no-repeat scroll 98% 5px #68B7FD;
  background-size:12px 13px;

}

.orange, .top.no {
  background:url(images/arrows.png) no-repeat scroll 98% 5px #FF5A00;
   background-size:12px 13px;
}

ul.nav li.active {
  font-size:0.8em;
  font-weight:900;
}

.top.yes.noarrow, .top.no.noarrow {
  background-image:none;
  font-size: 0.8em;
  font-weight: 700;
  text-shadow: 0 0 0;
}

.responseto {
 font-weight:bold;
}

.pic.no {
  background:#FF5A00;
}

/*
 As per the holy grail of fixed column with 100% conent.
 Notice that left col is after center in html
 http://alistapart.com/article/holygrail
 * */
.debate .content {
width:auto;/*important, not 100%*/
margin:10px 1.5% 0;
position:relative;
padding-left:86px;/*Relative user image width+padding*/
}

.debate .content .user {
width:86px;
right:86px;
margin-left:-100%;
height:110px;
float:left;
position:relative;
margin-bottom:5px;
}

.debate .content .text {
position:relative;
float:left;
width:100%;
}




.debate .content .user .pic {
border:1px #a6a8ab solid;
border-bottom:0;

}

.debate .content .text .opinion {
 font-size:0.8em;
 font-family: Helvetica;
 font-weight:bold;
 padding:0;
 margin-bottom:4px;
 text-shadow: 0 0 0;
}

.debate .content .text .opinion.yes {
color:#68B7FD;

}

.debate .content .text .opinion.no {
 color:#ff5900;
}

.debate .content .text .opinion .yesno {
text-transform:uppercase;
}

.debate .content .user img {
width:78px;
height:110px;
}

.debate .content .text .date {
float:right;
font-size:0.8em;
color:#a6a8ab;
padding:0;
font-family: Helvetica;
font-weight:bold;
text-shadow: 0 0 0;
}



.debate .content .text .desc,.debate .content .desc  {
 width:100%;
 min-height:65px;
 font-size:1.0em;
 font-family:Helvetica;
 color: #000000;
 font-weight: normal;
 text-shadow: 0 0 0;
}

.margin10{
	margin:10px;
	padding-top:10px;	
	padding-bottom:10px;
}

.debate .content .btns {
width:100%;
height:32px;
margin-bottom:10px;
/*
  
  width:83%;
 position:absolute;Absolute to stick to bottom
bottom:18px;*/


}

/*btns float jumping down on ipad
@media only screen and (device-width: 768px) {
  .debate .content .btns {
  		position:absolute;
		width:91%;
		height:40px;
		bottom:18px;
		margin-bottom:0px;
	}
}
*/


.debate .content .btns .reply{
	float:right;
}


.debate.total {
 padding-bottom:10px;
 background:#333;
 text-align:center;
}

.debate.total .top {
 background:#000;
 color:#fff;
 text-transform:uppercase;
 font-weight:700;
 font-size:0.8em;
}

.debate.total .btn{
	margin:10px;
	margin-top:5px;	
}
.debate.total .btn a{
  color:#727272;
  text-decoration:none;
  font-size:1.0em;
  font-weight:900;
  text-shadow: 0 0 0;
}

.debate.total .content {
background:#fff;
width:100%;
min-height:100px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
-moz-border-bottom-left-radius:5px;
-moz-border-bottom-right-radius:5px;
margin:0;
padding:0;
}

.debate.total .line {
    margin-bottom:7px;
 }
  

.content .debates {
 margin-top:10px;
 background:#fff;
 width:100%;
 min-height:100px;
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 border-radius:5px;

}
#home .content .debates.bottom{
	padding-top:4px;	
}

#feedsform, #commentsform {
    margin: 0 2.5%;
}

#feedsform, #commentsform {
  margin:0 2.5% 0 2.5%;
}

#feedsform  .btn, #commentsform .btn {
  float:right;
}

#feeds #feedsform input, #feeds #commentsform input {
  height:32px;
  float:left;
  width:60%;
  background:#f1f1f1;
  border:1px solid #b9bcbe;
}

#comments #feedsform input, #comments #commentsform input {
  height:32px;
  float:left;
  width:66%;
  background:#f1f1f1;
  border:1px solid #b9bcbe;
}

/*#comments .debate div.top {
  height:0;
}*/

#commentsform .text.yes {
  color:#0073ff;

}

#commentsform .text.no {
  color:#ff5900;
}


#feedsform .text, #commentsform .text {
    font-size: 0.8em;
    font-family: Helvetica;
    font-weight:bold;
    padding-top: 10px;
    text-transform: uppercase;
    text-shadow: 0 0 0;
}
.textblue, .yes.number h1.one span {
    color: #0073FF;
}

.textorange {
color:#FF5A00;
}

/*Debates*/



/* contact us*/

 #contactus .success-message.sub-title {
    width:100%;    
    background:gray;
    display:none;
    text-align:center;
    padding:10px 0 10px 0;
  }

.fleft {
 float:left;
}

#contactus .sub-title {
  font-family:Helvetica;
  font-weight:bold;
  font-size:12px;
}

#contactus .fleft {
  padding-bottom:10px;
  width:33.5%; 
}

#contactus .row {
  padding-bottom:10px;
  width:70%; 
}

#contactus .fleft.last {
 margin-left:10px;
}

#contactus .regular {
  padding-bottom:10px;
  width:70%; 

}

#contactus .regular input{
  width:100%;
}

#contactus input {
 height:25px;
 width:100%;
}


#contactus input.full {
  width:30%;
}

#contactus textarea {
  width:100%;
  height:100px;
}

#contactus .content {
  margin-top:60px;
}

#contactus .content .label {
  text-transform:uppercase;
  font-size:0.8em;
  padding:2px 0 2px 0;
}

#contactus .fulltextarea {
  padding-top:10px;
  float:left;
  width:100%;
  width:70%
}

#contactus .fullsubmit {
  float:left; 
  padding-top:10px;
  margin-left:10px;
}

#contactus .fullsubmit .btn{
  font-size:0.8em;
  font-weight:900;
  padding:10px 15px;
}

#contactus .styled-select select {
   background: transparent;
   width: 113%;
   padding: 5px;
   font-size: 0.75em;
   border: 1px solid #ccc;
   height: 34px;
   text-transform:uppercase;
   color:#929497;
   font-weight: normal;
}

#contactus .p10 {
  padding-top:10px;
}

#contactus .styled-select {
   width: 73%;
   height: 34px;
   overflow: hidden;
   background: url('images/new-arrow.png') no-repeat right #fff;
}

#contactus .content-wrapper {
  margin-top:0;
}

/* Profile*/


#profile{
    background: none repeat scroll 0 0 #000000;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}



#profile .nav li.left a, #profile .nav li.right a {
   color:#fff;
}


#profile .middle a {
   color: fff;
}

#profile .question { 
  height:120px;
}

#profile .mypic {
  width:107px;
  overflow:hidden;
  height:100px;
}

#profile .mypic img {
 width:100%;
}


#profile .question .info {
 margin-left:2%;
}

#profile .question .info .name{
  font-size:0.8em;
  font-weight:900;
}

#profile .question .info .btn a {
  text-decoration: none;
  color:#000;
}

#profile .question .info .recent a {
  text-decoration: none;
  color:#fff;
}

#profile .question .info .recent{
  font-size:0.8em;
  font-weight:700;
}

#profile .verify-code {
  display:none;
}

#profile .container .verify-code .span-16 {
  font-size: 0.8em;
  font-weight: 900;
}

#profile .container .verify-code form {
  float:left;
}

#profile .container .verify-code .panel{
  width:70%;
  height:45px;
}

#profile .container .verify-code .cancel {
  float:left;
  width:30%;
}

#profile .verify-code .input{
  height:35px;
}



#profile .question .info div, #profile .question .info span{
  margin-top:5px;
}

#profile .question .info .btn{
  padding:5px;
  font-size:900;
  font-size:0.8em;
}

#profile .question .mypic, #profile .question .info {
  float:left;
}

 #profile label {
   font-size:0.8em;
   font-weight:900;
 }
 
  #profile p {
   margin:5px 0 0 0;
 }
 
#profile input {
  height:35px;
  width:70%;
}

#profile .phone3 {
  width:17%;
  float:left;
}

#profile .phone4 {
  width:34%;
   float:left;
}

#profile .container .btn{
  width:15%;
  text-align:center;
  float:right;
  font-size:0.8em;
  font-weight:900;
  padding:15px 50px;
}

#profile .container .btn.submit{
 padding:15px 45px 15px 20px
}

#profile .btn-holder {
  margin-top:5px;
}


/*sign*/


/*PAST*/

#past .desc a{
  color:#000;
}

#past .debate:hover {
  background:#f0f0f0;
}

#past .debate:first-child {

  border-top-left-radius:5px;
  border-top-right-radius:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-top-left-radius:5px;
  -moz-border-top-right-radius:5px;

}

#past .debate:last-child {

  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  -moz-border-bottom-left-radius:5px;
  -moz-border-bottom-right-radius:5px;
}


#past .debate .content {
  margin-top:0px;
}

#past .debate .content .text {
  line-height:12px;
  padding-bottom:10px;
}


#past .debate .content .text .category {
  font-weight:900;
  text-transform:uppercase;
  font-size:0.8em;
}

#past .debate .content .text .desc {
  height:auto;
  font-size:0.8em;
  
}

#past .debate .content .text .date {
  font-size:0.8em;
  font-weight:normal;
  color:#bebebe;
}

#past .question .text {
  margin:40px 0 0 2.5%;
  font-size:0.8em;
  fint-weight:900;
}


.debates.to .debates.answer.quickreply .line {
  display:block;  
}

.debates.to  #commentsform {
  padding-top:10px;
}


/* media query*/

/*iPhone in landscape*/
@media screen and (min-width: 321px){
  
  #stats .stats-tab .btn{
    /*width:21.9%;*/
  }

}

/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  
  #contactus .sub-title {
   font-family:Helvetica;
   font-weight:bold;
   font-size:14px;
  }

 .btn {
  font-size:1.05em;
  font-weight:900;
 }

  ul.nav li {
    font-size:1em;
  }
  
  ul.nav li.middle, ul.nav li.active {
    font-size:1em;
  }
  
  
  ul.nav li.right.notloggedin a{  
    margin-right:20px;
    width:80px;
  }
  
  ul.nav li.right.loggedin a{
   width:50px;
   background:url("images/profileBtn.png") no-repeat scroll 0 7px transparent;
  }
  
  ul.nav li.right a {
    width:50px;
  }
  
  .question {
    font-size:1.3em;
  }
  
  .question .text {
    width:86%;
    text-align:center;
  }
  
  .yes.btn, .no.btn {
    padding: 30px 24px;
    font-size:1.8em;
  }
  
  .debate.total .top {
    font-size:0.8em;
  }
  
 
  .discussion .agree, .discussion .disagree {
   font-size:1.6em;
   font-weight:700;
  }
  
  
  
  
  .debate.total .btn a{
    font-size:0.8em;
    font-weight:900;
  }
  
  .debate.total .content {
    min-height:128px;
  }
  
  .debate div.top a{
    font-size:0.75em;  
  }
  
  .debate .content .user .opinion.no {
   font-size:0.75em;
  }
  
  .debate .content .text .desc {
   font-size:1em;
   font-family:Helvetica;
   min-height:90px;
  }
  
  
  .debate .content .text .reply .btn, #feedsform .btn, #commentsform .btn {
     padding: 15px 24px;
  }
  
  #feedsform input, #commentsform input {
    height:45px;
    width:85%;
  }
  

  
  .overlay .header, .overlay .footer {
    height:45px;
  }
  
  .overlay .big {
    font-size:1.55em;
    font-weight:900;
  }

  .overlay .sm5 {
    font-size:1.25em;
    font-weight:500;
  }
  
  #login_or_signup_form input  {
     height:70px;
     width:90%;
     margin-top:10px;
    
  }
  
  #login_or_signup_form .btn {
    text-transform:uppercase;
    font-size:1.125em;
    font-weight:700;
    width:88%;
    padding:15px 15px;
    margin-top:10px;
  }
  
  .overlay .header .close {
    margin-top:10px;
  }
  
  .overlay .body {
    min-height:1100px;
  }
  
  .divider {
   margin:30px 0 10px 0;
  }
  
  .overlay .row { 
    margin-top:20px;
  }
  
  #contactus .content .label {   
   font-size:0.8em;
  }
  
  #contactus .sub-content {
   min-height:750px;
  }
  
  #contactus .fleft {
    padding:10px 0 10px 0;
    width: 35%;
  }
  
  #contactus .regular {
    width: 72%;
   }
   
  #contactus .fulltextarea {
   margin:10px 0 10px 0;
  }
  
 
  
  #contactus .fullsubmit {
    padding-top:10px 0;
    margin:10px 0 0 20px;
  }
  
  #profile .mypic {
   width:170px;
   overflow:hidden;
   height:170px;
  }
  
  #profile .question .info .name{
  font-size:1.3em;
  font-weight:900;
}

#profile .question .info .recent{
  font-size:0.78em;
  font-weight:700;
}

#profile .question .info .btn{
  padding:5px;
  font-size:900;
  font-size:0.78em;
}


#profile .question { 
  height:182px;
}

#profile .mypic {
  width:170px;
  overflow:hidden;
  height:170px;
}

#profile .mypic img {
 width:100%;
}

 #profile label {
   font-size:0.8em;
   font-weight:900;
 }


 #profile label {
   font-size:0.95em;
   font-weight:900;
 }
 
  #profile p {
   margin:5px 0 0 0;
 }
 
#profile input {
  height:45px;
  width:60%;
  padding:10px;
}

#profile .phone3 {
  width:15%;
}

#profile .phone4 {
  width:29%;
}

#profile .container .btn{
  width:15%;
  text-align:center;
  float:right;
  font-size:1.05em;
  font-weight:900;
  padding:15px 50px;
}

#profile .btn-holder {
  width:98%;
  margin-top:5px;
}

.error-msg {
  font-size:0.95em;
  font-weight:900;
}

#reg-overlay .error-msg {
  font-size:0.95em;
  font-weight:900;
}




.likes .star {
    background: url("images/likes.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 26px;
    width: 26px;
    background-size:26px 26px;
}

.likes.liked  .star {  
   width:26px;
   height:26px;
   background-size:26px 26px;
}


.likes .count {
  font-size:0.875em;
  font-weight:700;
}


.prompt-answer .sm900 {
  font-size: 1.55em;
  font-weight:900;
}

.prompt-answer .sm500 {
  font-size: 1em;
  font-weight:500;
}

#yesno-overlay .body {
  min-height:800px;
}


#yesno-overlay .body .ques {
    font-size: 1em;
    font-weight: 500;
}

#yesno-overlay .body .btn-wrap .yes.btn, #yesno-overlay .body .btn-wrap .no.btn, #yesno-overlay .body .cancel.btn {
    font-size: 0.6em;
    font-weight: 500;
}


.debate .content .user {
  width:8%;
}

.debate .content .text {
  width:90%;
}

.desctext {
  font-size:1em;
  font-weight:500;
}







