body.home-index div.debates-gallery div.question {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
}

body.home-index div.debates-gallery div.gallery-container ul.debates li div.color-overlay {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
}
