
@yes-color-default: #3b73fb;
@yes-color-extralight: #c6e3fa;
@yes-color-light: #68b7fd;
@yes-color-dark: #244055;

@no-color-default: #dc4218;
@no-color-light: #e0681b;
@no-color-extralight: #fcc894;
@no-color-dark: #5e1900;

@gallery-item-width: 550px;
@gallery-item-height: 647px;

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.top-rounded-corners (@radius: 5px) {
  border-radius: @radius @radius 0 0;
  -webkit-border-radius: @radius @radius 0 0;
  -moz-border-radius: @radius @radius 0 0;
}

.bottom-rounded-corners (@radius: 5px) {
  border-radius: 0 0 @radius @radius;
  -webkit-border-radius: 0 0 @radius @radius;
  -moz-border-radius: 0 0 @radius @radius;
}

img.typekit-badge {
  display: none !important;
}

.gallery-item {
  width: @gallery-item-width;
  height: @gallery-item-height;
}

html, body, div.content-outer {
  height: 100%;
}

div.content-outer {
  height: auto;
  min-height: 100%;
}

div.content-inner {
  position: relative;
  padding: 0 0 50px;
  overflow: auto;
}

div.shim {
  margin: 78px 0 0;
}

.shadowed {
  box-shadow: 3px 3px 7px #000000;
  -moz-box-shadow: 3px 3px 7px #000000;
  -webkit-box-shadow: 3px 3px 7px #000000;
}

.cozy {
  margin: 0;
  padding: 0;
}

.fullscreen {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.auto-center {
  position: relative;
  width: 940px;
  margin: 0 auto;
  overflow: auto;
  text-align: center;
}

.white-on-black {
  color: #FFFFFF;
  background-color: #000000;
}

hr {
  height: 1px;
}

hr.top {
  background-color: @yes-color-light;
}

hr.bottom {
  background-color: @no-color-light;
}

div.flashes {
  text-align: center;
  background-color: #CCCCCC;
  color: #000000;
  display: none;
  
  div.flash {
  	padding: 5px 0;
  }
}

div.disable-ui {
  .fullscreen;
  position: fixed;
  z-index:9500;
  
  div.disable-mask {
    .fullscreen;
    position: absolute;
    background-color: #000000;
    opacity: 0;
  }
}

div.popup-outer {
  .fullscreen;
  position: fixed;
  display: none;
  z-index: 9000;
  
  div.popup-inner {
    position: relative;
    margin: 0 auto;
    width: 500px;
    z-index: 9001;
    
    div.spinner-popup {
      text-align: center;
      padding: 0 0 90px;
    }
    
    div.login-popup {
      
      a {
        text-decoration: underline;
      }
      
      input {
        color: #666666;
      }
      
      input.active {
        color: #000000;
      }
      
      div:first-child {
        .top-rounded-corners(10px);
        color: #FFFFFF;
        background-color: @yes-color-light;
        font-weight: 800;
        font-size: 1.4em;
        text-transform: uppercase;
        
        img {
          position: absolute;
          right: 30px;
          top: 15px;
        }
      }
      
      div:last-child {
        .bottom-rounded-corners(10px);
        color: #FFFFFF;
        background-color: @no-color-light;
        font-size: 0.8em;
        
        a {
          color: #FFFFFF;
        }
      }
      
      div {
        padding: 10px;
        background-color: #FFFFFF;
        text-align: center;
      }
      
      div.error-msg {
        display: none;
        margin: 0 0 5px;
        color: #CC0000;
      }
    }
    
    div.photo-booth {
      height: 500px;
      background-color: #CCCCCC;
    }
    
    
  }
  
  div.popup-mask {
    .fullscreen;
    position: absolute;
    background-color: #000000;
    opacity: 0.85;
    z-index: -1;
  }
}

div.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  .white-on-black;
  
  div.title-bar {
    width: 826px;
    margin: 0 auto;
    overflow: auto;
  }
  
  div.nav {
    padding: 10px 0;
    color: #666666;
    background-color: #FFFFFF;
    text-transform: uppercase;
    
    a {
      color: #666666;
    }
    
    div.col2 {
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      
      a.selected {
        text-decoration: underline;
      }
    }
    
    div.col3 {
      text-align: right;
      
      a.user {
        font-weight: 800;
      }
    }
    
    span.divider {
      border-right: 1px solid #666666;
      padding-left: 2px;
      margin-right: 5px;
    }
    
  }
}

div.footer {
  clear: both;
  position: relative;
  height: 40px;
  padding-top: 10px;
  margin-top: -50px;
  background-color: #FFFFFF;
  
  img {
    vertical-align: middle;
  }
  
  div.share {
    text-align: left;
    
  }
  
  div.util {
    text-align: right;
    
    ul {
      .cozy;
      list-style: none;
      
      li {
        .cozy;
        display: inline;
        list-style: none;
        margin-left: 12px;
      }
    }
  }
}

/* Home Page */
body.home-index {
  
  div.debates-gallery {
    height: @gallery-item-height;
    overflow: hidden;
    background-color: #e6e7e8;
    
    div.gallery-container {
      visibility: hidden;
      position: relative;
      height: @gallery-item-height;
      
      ul.debates {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
          .gallery-item;
          position: absolute;
          background-color: #ccc;
          
          a {
            .gallery-item;
          }
          
          div {
            position: absolute;  
          }
        }
        
        li.selected {
          a.hit-area {
            display: none;
          }
          
          div.content-container {
            display: block;
          }
        }
        
        li.unselected {
          a.hit-area {
            display: block;
          }
          
          div.content-container {
            display: none;
          }
        }
      }
    }
    
    div.detail {
      .gallery-item;
      position: absolute;
      top: 0;
      
      div.yes {
        div.headline {
          background-color: @yes-color-default;
        }
        div.rag {
          div {
            background-color: @yes-color-light;
          }
        }
        .btn {
          background-color: @yes-color-default;
        }
      }
      
      div.no {
        div.headline {
          background-color: @no-color-default;
        }
        div.rag {
          div {
            background-color: @no-color-light;
          }
        }
        .btn {
          background-color: @no-color-default;
        }
      }
        
      div.stats {
        position: relative;
        left: @gallery-item-width - 126;
        margin: 260px 0 5px;
        display: inline-block;
      }
      
      div.message-body {
        position: relative;
        display: inline-block;
        left: 40px;
        margin: 0 0 12px;
        
        div.headline {
          color: #FFFFFF;
          font-size: 1.5em;
          font-weight: 800;
          padding: 4px 8px;
          top: 340px;
          text-transform: uppercase;
          display: inline-block;
        }
        
        div.rag {
          overflow: auto;
          position: relative;
          font-size:1.5em;
          width: @gallery-item-width - 80;
          color: #FFFFFF;
          
          div {
            padding: 0 8px;
            display: inline-block;
          }
          
          div:first-child {
            padding: 6px 8px 0;
          }
          
          div:last-child {
            padding: 0 8px 6px;
          }
        }
      }
        
      div.menu {
        position: relative;
        display: inline-block;
        left: 40px;
        width: @gallery-item-width - 80;
        margin: 0 0 15px;
        
        img {
          vertical-align: middle;
        }
        
        .like {
          img {
            margin: 0 4px;
          }
        }
        
        .btn {
          padding: 5px 8px;
          color: #FFFFFF;
          border: 0;
          font-size: 1.2em;
          .rounded-corners(6px);
         
          span.divider {
            border-right: 1px solid #FFFFFF;
            margin-right: 6px;
          }
        }
        .btn:hover {
          text-decoration: none;
          background-color: #000000;
        }
      }
      
      div.join {
        position: relative;
        display: inline-block;
        left: @gallery-item-width - 310;
      }
    }
    
    div.question {
      position: absolute;
      top:0;
      left:0;
      width: @gallery-item-width;
      text-align: center;
      font-size: 1.6em;
      font-weight: 800;
      line-height: 1.25em;
      background-color: rgba(255,255,255,0.85);
      padding: 0;
      
      hr {
        margin: 10px 0;
        height: 2px;
      }
      
    }
      
    div.whatisthis {
      position: absolute;
      top: 0;
      left: 0;
      width: @gallery-item-width;
      height: @gallery-item-height;
      
      div.contents {
        position: absolute;
        top: 0;
        left: 0;
        width: @gallery-item-width;
        height: @gallery-item-height;
        overflow: none;
        
        div {
          position: absolute;
          top: 0;
          left: 0;
        }
        
        a {
          position: absolute;
          top: 10px;
          right: 10px;
        }
      }
      
      div.nav {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 10px 0 10px 10px;
        background-color: #FFFFFF;
        
        ul {
          .cozy;
          list-style: none;
          
          li {
            padding: 0;
            float: left;
            margin: 0 10px 0 0; 
          }
        }
      }
    }
    
    a.browse-all {
      position: absolute;
      width: @gallery-item-width;
      bottom: 0;
      padding: 7px 0;
      color: #4D4d4F;
      background-color: #F2F2F3;
      font-size: 1.4em;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
    }
    
    a.browse-all:hover {
      text-decoration: none;
      background-color: #E2E2E2;
    }
    
  }
  
  div.responses-outer {
    position: absolute;
    width: @gallery-item-width;
    overflow: auto;
    
    div.responses {
      position: relative;
      width: @gallery-item-width;
      background-color: #FFFFFF;
      overflow: auto;
      padding: 45px 0 0;
      
      div.top-bar {
        position: fixed;
        top: 78px;
        height: 25px;
        width: @gallery-item-width - 20;
        padding: 5px 10px;
        overflow: auto;
        z-index: 8050;
        background-color: #EEEEEE;
        
        .close-btn {
          position: absolute;
          top: 10px;
          right: 10px;
        }
      }
      
      div.response-item {
        overflow: auto;
        position: relative;
        margin: 0 0 10px;
        padding: 0 10px;
        width: @gallery-item-width - 20;
        
        div.col1 {
          width: 90px;
          float: left;
          position: relative;
          
          p {
            .cozy;
            width: 77px;
            position: absolute;
            bottom: 10px;
            left: 0;
            text-align: center;
            font-weight: 900;
            font-size: 1.3em;
            color: #FFFFFF;
          }
        }
        
        div.col2 {
          width: 325px;
          float: left; 
        }
        
        h4 {
          margin: 0 0 8px;
          padding: 5px 0;
          font-size: 1em;
          
          span {
            font-weight: 700;
          }
        }
        
        div.rag {
          position: relative;
          width: 335px;
          color: #FFFFFF;
          
          div {
            padding: 0 6px 3px;
            display: inline-block;
            clear: both;
          }
          
          div:first-child {
            padding: 6px 6px 3px;
          }
          
          div:last-child {
            padding: 0 6px 6px;
          }
          
        }
        
        a.flag {
          position: absolute;
          top: 2px;
          right: 88px;
          padding: 7px;
          color: #FFFFFF;
          border: 0;
          font-size: 1.2em;
          .rounded-corners(3px);
        }
        
        a.debate-this {
          position: absolute;
          top: 33px;
          right: 10px;
          width: 60px;
          height: 56px;
          padding: 20px 6px 0;
          line-height: 1.2em;
          color: #FFFFFF;
          font-weight: 800;
          text-align: center;
          text-transform: uppercase;
          background-image: url('/static/images/speech_bubble_yes.png');
        }
        
      }
      
      div.no {
        a.debate-this {
          background-image: url('/static/images/speech_bubble_no.png');
        }
      }
    }
    
    div.no {
      
      div.response-to {
        background-color: @no-color-extralight;
      }
      
      h4 {
        color: @no-color-light;
        border-bottom: 1px solid @no-color-light;
      }
      
      div.rag {
        div {
          background-color: @no-color-light;
        }
      }
      
      p.answer-bar {
        background-color: @no-color-light;
      }
      
      a.flag {
        background-color: @no-color-default;
      }
    }
    
    div.yes {
      
      div.response-to {
        background-color: @yes-color-extralight;
      }
      
      h4 {
        color: @yes-color-light;
        border-bottom: 1px solid @yes-color-light;
      }
      
      div.rag {
        div {
          background-color: @yes-color-light;
        }
      }
      
      p.answer-bar {
        background-color: @yes-color-light;
      }
      
      a.flag {
        background-color: @yes-color-default;
      }
    }
    
    div.browse-menu {
      position: relative;
      overflow: hidden;
      width: @gallery-item-width;
      background-color: #e6e7e8;
      
      div.sort-menu {
        text-align: center;
        padding: 8px;
        position: fixed;
        top: 78px;
        background-color: #EEEEEE;
        width: @gallery-item-width - 16;
        text-transform: uppercase;
        
        a.close-btn {
          position: absolute;
          right: 8px;
          top: 10px;
        }
        
        ul {
          .cozy;
          list-style: none;
          display: inline;
          
          li {
            list-style: none;
            display: inline;
            padding: 0 5px;
            margin: 0;
            border-right: 1px solid #999999;
            
            a.selected {
              text-decoration: underline;
            }
          }
          
          li:last-child {
            border-right: 0;
          }
        }
      }
      
      div.menu-items {
        width: 562px;
        position: relative;
        overflow: auto;
        margin-top: 46px;
        
        div.yes:hover {
          background-color: @yes-color-extralight;
        }
        
        div.no:hover {
          background-color: @no-color-extralight;
        }
        
        div.browse-menu-item {
          float: left;
          position: relative;
          width: 156px;
          height: 85px;
          margin: 0 11px 10px 0;
          padding: 10px;
          background-color: #FFFFFF;
          
          a:hover {
            text-decoration: none;
          }
          
          div {
            float: left;
          }
          
          p {
            .cozy;
          }
          
          p.answer-bar {
            position: absolute;
            left: 10px;
            bottom: 15px;
            width: 60px;
            text-align: center;
            font-weight: 800;
            color: #FFFFFF;
          }
          
          p.username {
            font-weight: 700;
            text-transform: uppercase;
          }
          
          img {
            margin: 0 5px 5px 0;
          }
        }
        
        .yes {
          
          
          color: @yes-color-light;
          
          p {
            color: @yes-color-light;
          }
        }
        
        .no {
          color: @no-color-light;
          
          p {
            color: @no-color-light;
          }
          
        }
      }
      
      div.more {
        text-align: center;
        font-size: 1.4em;
        font-weight: 800;
        padding: 5px;
        background-color: #EEEEEE;
      }
    }
    
  }
  
  div.join-outer {
  	position: absolute;
  	width: 100%;
  	background-color: #000000;
  	
  	div, h3, h4, p {
      color: #FFFFFF;
    }
  	
  	div.join-debate {
  	  position: relative;
      width: 870px;
      height: @gallery-item-height;
      margin: 0 auto;
      padding-top: 45px;
      
      div.question-header {
        margin: 0 0 50px;
        
        img {
          position: absolute;
          top: 45px;
          right: 0px;
        }
      }
      
      
      
      h3 {
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 700;
      }
      
      h4 {
        background-color: #262626;
        font-size: 1.6em;
        font-weight: 800;
        padding: 10px 20px;
      }
      
  	  div.step {
        display: none;
        
        font-weight: 700;
        font-size: 1.2em;
        
        .yes {
          background-color: @yes-color-light;
          color: #FFFFFF;
        }
        
        .no {
          background-color: @no-color-light;
          color: #FFFFFF;
        }
      }
      
      div.step-1 {
        
        button {
          width: 270px;
          height: 100px;
          margin-right: 10px;
          .rounded-corners(8px);
          border: 0;
          color: #666666;
          background-color: #FFFFFF;
          font-size: 1.4em;
          font-weight: 800;
          font-family: museo-slab;
          text-transform: uppercase;
          cursor: pointer;
          
          img {
            vertical-align: middle;
          }
        }
        
        button:last-child {
          margin-left: 10px;
        }
      }
      
      div.step-2 {
        
        button {
          .rounded-corners(8px);
          border: 0;
          font-size: 2.2em;
          font-weight: 800;
          text-transform: uppercase;
          font-family: museo-slab;
          cursor: pointer;
          height: 100px;
          padding: 0 40px;
          margin-right: 10px;
          height: 100px;
          width: 270px;
        }
        
        button:last-child {
          margin-left: 10px;
        }
      }
      
      div.step-3 {
        p {
          margin: 0 0 12px;
        }
        
        span.yes, span.no {
          .rounded-corners(6px);
          border: 0;
          width: 110px;
          height: 50px;
          font-weight: 800;
          font-size: 1.8em;
          text-transform: uppercase;
          margin-right: 10px;
          display: inline-block;
          text-align: center;
          padding: 9  px 0 0 0;
        }
        
        span.unselected {
          background-color: #636466;
        }
        
        textarea {
          width: 550px;
          height: 85px;
          background-color: #262626;
          border: 0;
          padding: 10px;
          font-size: 1.2em;
          font-family: museo-slab;
          font-weight: 700;
          color: #FFFFFF;
        }
        
        div.chars-left {
          width: 550px;
          text-align: right;
          
          p {
            color: #666666;
            font-size: 0.8em;
            font-weight: 500;
          }
        }
        
        div.buttons {
          float: right;
          margin: -70px 0 0 0;
          
          button {
            width: 150px;
            height: 50px;
            margin-right: 10px;
            .rounded-corners(8px);
            border: 0;
            color: #666666;
            background-color: #FFFFFF;
            font-size: 1.4em;
            font-weight: 800;
            font-family: museo-slab;
            text-transform: uppercase;
            cursor: pointer;
          }
        }
      }
  	}
  	
  	div.reply {
      position: relative;
      width: 870px;
      height: @gallery-item-height;
      margin: 0 auto;
      padding-top: 45px;
      
      a.close-btn {
        img {
          position: absolute;
          top: 45px;
          right: 0px;
        }
      }
      
      h4, {
        color: #FFFFFF;
        text-transform: uppercase;
        font-weight: 800;
      }
      
      h5 {
        color: #FFFFFF;
        font-weight: 700;
      }
      
      div.panel-header {
        margin: 0 0 10px;
        
        
      }
      
      button {
        .rounded-corners(5px);
        padding: 12px 0;
        width: 110px;
        border: 0;
        text-transform: uppercase;
        font-size: 1.4em;
        font-weight: 800;
        font-family: museo-slab;
        color: #FFFFFF;
        cursor: pointer;
      }
      
      div.reply-form-outer {
        color: #636466;
        font-size: 13px;
        font-weight: 700;
        
        div.reply-input-wrap {
          width: 550px;
        }
        
        textarea {
          width: 100%;
          height: 85px;
          margin: 0 0 12px;
          background-color: #262626;
          border: 0;
          color: #FFFFFF;
        }
        
        div.follow {
          p {
            margin: 0 0 5px;
          }
        }
        
        div {
          margin: 0 0 12px;
        }
        
        
        
        div.response-buttons {
          button.yes {
            background-color: @yes-color-light;
          }
          
          button.no {
            background-color: @no-color-light;
          }
          
          button.unselected {
            background-color: #646466;
          }
        }
        
        button.submit-btn {
          color: #636466;
          background-color: #FFFFFF;
          width: auto;
          padding: 12px 40px;
          margin: 20px 0 0;
        }
        
        div.chars-left {
          color: #666666;
          font-size: 0.85em;
          font-weight: 500;
          text-align: right;
          margin: -15px 0 5px;
        }
        
        textarea {
          font-size:1.2em;
        }
      }
      
      div.response-to {
        overflow: auto;
        
        h4 {
          margin: 0 0 10px;
          padding: 0 0 3px;
        }
        
        div.rag {
          position: relative;
          font-size:1.2em;
          width: 360px;
          
          span:first-child {
            padding: 6px 4px 0;
          }
          
          span:last-child {
            padding: 0 8px 4px;
          }
          
          span {
            .cozy;
            color: #FFFFFF;
            float: left;
            clear: both;
            padding: 2px 8px;
            margin-top: -5px;
          }
        }
      }
      
      div.yes {
        div.rag {
          span {
            background-color: @yes-color-light;
          }
        }
        
        div.headline {
          background-color: @yes-color-default;
        }
        
        a.goto-btn {
          background-color: @yes-color-default;
        }
      }
      
      div.no {
        div.rag {
          span {
            background-color: @no-color-light;
          }
        }
        
        div.headline {
          background-color: @no-color-default;
        }
        
        
        a.goto-btn {
          background-color: @no-color-default;
        }
      }
      
      div.stripe {
        width: @gallery-item-width;
        height: 3px;
        background-color: #666666;
        position: absolute;
        bottom: 8px;
      }
      
      div.share-view {
        h4 {
          font-size: 3em;
        }
        h4, h5 {
          font-weight: 700;
          .cozy;
          text-transform: uppercase;
        }
        
        button {
          color: #636466;
          background-color: #FFFFFF;
          width: auto;
          padding: 12px 40px;
          width: 300px;
        }
        
        div.col-2 {
          height: 96px;
          position: relative;
          
          a {
            color: #FFFFFF;
            text-decoration: underline;
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }
      }
      
    }
    
  }
  
  div.stats-outer {
    position: absolute;
    width: 100%;
    background-color: #000000;
    
    div, h1, h2, h3, h4, h5, h6, p {
      color: #FFFFFF;
    }
    
    div.stats-view {
      position: relative;
      height: @gallery-item-height;
      margin: 0 auto;
      padding-top: 45px;
      
      div.screen {
        margin-top: 30px;
      }
      
      div.stats-header {
        margin: 0 0 10px;
        position: relative;
        
        h4 {
          background-color: #262626;
          display: inline-block; 
        }
        
        a.close-btn {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
      
      ul.stats-menu {
        list-style: none;
        .cozy;
        
        li {
          .cozy;
          .rounded-corners(5px);
          float: left;
          width: 230px;
          padding: 10px 0;
          margin: 0 5px 0 0;
          color: #666666;
          background-color: #222322;
          font-weight: 700;  
          text-align: center;
          text-transform: uppercase;
        }
        
        li:last-child {
          margin: 0;
        }
        
        li.selected {
          background-color: #FFFFFF;
        }
      }
      
      h3, h4, p {
        color: #FFFFFF;
      }
      
      h3 {
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 700;
      }
      
      h4 {
        /*background-color: #262626;*/
        font-size: 1.6em;
        font-weight: 800;
        padding: 10px 20px;
      }
      
      div.num-opinions {
        overflow: auto;
        
        div.opinions-bar {
          overflow: auto;
            
          div.bar {
            position: relative;
            height: 390px;
            width: 50%;
            float: left;
            overflow: auto;
            
            img {
              position: absolute;
            }
            
            div.total-view {
              position: absolute;
              width: 100px;
              margin: 150px 0 0;
              
              p {
                .cozy;
                text-align: center;
                font-size: 3em;
                font-weight: 700;
              }
              
              p:first-child {
                border-bottom: 1px solid #FFFFFF;
                font-weight: 800;
              }
              
            }
          }
          
          div.yes-bar {
            background-color: #67b7fd;
            
            div.total-view {
              right: 66px;
            }
            
            img {
              right: 0;
            }
          }
          
          div.no-bar {
            background-color: #df681b;
            
            div.total-view {
              left: 66px;
            }
            
            img {
              left:0;
            }
          }
        }
      }
      
      div.most-debated {
        position: relative;
        
        ul {
          list-style: none;
          .cozy;
        }
          
        div.detail-view {
          position: relative;
          overflow: auto;
          width: 350px;
          height: 390px;
          margin: 0 10px 0 0;
          float: left;
          
          ul {
            li {
              position: absolute;
              height: 390px;
              overflow: hidden;
              top: 0;
              left: 0;
              background-color: #999999;
              
              
              a.goto-btn {
                .rounded-corners(5px);
                color: #FFFFFF;
                text-decoration: none;
                padding: 5px 10px;
                background-color: #666666;
                position: absolute;
                bottom: 20px;
                left: 20px;
                font-weight: 700;
              }
              
              div.body {
                position: absolute;
                top: 230px;
                left: 20px;
                
                div.headline {
                  color: #FFFFFF;
                  font-size: 1.1em;
                  font-weight: 800;
                  padding: 4px 8px;
                  top: 340px;
                  text-transform: uppercase;
                  display: inline-block;
                }
              }
              
              div.rag {
                width: 250px;
                
                span:first-child {
                  padding: 6px 8px 0;
                }
                
                span:last-child {
                  padding: 0 8px 4px;
                }
                
                span {
                  .cozy;
                  color: #FFFFFF;
                  float: left;
                  clear: both;
                  padding: 2px 8px;
                  margin-top: -5px;
                }
              }
            }
            
            li.yes {
              div.rag {
                span {
                  background-color: @yes-color-light;
                }
              }
              
              div.headline {
                background-color: @yes-color-default;
              }
              
              a.goto-btn {
                background-color: @yes-color-default;
              }
            }
            
            li.no {
              div.rag {
                span {
                  background-color: @no-color-light;
                }
              }
              
              div.headline {
                background-color: @no-color-default;
              }
              
              
              a.goto-btn {
                background-color: @no-color-default;
              }
            }
          }
        }
        
        div.menu-view {
          width: 350px;
          float: left;
          
          ul {
            li {
              .rounded-corners(5px);
              padding: 10px 0 6px 20px;
              margin: 0 0 10px;
              text-decoration: none;
              background-color: #222322;
              overflow: auto;
              cursor: pointer;
              
              div.rank {
                text-align: center;
                color: #636466;
              }
               
              p {
                .cozy;
                color: #636466;
                font-weight: 700;
              }
              
              p:last-child {
                font-size: 2em;
                font-weight: 500;
              }
              
              a.yes {
                background-color: @yes-color-light;
              }
              
              a.no {
                background-color: @no-color-light;
              }
            }
            
            li.selected-yes {
              color: #FFFFFF;
              background-color: @yes-color-light;
              
              div.rank, p {
                color: #FFFFFF;
              }
            }
            
            li.selected-no {
              color: #FFFFFF;
              background-color: @no-color-light;
              
              div.rank, p {
                color: #FFFFFF;
              }
            }
          }
        }
      }
      
      div.frequent-words {
        position: relative;
        background-color: #FFFFFF;
        padding: 20px 0 12px;
        
        div.word-row-outer {
          background-color: #f1f2f2;
          margin: 0 0 10px; 
        }
        
        div.dummy-row {
          height: 49px;
        }
        
        div.word-row {
          margin: 0 auto;
          background-color: #FFFFFF;
          
          button.word-btn {
            cursor: pointer;
            .rounded-corners(5px);
            background-color: #999999;
            color: #FFFFFF;
            padding: 10px;
            margin: 0 0 0 10px;
            font-size: 2em;
            font-weight: 700;
            font-family: museo-slab;
            border: 0;
            display: inline-block;
          }
        }
        
        div.responses-outer {
          position: relative;
        }
        
        div.response-item {
          position: relative;
          overflow: auto;
          margin: 0 0 10px;
          width: @gallery-item-width - 10;
          background-color: #f4f4f4;
          padding: 5px;
          
          h4 {
            margin: 0 0 10px;
            padding: 0 0 3px;
          }
          
          div.rag {
            position: relative;
            font-size:1.2em;
            width: 360px;
            
            span:first-child {
              padding: 6px 4px 0;
            }
            
            span:last-child {
              padding: 0 8px 4px;
            }
            
            span {
              .cozy;
              color: #FFFFFF;
              float: left;
              clear: both;
              padding: 2px 8px;
              margin-top: -5px;
            }
            
          }
          
          a.debate-this {
            position: absolute;
            right: 10px;
            top: 35px;
            width: 60px;
            height: 56px;
            padding: 20px 6px 0;
            line-height: 1.2em;
            color: #FFFFFF;
            font-weight: 800;
            text-align: center;
            text-transform: uppercase;
            background-image: url('/static/images/speech_bubble_yes.png');
          }
          
        }
        
        div.no {
          a.debate-this {
            background-image: url('/static/images/speech_bubble_no.png');
          }
        }
        
        div.no {
          
          div.response-to {
            background-color: @no-color-extralight;
          }
          
          h4 {
            color: @no-color-light;
            border-bottom: 1px solid @no-color-light;
          }
          
          div.rag {
            span {
              background-color: @no-color-light;
            }
          }
        }
        
        div.yes {
          
          div.response-to {
            background-color: @yes-color-extralight;
          }
          
          h4 {
            color: @yes-color-light;
            border-bottom: 1px solid @yes-color-light;
          }
          
          div.rag {
            span {
              background-color: @yes-color-light;
            }
          }
          
        }
      }
    }
  }
}


/* Common styles between sub pages */
body.questions, 
body.register, 
body.privacy, 
body.contact, 
body.suggest {
  
  color: #FFFFFF;
  background-color: #000000;
  
  div.login-popup {
    h4, p {
      color: #111111;
    }
  }
  
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  h1, h2, h3 {
    font-weight: 800;
  }
  
  h4, h5, h6 {
    font-weight: 700;
  }
  
  h3.page-title {
    font-size: 1.2em;
  }
  
  p {
    color: #FFFFFF;
  }
  
  div.content-container {
    padding-top: 120px;
    
    a {
      color: #0073FF;
    }
  }
}

/* Privacy Page */
body.privacy {
  
  h3, p {
    padding: 0 80px 0 80px;
    font-size: 13px;
  }
  
  hr {
    margin-left: 50px;
    width: 850px
  }
  
  hr.bottom {
    margin-top: 100px;
    margin-bottom: 30px;
  }
}

/* Suggest a question page */
body.suggest {
  
  h3, p {
    font-size: 1.2em;
    margin: 0;
  }
  
  h3 {
    padding: 0 80px 10px;
    color: #FFFFFF;
    text-transform: uppercase;
  }
  
  p {
    padding: 5px 40px;
    color: #666666;
    
    span {
      background-color: #EEEEEE;
      padding: 7px 40px;
    }
  }
  
  textarea {
    margin: 0 0 20px 40px;
    padding: 20px 40px;
    border: 0;
    font-size: 1.2em;
    width: 580px;
    height: 150px;
    display: block;
  }    
 
  select {
    .rounded-corners(8px);
    margin: 0 0 50px 40px;
    width: 275px;
    padding: 15px 25px;
    color: #666666;
    background-color: #FFFFFF;
    border: 0;
    font-style: normal;
    font-weight: 700;
    font-family:  ;
    font-size: 1.2em;
  }
 
  input {
    .rounded-corners(8px);
    margin: 0 0 0 40px;
    padding: 15px 25px;
    color: #666666;
    background-color: #FFFFFF;
    border: 0;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-family: museo-slab;
    font-size: 1.2em;

  }
  
  input:hover {
    background-color: #DDDDDD;
  }
   
}

/* Question archive */
body.questions-archive {
  
  table.archive-table {
    margin-top: 10px;
    
    tr {
      border-bottom: 1px solid #000000;
    }  
    
    tr:last-child {
      border-bottom: none;
    }
    
    th, td {
      text-align: center;
      border-bottom: 1px solid #CCCCCC;
    }
    
    td {
      padding: 10px;
    }
    
    th {
      font-size: 1.2em;
      font-weight: 700;
      border-bottom: none;
      color: #FFFFFF;
      text-transform: uppercase;
      background-color: #4d4d4f;
    }
    
    td {
      color: #4d4d4f;
    }
    
    td.left {
      text-align: left;
    }
    
    td:nth-child(odd) {
      background-color: #EEEEEE;
    }
    
    td:nth-child(even) {
      background-color: #FFFFFF;
    }
    
  }
   
}

/* Contact page */
body.contact {
  
  h3 {
    text-transform: uppercase;
  }
  
  input {
    border: 0;
    color: #666666;
    margin: 0;
    padding: 8px 4px;
  }
  
  input.half {
    width: 200px;
    margin-right: 10px;
    
  }
  
  input.full {
    width: 410px;
  }
  
  h1, h2, h3, p {
    color: #FFFFFF;
  }
  
  hr {
    margin: 15px 0;
  }
  
  div.form-row {
    margin: 0 0 15px 0;
    overflow: auto;
  }
  
  div.label {
    text-align: right;
    padding: 8px 5px 0 0;
  }
  
  select {
    .rounded-corners(4px);
    margin-right: 200px;
    color: #666666;
    background-color: #FFFFFF;
    border: 0;
    font-style: normal;
    font-weight: 700;
    font-family: museo-slab;
    font-size: 1.4em;
  }
  
  textarea {
    width: 410px;
    height: 200px;
    font-size: 1.2em;
  }
  
  input.active {
    color: #000000;
  }
}

/* Profile page */
body.profile {
  
  h3 {
    text-transform: uppercase;
  }
  
  p, h1, h2, h3, h4, h5 {
    color: #FFFFFF;
  }
  
  div.left-col {
    margin: 47px 0 0;
  }
  
  img.profile-image {
    margin: 0 0 10px;
  }
  
  div.content-outer {
    background-color: #000000;
    padding-top: 100px;
  }
  
  div.profile-username {
    background-image: url('/static/images/profile-username-bg.png');
    text-transform: uppercase;
    color: #333333;
    text-align: center;
    width: 150px;
    padding: 6px 0;
    margin: 0 0 20px;
  }
  
  a.profile-btn {
    background-image: url('/static/images/profile-btn.png');
    display: block;
    width: 150px;
    padding: 6px 0;
    margin: 0;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 20px;
  }
    
  div.panel {
    
    background-color: #FFFFFF;
    color: #666666;
    overflow: auto;
    padding: 0;
    
    div.panel-title {
      background-color: #e6e7e8;
      padding: 13px 0 13px 30px;
      
      h4 { 
        .cozy;
        color: #666666;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
    
    div.panel-content {
      padding: 10px 0 10px 30px;
    }
    
    h2, h3, h4 {
      color: #666666;
    }
    
    p {
      color: #666666;
      .cozy;
    }
    
    p.no-results {
      padding: 0 0 300px;
    }
    
    p.meta {
      margin: 0 0 20px;
    }
    
  }
  
}

body.profile-index {
  
  ul.util-nav {
    .cozy;
    list-style: none;
    margin: 0 0 10px;
    
    li {
      display: inline;
      margin: 0 0 5px;
      
      a {
        .rounded-corners(5px);
        padding: 8px 20px;
        background-color: #FFFFFF;
        text-transform: uppercase;
        display: inline-block;
        font-size: 1.2em;
        font-weight: 700;
      }
    }
    
    li {
      a.selected {
        background-color: #DDDDDD;
      }
    }
  }
}

body.profile-edit {
  
  div.edit-profile {
    form {
      overflow: auto;
    }
    
    p {
      margin: 0 0 12px;
    }
    
    div.form-item {
      
    }
    
    button {
      position: relative;
      right: 0;
    }
    
    input {
      margin: 0;
    }
    
    input[type=password] {
      width: 270px;
      margin: 0 0 40px;
    }
    
    input[type=text] {
      width: 340px;
    }
    
    input[type=text], input[type=password] {
      font-size: 1.4em;
      padding: 10px;
      background-color: #e7e7e8;
      border: 0;
    }
    
    input.small {
      width: 75px;
      font-size: 1em;
      padding: 5px;
      background-color: #c7c8ca;
    }
    
    input.phone3 {
      width: 70px;
      margin-right: 4px;
    }
    
    label {
      font-weight: 700;
      font-size: 1.2em;
      text-transform: uppercase;
    }
    
    input.phone4 {
      width: 110px;
    }
    
    div.save {
      text-align: right;
    }
    
    button {
      .rounded-corners(5px);
      background-color: #636466;
      border: 0;
      color: #FFFFFF;
      
    }
    
    button.save-btn {
      font-weight: 800;
      font-size: 1.3em;
      padding: 15px 50px;
      margin: 28px 0 60px;
    }
    
    button.small {
      font-weight: 800;
      font-size: 1em;
      padding: 10px 0;
      line-height: 1em;
    }
    
    div.verify-code {
      background-color: #EEEEEE;
      overflow: auto;
      padding: 5px;
      margin-bottom: 16px;
    }
    
    .verify-msg {
      .cozy;
      font-weight: 700;
    }
  }
}

body.register {
  
  div.content-inner {
  
    input[type=text], input[type=password] {
      padding: 15px;
      font-size: 1.4em;
      color: #DDDDDD;
      background-color: #262626;
      border: 0;
      margin: 0 5px 0 0;
    }
    
    input.username {
      width: 100%;
      padding: 20px;
      font-size: 3em;
    }
    
    div.form-item {
      overflow: hidden;
      margin: 0 0 20px;
      
      p {
        color: #666666;
      }
      
      p.note {
        .cozy;
      }
      
      label {
        color: #FFFFFF;
        font-weight: 700; 
      }
    }
    
    input.phone3 {
      width: 70px;
    }
    
    input.phone4 {
      width: 110px;
    }
    
    div.verify-code {
      padding: 10px;
      background-color: #FFFFFF;
      color: #666666;
      
      button {
        background-color: #666666;
        color: #FFFFFF;
        width: 70px;
        height: 30px;
        font-size: 1em;
      }
      
      input {
        width: 70px;
        background-color: #c7c8ca;
        padding: 8px;
        color: #000000;
        font-size: 1em;
      }
    }
    
    button {
      width: 150px;
      height: 50px;
      .rounded-corners(4px);
      color: #666666;
      font-size: 1.2em;
      text-transform: uppercase;
      border: 0;
      background-color: #FFFFFF;
      font-family: museo-slab;
      font-weight: 800;
    }
    
    div.finish {
      text-align: right;
      margin: 0 0 50px;
    }
  }
}

input[type=submit], button[type=submit] {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #FFFFFF;
  color: #666666;
  text-transform: uppercase;
  cursor: pointer;
  font-family: museo-slab;
}

input[type=submit]:hover, button[type=submit]:hover {
  background-color: #EEEEEE;
}

input[type=submit].large, button[type=submit].large {
  width: 200px;
  height: 40px;
  font-weight: 800;
  font-size: 1.4em;
  .rounded-corners(6px);
}

input[type=submit].small, button[type=submit].small {
  width: 100px;
  height: 35px;
  font-weight: 800;
  font-size: 1.2em;
  .rounded-corners(4px);
}

input[type=submit].gray, button[type=submit].gray {
  background-color: #f1f1f1;
  color: #4d4d4f;
}

input[type=submit].gray:hover, button[type=submit].gray:hover {
  background-color: #DDDDDD;
}



