
@yes-color-default: #3c74fc;
@yes-color-light: #67b7fd;
@yes-color-dark: #244055;

@no-color-default: #ff3c00;
@no-color-light: #ff5a00;
@no-color-dark: #5e1900;

@blue-medium: #00B9FF;
@orange-medium: #FF5A00;

@gallery-item-width: 550px;
@gallery-item-height: 648px;

img.typekit-badge {
  display: none !important;
}

.gallery-item {
  width: @gallery-item-width;
  height: @gallery-item-height;
}

html, body, div.content-outer {
  height: 100%;
}

div.content-outer {
  height: auto;
  min-height: 100%;
}

div.content-inner {
  position: relative;
  padding: 75px 0 50px;
  overflow: auto;
}

.shadowed {
  box-shadow: 3px 3px 7px #000000;
  -moz-box-shadow: 3px 3px 7px #000000;
  -webkit-box-shadow: 3px 3px 7px #000000;
}

.cozy {
  margin: 0;
  padding: 0;
}

.fullscreen {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.auto-center {
  position: relative;
  width: 940px;
  margin: 0 auto;
  overflow: auto;
  text-align: center;
}

.white-on-black {
  color: #FFFFFF;
  background-color: #000000;
}

h1.logo {
  
}

div.popup-outer {
  .fullscreen;
  position: fixed;
  display: none;
  z-index: 9000;
  
  div.popup-inner {
    .shadowed;
    position: relative;
    z-index: 9001;
    margin: 0 auto;
    width: 500px;
    
    div.login-popup {
      padding: 20px;
      background-color: #CCCCCC;
      
      div.error-msg {
        margin: 0 0 5px;
        display: none;
        color: #CC0000;
      }
    }
    
    div.photo-booth {
      background-color: #CCCCCC;
      height: 500px;
    }
    
    div.reply-popup {
      background-color: #CCCCCC;
      height: 300px;
      
      div.step {
        display: none;
      }
      div.step-1 {
        display: block;
      }
    }
  }
  
  div.popup-mask {
    .fullscreen;
    position: absolute;
    background-color: #000000;
    opacity: 0.75;
    z-index: -1;
  }
}

div.header {
  .white-on-black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  
  div.title-bar {
    .cozy;
    width: 800px;
    line-height: 0;
    margin: 0 auto;
    overflow: auto;
    
    h1 {
      margin: 10px 220px 0;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.4em;
      font-weight: 800;
      float: left;
    }
    
    img {
      vertical-align: middle;
      float: left;
    }
  }
  
  div.nav {
    .auto-center; 
    padding: 10px 0;
    background-color: #FFFFFF;
    width: 100%;
    
    div {
      display: inline;
    }
    
    div.col2 {
      margin: 0 190px 0 230px;
      text-transform: uppercase;
      font-weight: 800;
    }
    
    div.col3 {
      span.divider {
        border-right: 1px solid #000000;
        padding-left: 2px;
        margin-right: 5px;
      }
    }
  }
}

div.footer {
  clear: both;
  position: relative;
  height: 40px;
  padding-top: 10px;
  margin-top: -50px;
  background-color: #FFFFFF;
  
  div.inner {
    .auto-center;
    
    div.share {
      text-align: left;
    }
    
    div.util {
      text-align: right;
      ul {
        .cozy;
        li {
          .cozy;
          display: inline;
          list-style: none;
          margin-left: 12px;
        }
      }
    }
  }
}

/* Home Page */
body.home-index {
  
  div.debates-gallery {
    height: 650px;
    overflow: hidden;
    
    div.gallery-container {
      position: relative;
      height: 650px;
      
      ul.debates {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
          .gallery-item;
          position: absolute;
          background-color: #ccc;
          
          a {
            .gallery-item;
          }
          
          div {
            position: absolute;  
          }
        }
        
        li.selected {
          a.hit-area {
            display: none;
          }
          
          div.content-container {
            display: block;
          }
        }
        
        li.unselected {
          a.hit-area {
            display: block;
          }
          
          div.content-container {
            display: none;
          }
        }
      }
    }
    
    div.detail {
      .gallery-item;
      position: absolute;
      top: 0;
      
      div.detail-inner {
        div.yes {
          div.headline {
            background-color: @yes-color-default;
          }
          div.rag {
            span {
              background-color: @yes-color-light;
            }
          }
          .btn {
            background-color: @yes-color-default;
          }
        }
        
        div.no {
          div.headline {
            background-color: @no-color-default;
          }
          div.rag {
            span {
              background-color: @no-color-light;
            }
          }
          .btn {
            background-color: @no-color-default;
          }
        }
        
        div.body {
          position: relative;
          top: 340px;
          left: 40px;
          
          div.headline {
            color: #FFFFFF;
            font-size: 1.5em;
            font-weight: 800;
            padding: 4px 8px;
            top: 340px;
            text-transform: uppercase;
            display: inline-block;
          }
          
          div.rag {
            position: relative;
            top: 380px
            width: 100%;
            font-size:1.5em;
            overflow: auto;
            
            span:first-child {
              padding: 8px 8px 0;
            }
            
            span:last-child {
              padding: 0 8px 4px;
            }
            
            span {
              .cozy;
              color: #FFFFFF;
              display: inline-block;
              padding: 2px 8px;
              margin-top: -5px;
            }
          }
        }
        
        div.menu {
          position: relative;
          left: 40px;
          width: 440px;
          top: 360px;
          
          img {
            vertical-align: middle;
          }
          
          .like {
            img {
              margin: 0 4px;
            }
          }
          
          .btn {
            padding: 5px 8px;
            color: #FFFFFF;
            border: 0;
            font-size: 1.2em;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px; /* future proofing */
           
            span.divider {
              border-right: 1px solid #FFFFFF;
              margin-right: 6px;
            }
          }
        }
        
        div.join {
          position: relative;
          display: inline-block;
          left: 250px;
          top: 380px;
        }
      }
    }
    
    div.question {
      position: absolute;
      top:0;
      left:0;
      width: @gallery-item-width - 40;
      text-align: center;
      font-size: 1.4em;
      font-weight: 800;
      line-height: 1.25em;
      background-color: rgba(255,255,255,0.85);
      padding: 0 20px;
      
      hr {
        margin: 15px 0;
        height: 3px;
      }
      
      hr.top {
        background-color: @blue-medium;
      }
      
      hr.bottom {
        background-color: @orange-medium
      }
    }
      
    a.browse-all {
      position: absolute;
      width: @gallery-item-width;
      bottom: 0;
      padding: 7px 0;
      color: #4D4d4F;
      background-color: #F2F2F3;
      font-size: 1.4em;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
    }
  }
  
  div.responses-outer {
    position: absolute;
    top:75px;
    
    div.responses {
      position: relative;
      width: @gallery-item-width;
      background-color: #DDDDDD;
    }
  }
}

/* Privacy Page */
body.privacy {
  
  div.content-outer {
    background-color: #000000;
  }
  
  div.container {
    padding: 50px 0;
    
    h3, p {
      color: #FFFFFF;
      padding: 0 80px 0 80px;
      font-size: 13px;
    }
    
    hr {
      margin-left: 50px;
      width: 850px
    }
    
    hr.top {
      background-color: @blue-medium;
    }
    
    hr.bottom {
      margin-top: 100px;
      margin-bottom: 30px;
      background-color: @orange-medium;
    }
  
    a {
      color: #0073FF
    }
  }
}
