{% if facebook_app_id %}
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
var params = {
  appId: '{{ facebook_app_id }}',
  xfbml: true
};
FB.init(params);
</script>{% endif %}
<div class="footer">
  <div class="container">
    <div class="share span-23">
      <div><img class="share-icon" src="{{ media_root }}/images/share_icon.jpg"/></div>
      <div class="like-btn"><fb:like href="" send="false" layout="button_count" show_faces="false" action="like" font=""></fb:like></div>
      <div class="tweet-btn"><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a></div>
      <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>
    <div class="util span-24">
      <ul class="nav">
        <li><a href="/suggest">Suggest a Question</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>
        <li><a href="/contact">Contact Us</a></li>
        {% if current_user.isAdmin %}
        <li><a href="/admin">Admin</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>