<div class="footer">
  <div class="inner">
    <div class="share span-23">
      <img src="/static/images/share_icon.jpg"/>
      <fb:like href="" send="false" layout="button_count" show_faces="false" action="like" font=""></fb:like>
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>
    <div class="util span-24">
      <ul class="nav">
        <li><a href="javascript:tools.notImplemented()">Suggest a Question</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>