<div id="reg-overlay" class="overlay">
      
         <div class="header">
            <span class="close">x</span>
         </div>
         
         <div class="body">
          
            <div class="prompt-auth">
              <div class="textwrap">
                   
                   <div class="big">Great!</div>
                   Please Log in or sign up via Facebook, Twitter or your debate wall account.
                   
                   <br /><br />
                   <div class="sbtn fb">
                     <div class="logo"><img src="css/mobile/images/facebook.png" border="0" /></div>
                     <div class="text">Sign in with Facebook</div>
                   </div>
                   
                   <p>OR</p>
                   
                   <div class="sbtn tw">
                     <div class="logo"><img src="css/mobile/images/twitter.png" border="0" /></div>
                     <div class="text">Sign in with Twitter</div>
                     <div class="clearb"></div>
                   </div>
                   
                   <p>OR</p>
                   
                  <div id="login_or_signup_form">
                   <div class="error-msg"></div>
                   <div class="cozy username"><input name="email" type="text"  title="EMAIL ADDRESS"></div>
                   <div class="cozy password"><input name="password" type="password" class="text password defaulttext" title="PASSWORD"></div>
                    <div class="submit"><span class="btn">register/rign in</span></div>
                  </div>
                   
                   <!--form action="/register/email" method="POST" class="login-form register-form" id="login_or_signup_form">                    
                    <div class="error-msg"></div>
                    <input type="hidden" name="modal" value="true">
                    <div class="cozy username"><input name="email" type="text" class="text username defaulttext" title="EMAIL ADDRESS"></div>
                    <div class="cozy password"><input name="password" type="password" class="text password defaulttext" title="PASSWORD"></div>
                    <div class="submit"><span class="btn">register/rign in</span></div>
                   </form-->
      
                   
              </div>
            </div>
            
         </div>
         
         
         
         <div class="footer"></div>
         
      </div>