<% console.log(main) %>
      <!-- DISCUSSION -->
      <div class="discussion">
         
         <div class="btn-wrap">
           <div class="yes btn notselect">yes!</div>
           <div class="no btn notselect">no!</div>
         </div>
       
         
           <!-- selected module -->
          <div class="selected">
             <div class="yes number">
             <h1 class="one"><span><%- main.stats.data.debateTotals.yes %> Aggree</span></h1>
             </div>
             <div class="no number">
             <h1 class="one"><span><%- main.stats.data.debateTotals.no %> Disagree</span></h1>             
             </div>
             
             <div class="clearb"></div>
             
             
          </div>
          
          <div class="debates answar">             
             <div id="feedsform">
               <div class="text">You say <span class="yourvote"></span></div>
               <input type="text" name="opinion" value="Leave a comment..."/>
               <div class="reply"><span class="btn">Reply</span></div>
             </div>
          </div>
         
          
         
          <!-- debate module -->
          <div class="debate total">
            <div class="top">number of opinions</div>
            
            <div class="content">
              <div class="aggree textblue"><%- main.stats.data.debateTotals.yes %> Aggree</div>
              <div class="disagree textorange"><%- main.stats.data.debateTotals.no %> Disagree</div>
              <div class="line"></div>
              <div class="clearb"></div>
              <div class="btn"><a href="stats.html#/questions/<%- main.stats.data.question.id %>/stats">SEE DEBATE STATISTICS</a></div>              
            </div>
            
          </div>
        <!-- debate module -->
        
      </div>
    <!-- DISCUSSION -->
 
      <div class="debates top">
       
<%
   var dentry = main.stats.data.mostDebatedOpinions[0],
       dself  = dentry.firstPost,
       isResponse   = (dentry.responseTo) ? "true" :  "false",
       vote = CDW.utils.misc.yesNo(dself.yesNo),
       responseTo = (dentry.responseTo) ? "@"+dentry.responseTo : "";
%>

        <!-- debate module -->
          
          <div class="debate <%- vote %>" data-did="<%- dentry.id %>" data-isresponse="<%- isResponse %>">
            <div class="top <%- vote %>"><a href="stats.html#/questions/<%= main.current.data.id %>/stats">#1 Debated  |  <%- dentry.commentCount %> Responses</a></div>
            
            <div class="content">            
              
              <div class="user">
                <div class="pic <%- vote %>">
                  <div class="w"><img src="http://civildebatewall.s3.amazonaws.com<%- dself.author.webImages.large %>" border="0" /></div>
                </div>
                
                <div class="opinion  <%- vote %>">
                  <%- dself.author.username %> says <span class="yesno"><%- vote %>!</span>
                  <div class="date"><%- CDW.utils.misc.daysDifference(dself.created) %></div>
                </div>
                
                
              </div>
              
              <div class="text">
              
                <div class="desc">"<%- responseTo %><%- dself.text %>"</div>
              
                <div class="likes"><span class="star"></span></div>
              
                 <div class="reply"><span class="btn">Reply</span></div>
              
              </div>
              
              
              <div class="clearb"></div>
              
            </div>
            
          </div>
        <!-- debate module -->
        
<%
   var lentry = main.stats.data.mostLikedOpinions[0],
       lself  = lentry.firstPost,
       lisResponse   = (dentry.responseTo) ? "true" :  "false",
       lvote = CDW.utils.misc.yesNo(lself.yesNo),
       lresponseTo = (lentry.responseTo) ? "@"+lentry.responseTo : "";
%>

           <!-- debate module -->
          
          <div class="debate <%- lvote %>" data-did="<%-lentry.id %>" data-isresponse="<%- lisResponse %>">
            <div class="top <%- vote %>"><a href="stats.html#/questions/<%= main.current.data.id %>/stats">#1 Favorited  |  <%- lentry.commentCount %> Responses</a></div>
            
            <div class="content">            
              
              <div class="user">
                <div class="pic  <%- lvote %>">
                  <div class="w"><img src="http://civildebatewall.s3.amazonaws.com<%- dself.author.webImages.large %>" border="0" /></div>
                </div>
                
                <div class="opinion  <%- lvote %>">
                  <%- lself.author.username %> says <span class="yesno"><%- lvote %>!</span>
                  <div class="date"><%- CDW.utils.misc.daysDifference(lself.created) %></div>
                </div>
                
                
              </div>
              
              <div class="text">
              
                <div class="desc">"<%- lresponseTo %><%- lself.text %>"</div>
              
                <div class="likes"><span class="star"></span></div>
              
                 <div class="reply"><span class="btn">Reply</span></div>
              
              </div>
              
              
              <div class="clearb"></div>
              
            </div>
            
          </div>
        <!-- debate module -->
        
        
      </div>
      
      
      <div class="debates bottom">
          
          <% for (var index = 0; index < main.debates.data.length; index++){ 
           var entry = main.debates.data[index].firstPost,
               vote  = CDW.utils.misc.yesNo(entry.yesNo),
               responseTo = (entry.responseTo) ? "@"+entry.responseTo : "",
               isResponse   = (entry.responseTo) ? "true" :  "false",
               name = entry.author.username,
               tname = name.toTitleCase();
         
          %>
         
         <!-- debate module -->
          <div class="debate <%- vote %>" data-did="<%- main.debates.data[index].id %>" data-isresponse="<%- isResponse %>">
           
            <div class="content">            
              
              <div class="user">
                 <div class="pic <%- vote %>">
                  <div class="w" data-img="http://civildebatewall.s3.amazonaws.com<%- entry.author.webImages.large %>"><img src="http://civildebatewall.s3.amazonaws.com<%- entry.author.webImages.thumb %>" border="0" /></div>
                </div>
                
                <div class="opinion <%- vote %>">
                  <%- tname %> says <span class="yesno"><%- vote %>!</span>
                  <div class="date"><%- CDW.utils.misc.daysDifference(entry.created) %></div>
                </div>
                
                
              </div>
              
              <div class="text">
              
                <div class="desc">"<span class="responseto"><%- responseTo %></span><%- entry.text %>"</div>
              
                <div class="likes"><span class="star"></span></div>
              
                 <div class="reply">                 
                 <span class="btn">Reply</span>
                 <div class="clearb"></div>
                 </div>
                 
              </div>
              
              
              <div class="clearb"></div>
              
            </div>
            
          </div>
        <!-- debate module -->
        <% } %>
        
        <!--div class="seemore">
          
          <span class="btn">LOAD MORE</span>
          <div class="loader"></div>
          <span class="btn">PAST DEBATES</span>
          
        </div-->
        
     