
      <!-- DISCUSSION -->
      <div class="discussion">
         
         <div class="btn-wrap">
           <div class="yes btn notselect">yes!</div>
           <div class="no btn notselect">no!</div>
         </div>
       
         
           <!-- selected module -->
          <div class="selected">
             <div class="yes number">
             <h1 class="one"><span>12 Aggree</span></h1>
             </div>
             <div class="no number">
             <h1 class="one"><span>4 Disagree</span></h1>             
             </div>
             
             <div class="clearb"></div>
             
             
          </div>
          
          <div class="debates answar">             
             <div id="feedsform">
               <div class="text">You say <span class="yourvote"></span></div>
               <input type="text" name="opinion" value="Leave a comment..."/>
               <div class="reply"><span class="btn">Reply</span></div>
             </div>
          </div>
         
          
         
          <!-- debate module -->
          <div class="debate total">
            <div class="top">number of opinions</div>
            
            <div class="content">
              <div class="aggree textblue">12 Aggree</div>
              <div class="disagree textorange">4 Disagree</div>
              <div class="line"></div>
              <div class="clearb"></div>
              <div class="btn">SEE DEBATE STATISTICS</div>              
            </div>
            
          </div>
        <!-- debate module -->
        
      </div>
    <!-- DISCUSSION -->
 
      <div class="debates top">
       
        <!-- debate module -->
          <div class="debate">
            <div class="top blue">#1 Debated  |  22 Responses</div>
            
            <div class="content">            
              
              <div class="user">
                <div class="pic blue">
                  <div class="w"><img src="http://civildebatewall.s3.amazonaws.com/media/images/web/508553c8106dfe1075000020.jpg" border="0" /></div>
                </div>
                
                <div class="opinion">
                  Paul says <span class="yesno">yes!</span>
                  <div class="date">2d</div>
                </div>
                
                
              </div>
              
              <div class="text">
              
                <div class="desc">"Come on, why are we even debating this. What are you going to do - make them be homeless?"</div>
              
                <div class="likes"><span class="star"></span></div>
              
                 <div class="reply"><span class="btn">Reply</span></div>
              
              </div>
              
              
              <div class="clearb"></div>
              
            </div>
            
          </div>
        <!-- debate module -->
        
        
         <!-- debate module -->
          <div class="debate">
            <div class="top orange">#1 Favorited  |  44 Favorited</div>
            
            <div class="content">            
              
              <div class="user">
                <div class="pic blue">
                  <div class="w" data-img="http://civildebatewall.s3.amazonaws.com/media/images/web/508553c8106dfe1075000020.jpg"><img src="http://civildebatewall.s3.amazonaws.com/media/images/web/508553c8106dfe1075000020.jpg" border="0" /></div>
                </div>
                
                <div class="opinion">
                  Paul says <span class="yesno">yes!</span>
                  <div class="date">2d</div>
                </div>
                
                
              </div>
              
              <div class="text">
              
                <div class="desc">"Come on, why are we even debating this. What are you going to do - make them be homeless?"</div>
              
                <div class="likes"><span class="star"></span></div>
              
                 <div class="reply"><span class="btn">Reply</span></div>
              
              </div>
              
              
              <div class="clearb"></div>
              
            </div>
            
          </div>
        <!-- debate module -->
        
        
      </div>
      
      
      <div class="debates bottom">
          
          <% for (var index = 0; index < main.debates.data.length; index++){ 
           var entry = main.debates.data[index].firstPost,
               vote  = CDW.utils.misc.yesNo(entry.yesNo),
               responseTo = (entry.responseTo) ? "@"+entry.responseTo : "",
               isResponse   = (entry.responseTo) ? "true" :  "false",
               name = entry.author.username,
               tname = name.toTitleCase();
         
          %>
         
         <!-- debate module -->
          <div class="debate <%- vote %>" data-did="<%- main.debates.data[index].id %>" data-isresponse="<%- isResponse %>">
           
            <div class="content">            
              
              <div class="user">
                 <div class="pic <%- vote %>">
                  <div class="w" data-img="http://civildebatewall.s3.amazonaws.com<%- entry.author.webImages.large %>"><img src="http://civildebatewall.s3.amazonaws.com<%- entry.author.webImages.thumb %>" border="0" /></div>
                </div>
                
                <div class="opinion <%- vote %>">
                  <%- tname %> says <span class="yesno"><%- vote %>!</span>
                  <div class="date"><%- CDW.utils.misc.daysDifference(entry.created) %></div>
                </div>
                
                
              </div>
              
              <div class="text">
              
                <div class="desc">"<span class="responseto"><%- responseTo %></span><%- entry.text %>"</div>
              
                <div class="likes"><span class="star"></span></div>
              
                 <div class="reply">                 
                 <span class="btn">Reply</span>
                 <div class="clearb"></div>
                 </div>
                 
              </div>
              
              
              <div class="clearb"></div>
              
            </div>
            
          </div>
        <!-- debate module -->
        <% } %>
        
        <!--div class="seemore">
          
          <span class="btn">LOAD MORE</span>
          <div class="loader"></div>
          <span class="btn">PAST DEBATES</span>
          
        </div-->
        
     