errorlog: %(site_dir)s/var/log/smserror.log
pidfile: %(site_dir)s/var/run/smsqueue.pid
beanstalk_host: %(beanstalk_host)s
beanstalk_port: %(beanstalk_port)s
tube_name: %(smsqueue_tube_name)s
purge_on_startup: %(smsqueue_purge_on_startup)s