<!doctype html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/">
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{% block meta_description %}description{% endblock %}">
  <meta name="author" content="{% block meta_author %}author{% endblock %}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block page_title %}Page Title{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
  <script type="text/javascript" src="http://use.typekit.com/oth3eox.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  {% block javascripts %}{% endblock %}
</head>
<body class="{{ section_selector }} {{ section_selector }}-{{ page_selector }}">
  {% block layout %}Layout{% endblock %}
  {% block common_scripts %}{% endblock %}
  {% block page_scripts %}{% endblock %}
  {% block vendor_scripts %}{% endblock %}
</body>
</html>
