{% extends "/layouts/boilerplate.html" %}

{% block layout %}
<div class="popup-outer">
  <div class="popup-inner"></div>
  <div class="popup-mask"></div>
</div>

<div class="content-outer">
  
  <div class="content-inner">

    {% include "/partials/header.html" %}
    
    {% with messages = get_flashed_messages(with_categories=true) %}
	  {% if messages %}
	    <div class="flashes">
	    {% for category, message in messages %}
	      <div class="flash {{ category }}">{{ message }}</div>
	    {% endfor %}
	    </div>
	  {% endif %}
	{% endwith %}
          
    {% block content %}Content{% endblock %}
  
  </div>
  
</div>

{% include "/partials/footer.html" %}

{% endblock %}

{% block common_scripts %}
  
  {% assets "js_common" %}
  <script defer type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
   
  <script type="text/template" id="login-popup-template">
    <a href="#" class="close-popup-btn">Close</a>
    <h3>Sign In or Register</h3>
    <form action="{{ url_for('social.login', provider_id='facebook') }}" id='facebook_login_form' method="POST">
      <input type="submit" name="login_facebook" value="Login Facebook" />
    </form>
    <h4>Or with your email</h4>
    <div class="error-msg"></div>
    <form action="/signin" method="POST" class="login-form" id="login_or_signup_form">
      <input name="modal" type="hidden" value="true"/>
      <p class="username">Email:<br/><input name="username" type="text" class="text"/></p>
      <p class="password">Password:<br/><input name="password" type="password" class="text"/></p>
      <p class="submit"><button type="submit">Register/Sign In</button></p>
    </form>
    <p><a href="/forgot">Forgot my password</a></p>
  </script>
  
  <script type="text/template" id="photo-booth-template">
    <div id="photo-booth-flash">You need Adobe Flash Player to take your profile picture with a webcam</div>
  </script>
{% endblock %}