<!-- debate module -->
          <div class="debate">
           
            <div class="content">            
              
              <div class="user">
                 <div class="pic blue">
                  <div class="w" data-img="http://civildebatewall.s3.amazonaws.com<%- entry.author.webImages.large %>"><img src="http://civildebatewall.s3.amazonaws.com<%- entry.author.webImages.thumb %>" border="0" /></div>
                </div>
                
                <div class="opinion">
                  <%- entry.author.username %> says <div class="yesno"><%- vote %></div>
                  <div class="date"><%- entry.created %></div>
                </div>
                
                
              </div>
              
              <div class="text">
              
                <div class="desc">"<%- entry.text %>"</div>
              
                <div class="likes"><span class="star"></span></div>
              
                 <div class="reply"><span class="btn">Reply</span></div>
              
              </div>
              
              
              <div class="clearb"></div>
              
            </div>
            
          </div>
<!-- debate module -->

        