<!-- debate module -->
          <div class="debate no self" data-did="ddddddd" data-isresponse="no">
           
            <div class="content">            
              
              <div class="user">
                 <div class="pic <%- vote %>">
                  <div class="w">
                  
                  
                  <img src="http://civildebatewall.s3.amazonaws.com/media/images/web/508554d6106dfe107400002c.jpg" border="0" />
                  
                  </div>
                </div>
                
                <div class="opinion no">
                  yufang says <span class="yesno">no!</span>
                  <div class="date">2d</div>
                </div>
                
                
              </div>
              
              <div class="text">
              
                <div class="desc">"<span class="responseto">ssss</span>ddddddd"</div>
              
                <div class="likes"><span class="star"></span><span class="count">2</span></div>
              
                 <div class="reply">                 
                 <span class="btn">Reply</span>
                 <div class="clearb"></div>
                 </div>
                 
              </div>
              
              
              <div class="clearb"></div>
              
            </div>
            
          </div>
<!-- debate module -->