<%
        
         var   vote  = CDW.utils.misc.yesNo(entry.yesNo),
               isResponse   = (entry.threadAuthor.username !== entry.author.username) ? true :  false,
               responseTo = (!isResponse) ? "": "@"+entry.threadAuthor.username + " ",                
               name = entry.author.username,
               tname = name.toTitleCase();
%>

<!-- debate module -->
          
          <div class="debate <%- vote %> self" data-thread="<%- entry.thread %>" data-isresponse="<%- isResponse %>" data-postid="<%- entry.id %>">
           
            <div class="content">             
              <div class="user">
                 <div class="pic <%- vote %>">
                  <div class="w" data-img="http://civildebatewall.s3.amazonaws.com<%- entry.author.webImages.large %>">
                  
                  <!--img src="http://civildebatewall.s3.amazonaws.com<%- entry.author.webImages.thumb %>" border="0" /-->
                  <img src="http://civildebatewall.s3.amazonaws.com/media/images/web/508554d6106dfe107400002c.jpg" border="0" />
                  
                  </div>
                </div>
                
                <div class="opinion <%- vote %>">
                  <%- tname %> says <span class="yesno"><%- vote %>!</span>
                  <div class="date"><%- CDW.utils.misc.daysDifference(entry.created) %></div>
                </div>
                
                
              </div>
              
              <div class="text">
              
                <div class="desc">"<span class="responseto"><%- responseTo %></span><%- entry.text %>"</div>
              
                <div class="likes"><span class="star"></span><span class="count"><%- entry.likes%></span></div>
              
                 <div class="reply">                 
                 <span class="btn">Reply</span>
                 <div class="clearb"></div>
                 </div>
                 
              </div>
              
              
              <div class="clearb"></div>
              
            </div>
            
          </div>
        <!-- debate module -->