
<%
        
         var   vote  = CDW.utils.misc.yesNo(entry.yesNo),
               responseTo = (entry.responseTo) ? "@"+entry.responseTo : "",
               isResponse   = (entry.responseTo) ? "true" :  "false",
               name = entry.firstPost.author.username,
               tname = name.toTitleCase();
               console.log(entry);
               
%>

<!-- debate module -->
          <div class="debate <%- vote %> self" data-thread="<%- entry.firstPost.thread %>" data-isresponse="<%- isResponse %>" data-postid="<%- entry.firstPost.id %>">
            
            <div class="content">            
              
              <div class="user">
                 <div class="pic <%- vote %>">
                  <div class="w" data-img="http://civildebatewall.s3.amazonaws.com<%- entry.firstPost.author.webImages.large %>">
                  
                  <img src="http://civildebatewall.s3.amazonaws.com<%- entry.firstPost.author.webImages.large %>" border="0" >
                  
                  </div>
                </div>
                
                <div class="opinion <%- vote %>">
                  <%- tname %> says <span class="yesno"><%- vote %>!</span>
                  <div class="date"><%- CDW.utils.misc.daysDifference(entry.created) %></div>
                </div>
                
                
              </div>
              
              <div class="text">
              
                <div class="desc">"<span class="responseto"><%- responseTo %></span><%- entry.firstPost.text %>"</div>
              
                <div class="likes"><span class="star"></span><span class="count"><%- entry.firstPost.likes%></span></div>
              
                 <div class="reply">                 
                 <a href="index.html#reply" data-transition="slide" > <span class="btn">Reply</span></a>
                 <div class="clearb"></div>
                 </div>
                 
              </div>
              
              
              <div class="clearb"></div>
              
            </div>
            
          </div>
        <!-- debate module -->