<%
   
   var self = main.debate.data.firstPost,
       yesNo = CDW.utils.misc.yesNo(self.yesNo),
       key = "question_"+ main.question.data.id + "_vote",
       yourvote = (sessionStorage.getItem(key)) ? sessionStorage.getItem(key) : "",
       debates = main.debate.data.posts,
       sname   = self.author.username,
       tsname = sname.toTitleCase(),
       total  = main.debate.data.postCount;
       
%>
           
          
           
            <div class="content-wrapper">
               <div class="content">
                <div class="discussion"></div>
                  <div class="debates to">
                     <!-- debate module -->
                     <div class="debate" data-did="<%- main.debate.data.id %>" data-postid="<%- main.debate.data.id %>">
                        <div class="top"></div>
                        <div class="content">
                           <div class="user">
                              <div class="pic <%- yesNo %>">
                                 <div class="w" data-img="http://civildebatewall.s3.amazonaws.com<%- self.author.webImages.large %>">
                                 <!--img src="http://civildebatewall.s3.amazonaws.com<%- self.author.webImages.large %>" border="0" -->
                                 <img src="http://civildebatewall.s3.amazonaws.com/media/images/web/508554d6106dfe107400002c.jpg" border="0" />
                                 </div>
                              </div>
                              <div class="opinion <%- yesNo %>">
                                 <div class="yesno"><%- tsname %> says <%- yesNo %>!</div>
                                 <div class="date"><%- CDW.utils.misc.daysDifference(self.created) %></div>
                              </div>
                           </div>
                           <div class="text">
                              <div class="desc">"<%- self.text %>"</div>
                              <div class="likes"><span class="star"></span><span class="count"><%- self.likes%></span></div>
                           </div>
                           <div class="clearb"></div>
                        </div>
                     </div>
                     <div class="debates answar quickreply"></div>
                     <!-- debate module -->
                  </div>
                  
                     <div class="debates bottom">
                                         
                        <div class="top black"><span class="total"><%- total-1 %></span> replies to @<%- self.author.username %></div>
                     
                     <% for (var index = 1; index < debates.length; index++){  
                         var entry =  debates[index],
                             vote  = CDW.utils.misc.yesNo(entry.yesNo),                            
                             isResponse   = (entry.threadAuthor.username !== entry.author.username) ? true :  false,
                             responseTo = (!isResponse) ? "": "@"+entry.threadAuthor.username + " ",     
                             name   = entry.author.username,
                             tname = name.toTitleCase();
                             
                             
                     %>
                     <!-- debate module -->
                     
                     <div class="debate <%- vote %>" data-thread="<%- entry.thread %>" data-isresponse="<%- isResponse %>" data-postid="<%- entry.id %>" data-postid="<%- entry.id %>">
         
                     
                       
                        
                        <div class="content">
                            <div class="user">
                 <div class="pic <%- vote %>">
                  <div class="w" data-img="http://civildebatewall.s3.amazonaws.com<%- entry.author.webImages.large %>">
                  
                  <!--img src="http://civildebatewall.s3.amazonaws.com<%- entry.author.webImages.thumb %>" border="0" -->
                  <img src="http://civildebatewall.s3.amazonaws.com/media/images/web/508554d6106dfe107400002c.jpg" border="0" />
                  </div>
                </div>
                
                <div class="opinion <%- vote %>">
                  <%- tname %> says <div class="yesno"><%- vote %>!</div>
                  <div class="date"><%- CDW.utils.misc.daysDifference(entry.created) %></div>
                </div>
                
                
              </div>
                           <div class="text">
                               <div class="desc">"<span class="responseto"><%- responseTo %></span><%- entry.text %>"</div>              
                              <div class="likes"><span class="star"></span><span class="count"><%- entry.likes%></span></div>
                              <div class="reply"><span class="btn">Reply</span><div class="clearb"></div></div>
                           </div>
                           <div class="clearb"></div>
                        </div>
                     </div>
                     
                     <!-- debate module -->
                     
                     <% } %>
                     
                     
                       <div class="seemore">          
                         <span class="btn more">LOAD MORE</span>
                         <div class="loader"></div>
                         <span class="btn past">PAST DEBATES</span>          
                       </div>
        
                     
                    
                  </div>
               </div>
            </div>
            
            
            
            
 
         </div>
         