<div id="yesno-overlay" class="overlay">
      
         <div class="header">
            <span class="close"></span>
         </div>
         
         <div class="body">
            
            <div class="prompt-answar">
            <div class="textwrap">
               <div class="textcontainer">
               <span class="sm900">Great!</span>
               <div style="font-size:font-size:0.6em;font-weight:900">To contribute to a debate, first select YES or NO in response to the question and then you may debate away!</div>
               </div>
            </div>
            <div class="ques">
            <div class="textcontainer">Should children of undocumented immigrants be able to attend public schools?</div></div>
            <div class="btn-wrap">
               <div class="yes btn" data-vote="yes">yes!</div>
               <div class="no btn" data-vote="no">no!</div>
            </div>
            <div class="discussion">
               <div class="selected">
                  <div class="yes number">
                     <h1 class="one"><span>12 Aggree</span></h1>
                  </div>
                  <div class="no number">
                     <h1 class="one"><span>4 Disagree</span></h1>
                  </div>
                  <div class="clearb"></div>
               </div>
            </div>
            <div class="cancel btn">cancel</div>
            </div>
            
            
            
         </div>
         
         
         
         <div class="footer"></div>
         
      </div>