
<!--used in activity-->

<% if (main.debates.length > 0 || main.mostLiked) { %>
<div class="debates top">

<%
  
  
   if (main.debates.length > 0) {
   var dentry = main.debates[0],
       dself  = dentry.firstPost,
       isResponse   = (dself.threadAuthor.username !== dself.author.username) ? true :  false,
       vote = CDW.utils.misc.yesNo(dself.yesNo),
       responseTo = (!isResponse) ? "": "@"+dself.threadAuthor.username + " ";
%>

        <!-- debate module -->
          
          <div class="debate <%- vote %>  replyItem" data-question="<%- dself.question %>" data-thread="<%- dself.thread %>" data-isresponse="<%- isResponse %>" data-postid="<%- dself.id %>">
         
            <div class="top <%- vote %> noarrow"><a href="#">#1 Debated  |  <span class="big"><%- main.debates.length %> Responses</span></a></div>
            
            <div class="content">            
              
              <div class="user">
                <div class="pic <%- vote %>">
                  <div class="w"><!--img src="<%- main.imgUrl %><%- dself.author.webImages.large %>" border="0" /-->
                  <img src="<%- main.imgUrl %><%- dself.author.webImages.large %>" border="0" />
                  </div>
                </div>
                
                <div class="opinion  <%- vote %>">
                  <%- dself.author.username %> says <span class="yesno"><%- vote %>!</span>
                  <div class="date"><%- CDW.utils.misc.daysDifference(dself.created) %></div>
                </div>
                
                
              </div>
              
              <div class="text">
              
                <div class="desc">"<%- responseTo %><%- dself.text %>"</div>
              
                <div class="likes" data-thread="<%- dself.thread %>" ><span class="star"></span><span class="count"><%- dself.likes%></span></div>
              
                 <div class="reply" data-thread="<%- dself.thread %>" data-question="<%- dself.question %>"><span class="btn">Reply</span></div>
              
              </div>
              
              
              <div class="clearb"></div>
              
            </div>
            
          </div>
        <!-- debate module -->
 <% } %>       
        
 
 <%
 
 if (main.mostLiked) {  
  var  lentry = main.mostLiked,      
       isResponse   = (lentry.threadAuthor.username !== lentry.author.username) ? true :  false,
       vote = CDW.utils.misc.yesNo(lentry.yesNo),
       responseTo = (!isResponse) ? "": "@"+lentry.threadAuthor.username + " ";
%>


         <!-- debate module -->
          <div class="debate <%- vote %>  replyItem" data-question="<%- lentry.question %>" data-thread="<%- lentry.thread %>" data-isresponse="<%- isResponse %>" data-postid="<%- lentry.id %>">
            <div class="top <%-vote%> noarrow"><a href="#">#1 Liked  |  <span class="big"><%- lentry.likes%> Liked</span></a></div>
            
            <div class="content">            
              
              <div class="user">
                <div class="pic <%-vote%>">
                  <div class="w" data-img="<%- main.imgUrl %><%- lentry.author.webImages.large%>"><img src="ttp://civildebatewall.s3.amazonaws.com<%- lentry.author.webImages.large%>" border="0" /></div>
                </div>
                
                <div class="opinion">
                  Paul says <div class="yesno"><%-vote%></div>
                  <div class="date"><%- CDW.utils.misc.daysDifference(lentry.created) %></div>
                </div>
                
                
              </div>
              
              <div class="text">
              
                <div class="desc">"<span class="responseto"><%- responseTo %></span><%- lentry.text %>"</div>
                           
                <div class="likes" data-thread="<%- lentry.thread %>"><span class="star"></span><span class="count"><%- lentry.likes%></span></div>
              
                <div class="reply" data-thread="<%- lentry.thread %>" data-question="<%- lentry.question %>"><span class="btn">Reply</span></div>
              
              </div>
              
              
              <div class="clearb"></div>
              
            </div>
            
          </div>
        <!-- debate module -->
   <% } %>      
       
      </div>
 <% } %>      
      
      <div class="debates bottom">
         
          <% if (main.posts.length === 0) { %>
             <div style="text-align:center; padding-top:10px;">Sorry, currently you have no entries in your profile.</div>
          <% } %>
          
          <% for (var index = 1; index < main.posts.length; index++){  
                         var entry =  main.posts[index],
                             vote  = CDW.utils.misc.yesNo(entry.yesNo),                      
                             isResponse   = (entry.threadAuthor.username !== entry.author.username) ? true :  false,
                             responseTo = (!isResponse) ? "": "@"+entry.threadAuthor.username + " ",  
                             name   = entry.author.username,
                             tname = name.toTitleCase();
                             
                     %>
                     <!-- debate module -->
                     <!--div class="debate <%-vote%>" data-qid="<%- entry.id %>" data-postid="<%- entry.id %>"-->
                     <div class="debate <%- vote %>  replyItem" data-question="<%- entry.question %>" data-thread="<%- entry.thread %>" data-isresponse="<%- isResponse %>" data-postid="<%- entry.id %>">
         
                       
                        
                        <div class="content">
                            <div class="user">
                 <div class="pic <%- vote %>">
                  <div class="w" data-img="<%- main.imgUrl %><%- entry.author.webImages.large %>">
                  <img src="<%- main.imgUrl %><%- entry.author.webImages.thumb %>" border="0" />
                  </div>
                </div>
                
                <div class="opinion <%- vote %>">
                  <%- tname %> says <div class="yesno"><%- vote %>!</div>
                  <div class="date"><%- CDW.utils.misc.daysDifference(entry.created) %></div>
                </div>
                
                
              </div>
                           <div class="text">
                               <div class="desc">"<span class="responseto"><%- responseTo %></span><%- entry.text %>"</div>              
                              <div class="likes" data-thread="<%- entry.thread %>"><span class="star"></span><span class="count"><%- entry.likes%></span></div>
                              <div class="reply" data-thread="<%- entry.thread %>" data-question="<%- entry.question %>"><span class="btn">Reply</span><div class="clearb"></div></div>
                           </div>
                           <div class="clearb"></div>
                        </div>
                     </div>
                     
                     <!-- debate module -->
                     <% } %>
                     
        
        <div class="seemore">          
          <div class="loader"></div>
        </div>
        
      </div>