/* BASE */

html {
	height: 100%;
}

body {
 background:#000;
 font-family:museo-slab,serif;
 font-style:normal;
 margin:0;
 padding:0;
 height: 100%;
 font-size:1em;
}

/* Header*/

ul.nav {
 list-style:none;
 width:100%;
 height:48px;
 border-bottom:1px solid #3c3c3c;
 border-top:1px solid #3c3c3c;
 margin:0;
 padding:0;
 position: fixed;
 background:#000;
}

ul.nav li {
 float:left;
 cursor:pointer;
 display:block;
 line-height:48px;
 text-align:center;
 text-transform:uppercase;
 background:#000;
 color:#fff;
 font-size:0.6em;
 font-weight:900;
}


ul.nav li.active {
  background:#fff;
  color:#000;
}

ul.nav li a{
 text-decoration:none;
 color:#fff; 
}

ul.nav li.active a{
  color:#000;
}

ul.nav li.left, ul.nav li.left {
 width:20%; 
}

ul.nav li.middle {
 width:52%;
 font-weight:500;
}

ul.nav li.right {
 width:27.9%;
 background:#262626;
 border-left:1px solid #3c3c3c;
}

ul.nav li.right a {
 float:right;
 display:block;
 width:40px;
 height:48px;
 background:url("images/profileBtn.png") no-repeat scroll 0 12px transparent;
}


/* Header*/

/*Global*/

.arrow-w {
  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  display: -moz-inline-box;
  display: inline-block;
  font-size:0.8em;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
}

.arrow-w {
  border-right-width: 0.8em;
  border-right-style: solid;
  border-right-color: #fff;
  right: 0.25em;
  bottom:0.15em;
}


.spacer {
  width:100%;
  height:55px;
}

.sm8 {
  font-size:0.8em
}

.sm9 {
  font-size:0.9em
}

.textgrey {
  color:#808080;
}

.btn {
 background:#f1f1f1;
 -moz-border-radius:6px;
 -webkit-border-radius:6px;
 border-radius:6px;
 border:1px solid #ced0d1;
 display:inline-block;
 color:#333;
 font-weight:900;
 text-decoration:none;
 cursor:pointer;
 padding:15px 24px;
 text-transform:uppercase;
 text-align:center;
}

.btn:hover{
  background:#b9bcbe;
}

.yes.btn {
 background:#00b7ff;
 color:#fff;
 font-weight:900;
 text-transform:uppercase;
 width:30%;
 margin-right:7%;
 font-size:1.4em;
 text-align:center;
 border:0px;
}

.no.btn {
background:#FF5A00;
color:#fff;
font-weight:900;
text-transform:uppercase;
width:30%;
font-size:1.4em;
border:0px;
}

.yes.sel {
 margin-right:7%;
}


.yes.sel, .no.sel {
 display:inline-block;
 padding:15px 24px;
 width:30%;
 border:0px; 
}

.yes.sel {
  color:#0073ff;
  background:url("images/yes-sel-bg.png") repeat-x scroll 0 22px transparent;
}



.no.sel {
  color:#ff5900;
   background:url("images/no-sel-bg.png") repeat-x scroll 0 22px transparent
}

.btn-wrap, .discussion .selected {
   text-align:center;
}

.error input {
  margin-right:10px;
  border:1px #f00 solid;
}

.error-msg:before {
   padding: 2em;
}

.error-msg {
  color:#f00;
  font-size:0.8em;
}


/*Global*/

/*Question Section*/


.question {
margin-top:0px;
border-bottom:1px solid #FF5A00;
border-top:1px solid #68B7FD;
height:100px;
font-size:1.25em;
font-weight:900;
}

.question .text {
color:#fff;
float:left;
width:66%;
margin:10px 0 0 2.5%;
cursor:pointer;
}

.question .reply {
float:right;
margin:0 2.5% 0 0;
}

.question .reply a {
background:url(images/replay.png) no-repeat -5px 15px;
width:56px;
height:100px;
display:block;
}


/*Question Section*/

/* content wrapper*/

.content {
 width:95%;
 margin:10px 2.5% 0;
}

.content-wrapper {
 background:#333;
 padding-top:5px;
 margin-top:10px;
}

/*content wrapper*/


/*footer*/
#footer-container {
  text-align:center;
  padding:20px 0 20px 0;
}

.pagefooter{
  margin:0 auto;
  padding:0;
  list-style-type: none;
  color:#a6a8ab;
  line-height:20px;
  text-transform:uppercase;
  font-size:0.5em; 
  width:210px;
  text-align:center;
  font-weight:500;
}
 
.pagefooter li { float: left; }
.pagefooter li a {
  color:#a6a8ab;
  text-decoration:none;
}
.pagefooter li.pipe:after { content: "|"; padding: 0 .8em; }
.pagefooter li.center:before { content: ""; padding: 1.2em; }

/*footer*/

/* comments*/

#comments .content .debates.to {
border-bottom-left-radius:0;
border-bottom-right-radius:0;
-webkit-border-bottom-left-radius:0;
-webkit-border-bottom-right-radius:0;
-moz-border-bottom-left-radius:0;
-moz-border-bottom-right-radius:0;
background:none;
}

#comments .content .debates {
  min-height:70px;
}

#comments .content .debates.to .debate{
  background:#fff;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-top-left-radius:5px;
  -moz-border-top-right-radius:5px;
}

#comments .content .debates.to .debates.answar {
margin-top:0;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
-moz-border-bottom-left-radius:5px;
-moz-border-bottom-right-radius:5px;

border-top-left-radius:0;
border-top-right-radius:0;
-webkit-border-top-left-radius:0;
-webkit-border-top-right-radius:0;
-moz-border-top-left-radius:0;
-moz-border-top-right-radius:0;

}

#comments .bottom .debate:first-child {
  padding-top:0;
}

#comments .top.black {
  margin-bottom:10px;
}


/* feeds */

#feeds #footer-container {
  display:none;
}

#feeds {
  margin:0;
  padding:0;
}

/* feeds*/

/* photos */

#photo .question .text {
    margin:40px 0 0 2.5%
}
  
#photo .instruction .added {
  margin-top:60px;
}

 #profile ul.nav li.left a, #photo ul.nav li.left a {
      width:15%;
      font-size:0.75em;      
 }
 
 .container {
   color:#fff;
 }
    
#photo .instruction .add{
  text-transform:uppercase;
}

#photo .instruction .added{
  font-size:1.5em;
}

#photo .instruction .w {
  margin:10px 0 10px 0;
}

#photo .instruction .w img{
  width:35%;
  min-width:35%;
}


#photo .save .btn{
  width:30%;
  text-align:center;
  float:right;  
}

/* photos */

/* Discussion */

.line {
 clear:both;
 background:#f1f1f1;
 height:1px;
 width:100%;
}


.discussion .selected .number {
 border:0;
 display:inline-block;
 text-transform:uppercase;
 width:40%;
 margin:10px 10px 0 0;
}


.clearb {
clear:both;
}

h1 {
 position:relative;
 margin-top:20px;
}

h1.one {
margin-top:0;
font-size:1em;
text-align:center;
}

h1.one:before {
content:"";
display:block;
border-top:0;
width:100%;
height:1px;
position:absolute;
top:50%;
z-index:1;
}

h1.one span {
background:#333;
position:relative;
z-index:5;
text-transform:none;
padding:0 2%;
}

.yes.number h1.one:before {
border-top:solid 1px #0073ff;
color:#0073ff;
}

.no.number h1.one:before {
border-top:solid 1px #ff5900;
color:#ff5900;
}

.no.number h1.one span {
color:#ff5900;
}

.textblue,.yes.number h1.one span {
color:#0073ff;
}

.discussion .aggree, .discussion .disagree {
 font-size:2em;
 width:50%;
 float:left;
 padding:20px 0 10px;
}

.discussion .aggree {
  text-align:right;
  padding-right:40px;
  width:47%;
  font-size:0.7em;
  font-weight:700;
}
.discussion .disagree {
 text-align:left;
 width:40%;
 font-size:0.7em;
 font-weight:700;
}

.line {
 clear:both;
 background:#f1f1f1;
 height:1px;
 width:100%;
}

.discussion .btn-wrap, .discussion .selected, .discussion .total, .discussion .answar{
  display:none;
}

/* Discussion */


/** OVERLAY **/

.overlay {
    backgound:#000;
    position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	width:100%;

	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/

	min-height:100%; /* real browsers */
	
}

.overlay {
		min-height:100%;
		position:relative;
}

.prompt-answar .btn-wrap .btn.select {
  background:gray;
}

.overlay .body .prompt-auth .textwrap{
  margin-top:0;
}

.overlay .header {
		background:#68B7FD;
		height:25px;
}

.overlay .header .close {
  display:block;
  width:30px;
  height:30px;
  margin:0;
  padding:0;
  float:right;
  background:url('images/close_sm.png') 0 0 no-repeat;
  margin-top:3px;
}

.overlay .header span{
  float:right;  
  margin:12px 2% 0 0 ;
  color:#eefaff;
  font-size:1em;
}

.overlay .body {
  text-align:center;
  font-size:2em;
  color:#fff;
  min-height:450px;
}

.overlay .row { 
  width:100%
  text-align:left;
  margin-top:10px;
}

.overlay .body .textwrap{
  width:90%;
  text-align:center;
  margin:95px 0 0 5%;
}

.overlay .body .formwrap{
  width:70%;
  margin:0 0 0 15%;

}

.overlay .body .textwrap p{
  height:17px;
  display:block;
}

#login_or_signup_form input{
  height:45px;
  width:100%;
}



#login_or_signup_form .btn {
  text-transform:uppercase;
  font-size:0.5em;
  font-weight:700;
  width:77%;
}
.overlay .body .ques{
  border-top:#ff5a00 2px solid;
  border-bottom:#00b7ff 2px solid;
  margin:20px 0 20px 0;
  padding:20px 0 20px 0;
}

.overlay .body .btn-wrap {
 padding-top:80px;
 margin-left:0;
}

.overlay .discussion .selected, .overlay .btn-wrap {
  margin-left:0;
}

.overlay .discussion .selected .number {
    width: 37%;
}

.overlay h1.one {
  font-size:0.5em;
}


.overlay h1.one span {
  background:#000;
}
.overlay .body .btn-wrap .yes.btn, .overlay .body .btn-wrap .no.btn{
  font-size:1em;
  
}

.overlay .footer {
		position:absolute;
		bottom:0;
		width:100%;
		height:25px;			/* Height of the footer */
		background:#ff5a00;
}

.overlay .big {
  font-size:0.75em;
  font-weight:900;
}

.overlay .sm5 {
  font-size:0.5em;
  font-weight:500;
}


.divider {
 margin:10px 0 10px 0;
 width:100%;
 text-align:center;
}

.overlay .intro {
  margin:10px 0 10px 0;
}

#login_or_signup_form .btn {
    padding:10px 24px;
}

.sbtn img, .sbtn img{
  width:100%;
}

/** OVERLAY **/

/*STATS*/


#stats .bottom .debate {
  padding-top: 0;
}  

#stats .bottom .debate .content {
  margin-top:10px;
}


#stats .debates.bottom.liked, #stats .debates.bottom.debated{
  display:none;
}

.opinion-bar{
   background:#ff5900;
   height:75%;
   min-height:75%;
   position:relative;
   display:none;
}

.opinion-bar .bar{
  width:100%;
  min-height:60px;
}

.opinion-bar .text{
  text-align:center;
  color:#fff;
  font-size:2em;
}

.opinion-bar .yes {
  background:#00b7ff;
  min-height:200px;
}

.opinion-bar .yes .text{
  padding-top:130px;
}

.opinion-bar .no { 
  width:100%;
}

#stats .stats-tab {
  padding-bottom:15px;
}

#stats .stats-tab .btn{
  text-align:center;
  width:16%;
  font-size:0.4em;
  font-weight:900;
}

      #triangle-blue {	
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 50px 200px 0 200px;
        border-color: #00b7ff transparent transparent transparent;
      }
      
      #triangle-orange {	
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 200px 50px 200px;
        border-color: #ff5900 transparent transparent transparent;
        background:#00b7ff;
      }
      
.top.black {
  background:#000;
}

/*STATS*/

/*Debates*/

.debate:hover {
 -moz-transition: background-color 0.5s linear;
 -o-transition: background-color 0.5s linear;
 -webkit-transition: background-color 0.5s linear; 
}

.debate .responseto {
  font-weight:bold;
}


.debate.no:hover {
  background:#ffe5d8; 
}

.debate.yes:hover {
  background:#d9f5ff;
}

.bottom .debate {
padding-top:10px;
border-bottom:1px solid #f1f1f1;
}

.debate .content .text .reply {
 width:100%;
 padding-bottom:10px;
}

.debate .content .text .reply .btn, #feedsform .btn, #commentsform .btn {
    font-size:0.5em;
    font-weight:700;
    padding:10px 17px;
}

.debate .content .text .reply .btn {
    float: right;    
}

.debate div.top {
display:block;
width:99.999%;
height:26px;
border-top-left-radius:5px;
border-top-right-radius:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-moz-border-top-left-radius:5px;
-moz-border-top-right-radius:5px;
text-align:center;
color:#fff;
padding-top:7px;
text-transform:uppercase;
}

.likes .star {
  height:26px;
  width:100%;
}

.likes .star {
   background:url('images/likes.png') 0 0 no-repeat;
   width:26px;
   height:26px;
   display:block;
   float:left;
}

.likes .count {
  display:block;
  float:left;
  margin:7px 0 0 7px;
}

.debate div.top a{
  text-decoration:none;
  color: #fff;
  font-size:0.5em;
  font-weight:700;
}

.blue, .pic.yes, .top.yes {
  background:url(images/arrows.png) no-repeat scroll 98% 5px #68B7FD;
}

.orange, .pic.no, .top.no {
  background:url(images/arrows.png) no-repeat scroll 98% 5px #FF5A00;
}

.orange, , .top.no {
  background:url(images/arrows.png) no-repeat scroll 98% 5px #FF5A00;
}

.pic.no {
  background:#FF5A00;
}

.debate .content {
width:97%;
margin:10px 1.5% 0;
}

.debate .content .user {
width:15%;
float:left;
}

.debate .content .user .pic {
border:1px #a6a8ab solid;
border-bottom:0;
padding-bottom:5px;
}

.debate .content .user .opinion {
 font-size:0.5em;
 font-family: Helvetica;
 font-weight:bold;
 padding:10px 0;
}

.debate .content .user .opinion.yes {
color:#68B7FD;

}

.debate .content .user .opinion.no {
 color:#ff5900;
}

.debate .content .user .opinion .yesno {
text-transform:uppercase;
}

.debate .content .user img {
width:100%;
}

.debate .content .user .date {
color:#a6a8ab;
margin-top:5px;
}

.debate .content .text {
float:left;
margin-left:1.7%;
width:83%;
}

.debate .content .text .desc {
 width:100%;
 min-height:45px;
 font-size:0.5em;
 font-family:Helvetica;
}

.debate .content .text .reply {
width:100%;
padding-bottom:10px;
}



.debate.total {
 padding-bottom:10px;
 background:#333;
 text-align:center;
}

.debate.total .top {
 background:#000;
 color:#fff;
 text-transform:uppercase;
 font-weight:700;
 font-size:0.5em;
}

.debate.total .btn a{
  color:#727272;
  text-decoration:none;
  font-size:0.4em;
  font-weight:900;
}

.debate.total .content {
background:#fff;
width:100%;
min-height:100px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
-moz-border-bottom-left-radius:5px;
-moz-border-bottom-right-radius:5px;
margin:0;
padding:0;
}

.debate.total .line {
    margin-bottom:7px;
 }
  

.content .debates {
 margin-top:10px;
 background:#fff;
 width:100%;
 min-height:100px;
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 border-radius:5px;
}

#feedsform, #commentsform {
    margin: 0 2.5%;
}

#feedsform, #commentsform {
  margin:0 2.5% 0 2.5%;
}

#feedsform  .btn, #commentsform .btn {
  float:right;
}

#feeds #feedsform input, #feeds #commentsform input {
  height:32px;
  float:left;
  width:76%;
  background:#f1f1f1;
  border:1px solid #b9bcbe;
}

#comments #feedsform input, #comments #commentsform input {
  height:32px;
  float:left;
  width:70%;
  background:#f1f1f1;
  border:1px solid #b9bcbe;
}

#comments .debate div.top {
  height:0;
}



#commentsform .text.yes {
  color:#0073ff;

}

#commentsform .text.no {
  color:#ff5900;
}


#feedsform .text, #commentsform .text {
    font-size: 0.5em;
    font-family: Helvetica;
    font-weight:bold;
    padding-top: 10px;
    text-transform: uppercase;
}
.textblue, .yes.number h1.one span {
    color: #0073FF;
}

.textorange {
color:#FF5A00;
}

/*Debates*/

/* media query*/

/*iPhone in landscape*/
@media screen and (min-width: 321px){
  
  #stats .stats-tab .btn{
    width:21.9%;
  }

}

/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  
  ul.nav li {
    font-size:0.875em;
  }
  
  ul.nav li.middle {
    font-size:0.8em;
  }
  
  .question {
    font-size:1.3em;
  }
  
  .question .text {
    width:86%;
    text-align:center;
  }
  
  .yes.btn, .no.btn {
    padding: 30px 24px;
    font-size:1.8em;
  }
  
  .debate.total .top {
    font-size:0.8em;
  }
  
 
  .discussion .aggree, .discussion .disagree {
   font-size:1.6em;
   font-weight:700;
  }
  
  
  
  
  .debate.total .btn a{
    font-size:0.8em;
    font-weight:900;
  }
  
  .debate.total .content {
    min-height:128px;
  }
  
  .debate div.top a{
    font-size:0.75em;  
  }
  
  .debate .content .user .opinion.no {
   font-size:0.75em;
  }
  
  .debate .content .text .desc {
   font-size:1em;
   font-family:Helvetica;
   min-height:90px;
  }
  
  
  .debate .content .text .reply .btn, #feedsform .btn, #commentsform .btn {
     padding: 15px 24px;
  }
  
  #feedsform input, #commentsform input {
    height:45px;
    width:85%;
  }
  

  
  .overlay .header, .overlay .footer {
    height:45px;
  }
  
  .overlay .big {
    font-size:2.25em;
    font-weight:900;
  }

  .overlay .sm5 {
    font-size:1.25em;
    font-weight:500;
  }
  
  #login_or_signup_form input  {
    height:80px;
    width:100%;
     margin-top:10px;
    
  }
  
  #login_or_signup_form .btn {
    text-transform:uppercase;
    font-size:1.125em;
    font-weight:700;
    width:90%;
    padding:15px 24px;
     margin-top:10px;
  }
  
  .overlay .body {
    min-height:1100px;
  }
  
  .divider {
   margin:30px 0 10px 0;
  }
  
  .overlay .row { 
  margin-top:40px;
}
  

}  


